[2014-04-25 17:51] dpsnowden opened #10 "Clarify when metadata is read from global attributes vice inferred from file."
There has recently been a long discussion on the [ACDD](http://wiki.esipfed.org/index.php/Category:Attribute_Conventions_Dataset_Discovery) list discussing the relative merits of including metadata as global attributes when that metadata could (or should) be computed from the actual data in the file.  The classic example is including elements describing spatio-temporal bounds in global attributes

[2014-05-08 20:14] abirger opened #11 "compliance-checker fails to process CO-OPS GetCaps template"
I tried compliance-checker with the CO-OPS templates that have been recently distributed on ioostech_dev, and it remained quiet for a while, then gave me just one phrase  - “The following tests failed:”, and exited to a command prompt. Probable cause: template file size.

[2014-05-30 20:42] daf opened #12 "Better text output"
Methods for printing need to be cleaned up and merged for redundancy.

[2014-05-30 20:43] #11 closed, assigned to nobody

[2014-06-13 18:58] DanielJMaher opened #13 "Valid_coordinates not functioning properly"
When a non Lat,Lon,Time,Elevation dimension is given as a coordinate, and it is not a coordinate varaible, an error was being raised.  That case should pass this check as only lat,lon,time,elev dimensions are checked here.

[2014-06-13 21:08] DanielJMaher opened #14 "Cell Boundaries"
The Cell Boundaries Check is not properly finding the length of the variable and the length of the cell boundary variable.  This is causing inaccurate failures.

[2014-06-24 21:17] oychang opened #15 "ACDD 'name' get raises TypeError"
# Traceback

[code]

Tested on fresh installs of compliance-checker==0.2.0, petulant-bear==0.1.2 installed through pip under OSX 10.9.3 and Ubuntu 14.04, python 2.7.5.
# Solution

Replace `v.attrib.get(...)` with `v.get(...)` in acdd.py:91. Then everything works as expected! Seems to be related to the changes to NcVarAttrib in ioos/petulant-bear@b58277a

[2014-06-25 15:56] #15 closed, assigned to nobody

[2014-06-25 15:58] dpsnowden opened #17 "Prep for 1.0 release"
Let's get a few extra pairs of eyes on the documentation and installation instructions before declaring v1.0.  Call it 1.0.0-RC1 ???

I suggest @emiliom, @danramage, @jcothran, and @rsignell-usgs as good testers for this release.

[2014-07-07 21:07] oychang opened #19 "CF check_data_types fails for certain char types"
Consider the following excerpt:

[code]

[code]

`|S1` should be an homogenous array of single characters,  i.e. equivalent to `numpy.character`. This equivalence is further suggested by [this example from the numpy documentation](http://docs.scipy.org/doc/numpy/reference/generated/numpy.typename.html#numpy.typename).

A possible solution would be to add `|S1` to the list of allowed types in [cf.p

[2014-07-07 21:16] oychang opened #20 "CF: Greedy exception catching masks check_missing_data failure"
The test for `valid_coordinate_attribute` will always fail as a result of a numpy syntax error causing a ValueError to be thrown and interpreted as a test failure in [cf.py](https://github.com/ioos/compliance-checker/blob/a758e165ba4a08a336a523a8da73dc68264897ee/compliance_checker/cf/cf.py#L2963). Without the try-except block, we get the following traceback:

[code]
# Versions

Python 2.7.5, numpy

[2014-07-07 21:23] oychang opened #21 "CF: check_two_dimensional doesn't use COARDS/CF-compatible method of determining lat/lon"
Given the following dimensions and variables, we fail:

[code]

[code]

This seems to be because [cf.py determines if a coordinate is lat/lon by checking variable name](https://github.com/ioos/compliance-checker/blob/a758e165ba4a08a336a523a8da73dc68264897ee/compliance_checker/cf/cf.py#L1456) rather than the proper way of [knowing based on units](https://github.com/ioos/compliance-checker/blob/a758

[2014-07-08 15:11] daf opened #22 "Reenable Udunits installation"
In a22b4883 I disabled udunits from requirements, but without it, the CF checker crashes.  Needs to be reenabled, and the comment addressed (won't install on centos/rhel?).

[2014-07-08 17:57] #19 closed, assigned to nobody

[2014-07-09 19:03] #20 closed, assigned to nobody

[2014-07-09 19:08] DanielJMaher opened #25 "Missing Data Check will not work with coordinates that are multidimensional"
The enumerate function will not properly find the missing data indices.  Must change to np.where

[2014-07-10 14:51] DanielJMaher opened #28 "Check is_reduced_horizontal_grid is wrong"
The check for is_reduced_horizontal_grid is not properly discriminating against datasets that aren't reduced horizontal grids.

[2014-07-10 19:52] #25 closed, assigned to nobody

[2014-07-10 19:55] #21 closed, assigned to nobody

[2014-07-12 15:27] rsignell-usgs opened #33 "Check for ugrid compliance"
Eventually it would be nice to check for UGRID 0.9 compliance
https://github.com/ugrid-conventions/ugrid-conventions/blob/v0.9.0/ugrid-conventions.md
perhaps using some code from pyugrid
https://github.com/pyugrid/pyugrid

Is that on the roadmap?

[2014-07-12 17:25] #13 closed, assigned to nobody

[2014-07-14 14:51] daf opened #34 "Trap errors in checks"
Right now, checks bomb out completely when errors occur.  This is fine for debugging/development, but should be captured/recorded and allowed to continue.

Errors that occur in each check suite should be output above the normal report - just the error message/what check|suite caused it in normal mode, but with verbose on (or maybe to level 2) should give the full traceback.

[2014-07-14 16:47] #22 closed, assigned to nobody

[2014-07-14 20:46] #34 closed, assigned to daf

[2014-07-14 20:48] daf opened #36 "Skip CF DSG checks if dataset is not DSG"
Currently, the CF checker returns failures for DSG related checks that do not apply.  In our current framework, they should be skipped, not executed.

[2014-07-15 15:28] #14 closed, assigned to nobody

[2014-07-16 14:52] daf opened #37 "Overhaul of scoring concept"
This issue meant for discussion, including but not limited to @dpsnowden, @rsignell-usgs, @kwilcox, @DanielJMaher, @lukecampbell, @oychang ...

The scoring system currently in the compliance-checker feels not up to par.  This issue attempts to explain how it got to be the way it is, and where to go from here.
### Initial Design

The initial design goals were this:
- Score a dataset by multiplying

[2014-07-16 16:16] DanielJMaher opened #38 "Incorrect Check name for horz_crs_grid_mappings_projections"
Result object is returning a check name of compressed_data and not horz_crs_grid_mappings_projections

also a typo "valid_capping_count" instead of "valid_mapping_count"

also 'if name_again in self.grid_mapping_dict[mapping][1]:' should be looking at the variables standard_name

[2014-07-16 17:07] #36 closed, assigned to nobody

[2014-07-16 17:18] DanielJMaher opened #40 "check_geographic_region needs to allow uppercase"
check_geographic_region check only allows regions that are all lowercase

[2014-07-16 20:09] DanielJMaher opened #41 "check_alternative_coordinates must be fixed"
Not properly checking for alternative coordinate variables

[2014-07-16 20:21] DanielJMaher opened #42 "check_alternative_coordinates not checking properly"
This check should look for all singled dimensioned variables that are not coordinate variables, but are used as a coordinate.

[2014-07-16 21:40] DanielJMaher opened #43 "check_packed_data needs a ret_val.append(result)"
if type(data_type_check) == type(scale) == type(offset): block needs ret_val append

[2014-07-16 21:45] DanielJMaher opened #44 "check_compression needs cleanup"
the check is iterating through the variables an extra time.  Clean up would be nice.

[2014-07-16 22:15] DanielJMaher opened #45 "cleanup for check_all_features_are_same_type"
stillusing len(var.shape) instead of ndim.  stillusing names instead of units for x,y,z

[2014-07-17 13:11] #42 closed, assigned to nobody

[2014-07-17 14:00] #38 closed, assigned to DanielJMaher

[2014-07-17 14:00] #40 closed, assigned to DanielJMaher

[2014-07-17 14:00] #41 closed, assigned to nobody

[2014-07-17 14:00] #43 closed, assigned to nobody

[2014-07-17 14:00] #44 closed, assigned to nobody

[2014-07-17 14:00] #45 closed, assigned to nobody

[2014-07-17 22:14] daf opened #49 "Ensure tests use resource/package data properly to get test files"

[2014-07-17 22:14] daf opened #50 "README up to date"

[2014-07-17 22:15] daf opened #51 "Add License file"
LGPLv3

[2014-07-17 22:34] daf opened #52 "Travis-CI integration"

[2014-07-17 22:35] daf opened #53 "Enhance ACDD's attr/val checks to return messages indicating failures"

[2014-07-17 23:01] daf opened #54 "Print failures without verbose setting"
Print tree/table with only the failures and failure messages without needing `-v`.

`-v` should print entire test suite.
`-v -v` should possibly print debugging info (or leave same as `-v` for now)

[2014-07-17 23:10] #53 closed, assigned to daf

[2014-07-17 23:10] #10 closed, assigned to daf

[2014-07-17 23:11] daf opened #56 "Reduce size of included test datasets"
@DanielJMaher can we reduce the size of test-data/mapping.nc, currently it is 18mb and we can't distribute something that large.

[2014-07-18 14:08] #51 closed, assigned to daf

[2014-07-18 15:01] #56 closed, assigned to DanielJMaher

[2014-07-18 16:01] #49 closed, assigned to daf

[2014-07-18 16:15] #28 closed, assigned to DanielJMaher

[2014-07-18 16:43] #54 closed, assigned to daf

[2014-07-18 17:08] #50 closed, assigned to daf

[2014-07-18 18:33] #17 closed, assigned to daf

[2014-07-20 11:46] duncombe opened #59 "Help text in compliance checker"
Looking at the readme, output from `compliance-checker --help` is shown, but I cannot grep help anywhere in the compliance-checker code. Where is this help text generated?

[2014-07-21 14:10] #59 closed, assigned to nobody

[2014-07-21 15:22] daf opened #60 "Plugin system for checkers"
This is a future issue.

Checkers should be done in a manner to allow independent authoring.  Typical Python approach to this is namespace packages, but caused me so much grief during initial packaging that I don't really want to revisit (nor is it a perfect solution anyway).

This looks like a great alternative: https://github.com/mitsuhiko/pluginbase

[2014-07-21 16:35] duncombe opened #61 "Installation problems on windows"
I'm trying to test compliance-checker under windows with anaconda. `pip install compliance-checker` is freaking out with:
[code]
@dpsnowden suggests it's probably related to the way PyTables or netcdf4-python were installed in conda for windows, and that @rsignell-usgs may have insight having installed related packages on windows.

[2014-07-21 18:23] daf opened #62 "Alternative to udunitspy"
The udunitspy library is a swig wrapper (hard to install) around udunits, and udunits does not work/install on Windows properly.

@dpsnowden suggests perhaps making a pure python port (one may already exist) - I briefly looked and it seemed reasonable.

@abirger suggests perhaps a udunits webservice that can be optionally hit from the compliance-checker.  We could make udunitspy an optional depend

[2014-07-21 19:29] rsignell-usgs opened #63 "No valid checkers found for tests 'acdd'"
I'm trying to follow the example from the README.md here
http://nbviewer.ipython.org/gist/rsignell-usgs/9b013520225da13fe455
but getting `no valid checkers found ...`

Do I need to import something else?

[2014-07-21 20:00] #63 closed, assigned to nobody

[2014-08-18 14:51] lukecampbell opened #65 "Installation problems on Ubuntu"
There is an issue installing compliance checker on Ubuntu (Version to be filled in).

Installing udunitspy, a dependency of compliance checker, is reporting the lack of a swig executable.

SWIG is a library or tool that is used to create bindings, or an interface between a python module and a dynamically linked library written in C/C++ (or another compiled language) that is usually native to the o

[2014-08-18 19:04] mbiddle-nodc opened #67 "TypeError when running acdd test"
The checker works fine for CF and for IOOS, but runs into an issue with ACDD.

$ compliance-checker --test=acdd -v http://data.nodc.noaa.gov/thredds/dodsC/testdata/mbiddle/carocoops.sun2.buoy_2013_12_31_02.nc
Running Compliance Checker on the dataset from: http://data.nodc.noaa.gov/thredds/dodsC/testdata/mbiddle/carocoops.sun2.buoy_2013_12_31_02.nc
Traceback (most recent call last):
  File "/home/

[2014-09-28 02:39] emiliom opened #69 "Support and check for other IOOS-approved vocabularies"
Based on a scan of the code and the docs, it looks like the compliance checker only checks for CF standard_names, for observed properties. But that's not the only "IOOS approved" vocabulary for observed properties; see [the IOOS vocabularies doc](https://github.com/ioos/vocabularies/blob/master/README.md).

There also a few other, smaller vocabularies developed by IOOS and hosted on MMI that are p

[2014-10-10 18:43] mbiddle-bcodmo opened #70 "Amount of data within file affects run time"
This isn't an error but more of a question. What is actually causing the script to run soo slow when the data within the file is increased? For example, I have one file that is 325MB, which has been reduced down to 41KB by clearing out some (a lot) of the data points. All of the variables and attributes have stayed exactly the same, only the dimensions and amount of data has changed. When I run th

[2014-10-15 18:55] dpsnowden opened #71 "Compile Glider DAC v2.0 requirements so that we can estimate the work needed for Glider checks."
@kknee, this fell off the plate during the last round of development because we hadn't yet solified the glider format.  Once you and @kerfoot are certain that the ioos/ioosngdac file description is accurate, we need to include this in our release planning for the next phase of development.  I expect that there will be other more granular issues all attached to this milestone.  This issue is just t

[2014-10-22 21:17] DanielJMaher opened #72 "Line 1340 of the cf.py might have an error in the implementation"
@kerfoot John's glider nc files were failing the check independent axis dimension test even though they appear to be right.  Error might be in line 1340, or around.

[2014-10-30 18:14] kknee opened #74 "Add checks for glider specific variables"

[2015-01-30 21:47] abirger commented on #61
@rsignell-usgs , @daf , @lukecampbell : Any news from the Windows battle-front? Should I invest time into squeezing my way through the countless problems with Windows native installation, or rather spend it on Linux virtual machine?..

[2015-02-03 04:02] kknee commented on #61
@abirger - I would continue to stick with Linux at this point.

[2015-02-03 14:32] rsignell-usgs commented on #61
The one hurdle for running the compliance checker on Windows is the dependence on the [udunitspy](https://github.com/blazetopher/udunitspy).    Although the udunits2 library is available on Windows, the udunitpy build script uses unix-like syntax that doesn't work on windows.   See this issue: https://github.com/Unidata/UDUNITS-2/issues/3#issuecomment-72639479

[2015-02-03 14:33] rsignell-usgs commented on #61
@kknee, I bet if we had 30 min of @blazetopher time we could fix this.  Let me know if that's posssible.

[2015-02-03 18:00] kknee commented on #61
@rsignell-usgs,  @blazetopher chatted about this a while back and my impression was that it would take more than 30 min.

@blazetopher - please chime in if I misunderstood.

[2015-02-03 18:07] rsignell-usgs commented on #61
@blazetopher tells me @lukecampbell is our man.

[2015-02-03 18:14] abirger commented on #61
@rsignell-usgs , will it help if I have MinGW/msys installed, and can run Unix command in Bash scripts?..

[2015-02-03 18:16] rsignell-usgs commented on #61
@abirger, we could hack it that way, but Cmake would be a better route for the future.  For someone who knows Cmake, I think it would take 30 min.   For someone who doesn't, substantially more time, as @kknee noted.

[2015-02-03 19:06] lukecampbell commented on #61
@lukecampbell says that udunitspy right now is not compatible with Windows. Getting udunitspy to be compatible with windows isn't in the scope of compliance checker right now. Cmake isn't the issue I think. udunitspy uses swig to create the bindings compile either a (.dll, .so or .dylib) which allows the python interpreter to call udunits methods. I don't know what the level of effort is to update

[2015-02-03 19:06] daf commented on #61
(pssst: #62)

[2015-02-03 19:07] lukecampbell commented on #61
Yeah, that's from my recommendations early on.

[2015-02-03 19:15] dpsnowden commented on #62
FWIW  this exists http://coastwatch.pfeg.noaa.gov/erddap/convert/units.html

[2015-02-03 19:16] daf commented on #62
Webservice?  Awesome!

[2015-02-03 19:54] rsignell-usgs commented on #61
Sure, it's Swig.  But basically isn't it just taking the lib and include requirements from here
https://github.com/blazetopher/udunitspy/blob/master/setup.py#L34-L70
and putting it into the CMake config file?
http://www.swig.org/Doc1.3/Introduction.html#Introduction_build_system

So when I said 30 min, I meant 30 min for someone who knew Swig working with someone who knew CMake (could be the same

[2015-02-03 20:32] rsignell-usgs commented on #61
Here's an example of a conda-recipe that uses Cmake for Mac, Linux and Windows:
https://github.com/conda/conda-recipes/tree/master/libdynd

[2015-02-10 20:33] abirger commented on #65
@lukecampbell , tried the Ubuntu instruction with the Linux Mint 32bit running in VirtualBox. The udunits installation failed at './config':

[code]

[2015-02-11 20:48] abirger commented on #65
@lukecampbell , @kknee , @rsignell-usgs , @dpsnowden , @carmelortiz , here is the summary of my compliance-checker installation with the Linux in VirtualBox (the mileage may vary in case of native Linux):
With 32bit Linux Mint - complete failure:
- "conda" method did not work with 32bit Linux because only rsignell/udunitspy for 64bit exists.
- "pip" method stopped when udunits compilation failed:

[2015-02-11 21:19] dpsnowden commented on #65
I view this as further evidence that as we develop software, we need  a little more attention to dependencies, documentation, cross platform support, etc.  Our goal should be to test these types of packages in environments average science users use and not professional software engineers.  I'm  not sure there is a direct action other than incorporate this level of testing and user support in our o

[2015-02-12 16:01] abirger commented on #65
@daf , thanks a lot! Will it fix the path issue for the provided test command
[code]
or should I normally use the full path to the file? Actually, I tried appending the PATH variable but regardless of what I put there the command failed with relative path suggested...

[2015-02-12 16:14] daf commented on #65
@abirger, I think the README is assuming you were in the compliance-checker's development directory, and is using a relative path from there.  You'll need to specify a full path, as $PATH only deals with resolving where executables are.  I can't remember if the compliance-checker package will install the test .nc files too, it probably does.

[2015-02-12 17:46] abirger commented on #65
@daf , the README test commands work as-is only if the working directory is `~/anaconda/envs/compliance_checker/lib/python2.7/site-packages`. Apparently, compliance-checker installs test files, and other stuff into `~/anaconda/envs/compliance_checker/lib/python2.7/site-packages/compliance_checker`, which seems strange.

[2015-02-12 19:51] rsignell-usgs commented on #65
@abirger, that is normal for anaconda.   Each custom environment has has it's own directory that contains all the packages that environment has in `<anaconda>/envs/<custom_env_name>/lib/site-packages`

[2015-02-12 22:10] daf commented on #65
The instructions should also be amended to not reference files as if you're working in the development directory.  Should probably mention instructions to download one of the test nc files from github and run it on that.  Or just test via OPeNDAP.

[2015-02-17 22:30] danfruehauf commented on #60
:+1: for that. This is highly needed.

[2015-02-17 22:37] danfruehauf opened #77 "Return value always 0"
In order to incorporate compliance-checker efficiently with other command line tools, it is recommended that it returns a non-zero return value on error.

At the moment it returns 0 all the time, correct me if I'm wrong.

Here is a sample output:
[code]

[2015-02-17 23:07] daf commented on #77
This is indeed a regression from pre-1.0 code - it was always supposed to exit with a code.

[2015-02-18 03:01] danfruehauf commented on #70
We are encountering the same problem with gridded files. It takes a while to load a ~100MB file into memory. Depending on filesystem IO it can be ~1-2 minutes per file. In other words - too slow.

I would suggest to add a command line argument which will load only attributes and variables without the whole data. This can imply that checks that rely on testing all the points in a data set will not

[2015-02-19 16:23] carmelortiz commented on #61
@abirger Will document steps required to use VirtualBox and update documentation accordingly!

[2015-02-23 21:17] #77 closed

[2015-02-25 04:40] mhidas opened #80 "Usage message not consistent with accepted command-line arguments"
The command-line usage message (output of `compliance-checker -h`) seems to suggest several ways of specifying which tests to apply:

     optional arguments:
      --test {acdd,cf,ioos} [{acdd,cf,ioos} ...], -t {acdd,cf,ioos} [{acdd,cf,ioos} ...], --test= {acdd,cf,ioos} [{acdd,cf,ioos} ...], -t= {acdd,cf,ioos} [{acdd,cf,ioos} ...]

However, several of these variants:

    $ compliance-checker -t

[2015-02-25 05:51] mhidas opened #81 "CF check rejects many valid units"
Running the CF tests on some [IMOS](http://imos.org.au/) files, we get high-priority tests failing with messages like these:

    units are metres, standard_name units should be m
    units are Celsius, standard_name units should be K

The CF convention says "The value of the units attribute is a string that can be recognized by UNIDATA's Udunits package" ([Section 3.1](http://cfconventions.org/Da

[2015-02-25 06:15] mhidas opened #82 "CF checker doesn't allow additional conventions in Conventions attribute"
The test `check_conventions_are_cf_16` in cf.py requires the **Conventions** global attribute to be exactly equal to the string "CF-1.6". This is indeed what the [CF conventions document](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#identification-of-conventions) _recommends_. However, the [NetCDF User's Guide](http://www.unidata.ucar.edu/software/netcd

[2015-02-25 15:05] dpsnowden commented on #82
I think that was always the idea.  Another need for having this flexibility is that OceanSITES, ACDD, and perhaps Argo all specify their own conventions and versions.  We already support ACDD so we should be checking for it's presence in the Conventions attribute.  We should probably err on the side of warnings and not errors when we encounter misuse of these identifiers.  For example, we should e

[2015-02-25 16:03] dpsnowden commented on #81
:+1:

[2015-02-25 16:24] ocefpaf commented on #81
Just an idea.  I know that compliance-checker crew wants to ditch udunits and use an online server (issue #62).  However, if we convince people from [iris](http://scitools.org.uk/iris/) to create a standalone Units package from the `iris.unit` module it will bring some advantages:

- `iris.unit` uses Udunits behind the scenes, so little change is needed to start using it here;
- `iris.unit` is ava

[2015-02-25 16:27] dpsnowden commented on #81
I agree that it's desirable to have a units module accessible locally.  I don't know the level of effort for this but it seems increasingly important.  udunitspy is a blocker for native windows installations of nearly all CF aware modules.  How much work would it take to

1. Do it ourselves
2. Fund someone to do it
3. Beg iris developers to do it

Are there any collaborations we could participate

[2015-02-25 16:36] daf commented on #81
My initial thoughts for an interim solution are to make udunitspy an optional dep (not sure how that's best done with python packaging), then try/catch the import of it and use the web service as a secondary option with plenty of log messages to let the user know what's happening.  I like @ocefpaf's suggestion as a more polished solution.  Or simply a better udunitspy that does it natively instead

[2015-02-25 16:45] ocefpaf commented on #81
@daf I am all for doing it natively, but udunits is a **de facto standard** and mimicking all of its functionally plus keeping up with its development will be a burden on the developers of such a library.  (Besides, python has enough [units libraries](https://conference.scipy.org/scipy2013/presentation_detail.php?id=174) :wink:)

@dpsnowden Lets ask iris devs and see what they have to say (I am as

[2015-02-25 16:49] ocefpaf commented on #81
Add this to `setup.py`

[code]

Then install with:
[code]

PS: If using conda just add that to requirements.

[2015-02-25 16:52] kwilcox opened #83 "Not correctly processing CF1.6 TimeSeries (STATION) file"
[This file](https://www.dropbox.com/s/i5a4e2can4de5n7/20150210T1900_TO_20150225T1000.nc?dl=0) loads into NetCDF-Java and is recognized as a `STATION`.

### Exceptions
[code]

### ACDD
I'm getting ACDD failures for every variable because they don't have a `coverage_content_type` attribute.  Should this only be tested for "data" variables?  It is failing on things like `crs`, `time`, and `latitude`.

[2015-02-25 16:53] daf opened #84 "Miniconda on Linux requires setuptools for pkg_resources/running tests"
I need to explicitly install setuptools in my miniconda environment in order to run the tests.  Not sure if this is a platform issue, miniconda issue - should it be added to requirements.txt?

[2015-02-25 17:01] daf commented on #81
Isn't udunits just a C library on top of XML definitions, aka the XML defs are the canonical source of info?

[2015-02-25 17:37] duncombe commented on #81
Minor nit-pick, pointing out the typos: your original post said "e.g.
"metre" and "metres" (US spelling), but not "metres" (British/Australian
spelling)" , should have read  "e.g. "meter" and "meters" (US spelling),
but not "metres" (British/Australian spelling)" !

On Wed, Feb 25, 2015 at 7:51 AM, Marty <notifications@github.com> wrote:

--

-------------------------------------------------------

[2015-02-25 18:08] abirger commented on #84
@daf , as far as I can recall I did not have to do that with a complete Anaconda. However, I had to set up the channels in `condarc`, and at some point install `binstar` (do not remember though was it on Windows or Linux).

[2015-02-25 20:18] #82 closed

[2015-02-25 20:21] daf opened #86 "CF Conventions check allows pre 1.6 strings"
Added in #68 is a list of new convention strings allowed from CF-1.0 to CF-1.6.  As noted by @DanielJMaher in the comments of that PR, this checker is only designed for CF-1.6.  Allowing other checks gives a false impression that other CF standards will be rigorously checked (they won't be).

I'm fine with the other changes of that PR but this list needs to be reverted back to a single entity, CF-

[2015-02-25 22:46] mhidas commented on #81
@duncombe Yes, that's what I meant. Thanks!

[2015-02-25 23:01] mhidas commented on #81
Thanks for looking at this issue. Most of the discussion above seems to actually refer to #62.
Could my issue be addressed independently of which units package is being used, i.e. using udunitspy for now?

[2015-02-26 03:59] mhidas opened #88 "Incorrect attribute name in CF test check_data_types"
Whenever I run the CF checker, I get the following message at the start of the results:

    The following exceptions occured during the cf checker (possibly indicate compliance checker issues):
    cf.check_data_types: NetCDF: Attribute not found

Running it in verbose mode also prints a stack trace which points to line 271 of cf.py:

        for k, v in ds.dataset.variables.iteritems():

[2015-02-26 06:24] mhidas opened #89 "check_scalar_coordinate_system not quite correct"
CF test `check_scalar_coordinate_system` aims to test CF's recommendation "against using a name for a scalar coordinate variable that matches the name of any dimension in the file" ([Section 5.7](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#scalar-coordinate-variables)). Scalar variables have `shape == ()`.

However, the code seems to check for coordina

[2015-03-03 06:24] mhidas opened #90 "CF checker doesn't allow valid variables without units attribute"
The `check_units` test in cf.py returns a high-priority fail for variables without a _units_ attribute. Some exceptions are allowed for, but a couple of important ones are not:
 1) "Units are not required for dimensionless quantities" ([CF](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#units)), and
 2) It doesn't make sense for quality-control variables

[2015-03-04 05:19] mhidas opened #91 "CF test check_coordinate_axis_attr is too strict"
The test `check_coordinate_axis_attr` in cf.py only allows coordinate variables (i.e. those with only one dimension, of the same name) to have an _axis_ attribute. However, the conventions document ([Chapter 4](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#coordinate-types)) states:
"The methods of identifying coordinate types described in this section a

[2015-03-11 05:04] mhidas commented on #70
@fxmzb123 is looking into this issue.

[2015-03-13 04:42] mhidas commented on #91
[Here](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/timeSeries/catalog.html?dataset=IMOS/eMII/checker_test/ANMN/timeSeries/IMOS_ANMN-NRS_TZ_20140808T024500Z_NRSROT_FV01_NRSROT-1408-SBE39-27_END-20141216T025000Z_C-20141219T060000Z.nc) is a sample file that shows this issue.

The result in question looks like this:

    Name                             Priority:     Score:R

[2015-03-13 11:34] ocefpaf commented on #62
@daf I went ahead and made a ["iris_units"](https://github.com/ocefpaf/units/tree/master/units) module from the iris package as discussed in #81.  It is light weight and depends only on udunits2 and netcdf4-python, no swig!  The installation is easy and works on windows, see our conda [package](https://github.com/ioos/conda-recipes/pull/114/files).

However, I do not recommend using this yet.  The

[2015-03-13 20:22] daf commented on #91
@mhidas can you elaborate on how the sample file shows an error?  I'm not a CF expert, but the way I'm reading the document:

DEPTH is not a coordinate variable (it does not have a dimension of the same name)
DEPTH is not an auxiliary coordinate variable (no variable has a coordinates attribute referencing DEPTH)

Therefore, an axis attribute is not allowed.  Am I reading this wrong?

[2015-03-16 07:33] mhidas commented on #91
@daf You're absolutely right. Sorry, I picked the wrong file as an example.

[Here](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/timeSeries/catalog.html?dataset=IMOS/eMII/checker_test/ANMN/timeSeries/IMOS_ANMN-QLD_TZ_20140907T063947Z_ITFTIS_FV01_ITFTIS-1409-SBE39-94_END-20150207T065000Z_C-20150219T005030Z.nc) is a better one. E.g. the variable TEMP has attribute `TEMP:coo

[2015-03-16 15:47] daf commented on #91
Thanks @mhidas, the patch now solves the issues seen there.

[2015-03-16 15:49] daf commented on #91
Fixed via #95

[2015-03-16 15:49] #91 closed

[2015-03-17 01:26] mhidas commented on #91
@daf Thanks, that looks good!

[2015-03-17 02:18] mhidas commented on #81
Just realised that this has actually been fixed in release 1.0.1
We were using 1.0.0 when I reported this issue.

[2015-03-17 02:18] #81 closed

[2015-03-17 13:39] #88 closed

[2015-03-18 01:02] mhidas commented on #88
PS: I just realised this was an issue with the version of the NetCDF4 module I was using (1.0.4). The [changelog](https://github.com/Unidata/netcdf4-python/blob/master/Changelog) for v1.0.5 includes:

In any case this will make the code compatible with earlier versions, and also more self-consistent, as `v.dtype` is used elsewhere in the code.

[2015-03-18 02:05] daf commented on #88
I was wondering why I did not get the same error, but did see the
consistency issue.
On Mar 17, 2015 9:02 PM, "Marty Hidas" <notifications@github.com> wrote:

[2015-03-19 03:57] mhidas commented on #60
We need this to be able to plug in our IMOS ckecks. @fxmzb123 will take a look at some possible options in the next couple of weeks.

[2015-03-19 16:29] abirger opened #98 "compliance-checker conda update channels"
@lukecampbell , @daf , what is the schedule for the compliance-checker package release updates? I can see a lot of important changes and fixes done for compliance checker but every time I run conda update command, I get the same response:

[code]

What would be the right way to get the most recent updates?

[2015-03-19 16:31] lukecampbell commented on #98
Someone needs to update the conda recipe for compliance checker
https://github.com/ioos/conda-recipes/blob/master/compliance-checker/meta.yaml

[2015-03-19 16:32] lukecampbell commented on #98
Also, we haven't released a version since 1.0. Not sure who to ask about releases.

[2015-03-19 16:34] daf commented on #98
Going to make a 1.1 milestone (prolly 1.2) and assign a few of the remaining issues to it.  I'm still interested in managing the project, however unofficial it currently is.

[2015-03-19 16:35] lukecampbell commented on #98
I just released 1.2

[2015-03-19 16:36] daf commented on #98
1.0.2 you mean

[2015-03-19 17:48] ocefpaf commented on #98
The conda package will be online as soon as we fix a :fire: in the system :wink:

https://github.com/ioos/conda-recipes/pull/124

BTW ioos/conda-recipes happy to accept PRs when new release are issued.

[2015-03-19 19:33] abirger commented on #98
@daf , I don't know what @rsignell-usgs included in the 1.0.1 release but I am sure that he has not published it with binstar:

[code]

[2015-03-20 18:53] dpsnowden commented on #62
@ocefpaf please add the best repo for the units module you're working on to this issue thread so that the team can look into integrating it.  Is it SciTools/cf_units or ocefpaf/cf_units ?

[2015-03-20 19:00] ocefpaf commented on #62
https://github.com/ocefpaf/cf_units is my working fork of the **official** https://github.com/SciTools/cf_units.

The transition should be smooth (brave last words).  I think I got almost of all of `udunitspy` functionality, used in compliance-checker, in the example [here](http://nbviewer.ipython.org/gist/ocefpaf/60ecac928612f5ae8fed).  However, I recommend waiting a little bit for a release.  He

[2015-03-21 19:44] lukecampbell commented on #62
My only issues with this approach are:

1. The library referenced still depends on the udunits shared library being installed.
2. ctypes is extremely prone to crashes. Due to the nature of using a duck-typed interpreted language of Python trying to call a strongly typed compiled language at runtime, there are lot's of chances to crash the application. My personal preference is Cython over both swi

[2015-03-21 22:55] ocefpaf commented on #62
Yes, but I disagree that this is a bad thing. Having a well established and widely used library (that is maintained by UNIDATA!) as a dependencies is a :+1: and not a :-1: .  Also, by depending on udunits you remove the burden of maintaining/copying the definitions to a new library.

Can't comment on that, never had that issue before.  All I can say is that `cf_untis` is used inside iris it is wel

[2015-03-21 23:08] ocefpaf commented on #62
Hey, and here is the advantage of join forces with big groups supporting open source libraries:

https://github.com/SciTools/cf_units/issues/18

[2015-03-23 05:08] fxmzb123 commented on #60
I had a look at the code and it seems that all checkers are derived from a few Base Classes.

My thought for a simple plugin implementation:

1) For those checker classes required to register in ComplianceCheckerCheckSuite.checker, it must have two attributes: name and register_checker. The name is the key in the dict and register_checker is the flag to indicate whether it is registered in the dic

[2015-03-24 14:49] daf commented on #72
Fixed in #93

[2015-03-24 14:49] #72 closed

[2015-04-01 07:05] mhidas commented on #70
@fxmzb123 The two files in [this catalog](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/SRS/SST/catalog.html) are an example of this issue.

The first is 66Mb gridded dataset. The CF checker takes almost 2 mintues to check it.
The other has exactly the same attributes and structure, just  much less data. CF checker runs in just over a second.

[2015-04-01 14:33] abirger commented on #98
@daf , @lukecampbell , @ocefpaf , it looks like the compliance-checker has been updated in a number of binstar channels. Which one of them would be the "official" channel to look for the checker updates?

[code]

[2015-04-01 14:38] daf commented on #98
@abirger the official one is/should be IOOS.

[2015-04-01 14:39] ocefpaf commented on #98
@abirger I recommend you to use the `IOOS` channels.  The `IOOS-RHEL` is for old Linux systems (Centos, Red Hat Enterprise Linux, etc) the other one has Linux, Windows32 and 64, and MacOS.

Ignore the user channels like mine and @tarankalra's channel.  They are only for tests before we upload to the main IOOS channel.

[2015-04-10 05:23] mhidas commented on #89
[Here](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ABOS/SAZ/catalog.html?dataset=IMOS/eMII/checker_test/ABOS/SAZ/IMOS_ABOS-SOTS_RFK_20120724T000000Z_SAZ47_FV01_SAZ47-2012Sediment-Trap-Data-IRS_20130701T000000Z_C-20150210T043901Z.nc) is an example. The issue shows up in the results as:

    MASS_FLUX                          :2:     4/ 5 :
        scalar_coordinates

[2015-04-16 01:30] mhidas commented on #60
PR #99 waiting for review.

[2015-04-16 01:57] mhidas commented on #37
Have there been any further thoughts on this topic since last year?

For the way we'd like to use of the checker within IMOS, we don't really need any kind of scoring system. All we want to know is what's wrong with the file, so we can send feedback to its creator and ask them to fix it. For a file that passes all checks, the only output we need is an exit status of 0 to determine what happens nex

[2015-04-16 15:09] abirger commented on #37
@mhidas , so, would the 3-baseline test with `--criteria=normal` result be FAILED or OK if just mandatory checks pass?

[2015-04-16 20:33] benjwadams commented on #90
I ran into this today running the CF checker.  I noticed that the CF checker attempts to look for "modifiers" in standard names -- see  http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#standard-name-modifiers

In the case of flags, it's a `status_flag` separated by a space at the end of the standard name.  You'll notice that `status_flag` has no units in th

[2015-04-17 06:11] mhidas commented on #90
@benjwadams Good point. The limitation of that approach is that it only works for variables that have an appropriate CF standard_name. Unfortunately for us this is not always the case. On the other hand, all quality flag variables should have a `flag_meanings` attribute, to explain what the flags mean. So I think the solution in #96  is good (we just need to get the unit test right...)

[2015-04-17 06:39] mhidas commented on #37
@abirger In that case the overall result would be FAILED.

I'm thinking of the weight of each check result to mean
* HIGH = mandatory check
* MEDIUM = recommended check
* LOW = "would be nice" check?

So if the highest weight of any failed check is shown in the top row, the overall result according to each criteria is

|         | HIGH | MEDIUM | LOW  |
|---------|------|--------|------|
| lenient

[2015-04-20 13:55] lukecampbell opened #100 "CF 1.6 Chapter 5 - Checking Coordinate Attribute"
Compliance checker should check the "coordinates" attribute for geophysical data variables and verify that each coordinate variable in the space delimited list is a coordinate variable.

Note: this is optionally recommended by Chapter 5

[2015-04-21 08:44] mhidas opened #101 "Do ancillary variables really need a coordinates attribute?"
For discrete sampling geometry (DSG) files, the function `check_coordinates_and_metadata` (in cf.py) returns a fail for variables that don't have a **coordinates** attribute. It exempts variables that are themselves coordinate variables, but not other types of ancillary variables. So for examples we get fails for all our quality control variables.

Could we exclude any variable listed in another's

[2015-04-22 23:20] mhidas commented on #90
Fixed in #102.

[2015-04-22 23:20] #90 closed

[2015-04-23 02:21] mhidas opened #103 "Results grouping can effectively increase priority of a fail"
For example, in [this file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/timeSeries/catalog.html?dataset=IMOS/eMII/checker_test/ANMN/timeSeries/IMOS_ANMN-AM_GST_20140407T040000Z_NRSMAI_FV01_NRSMAI-CO2-1404-delayed_END_20140922T220000Z_C-20150311T084035Z.acceptable_units.nc) (with `LATITUDE:units = "degree_north"`) the only failed checks are for latitude and longitude unit

[2015-04-23 02:25] mhidas commented on #103
I don't know yet how many checks are affected by this issue, but it could potentially be an annoying problem for the way we'd like to use this checker at IMOS (see https://github.com/ioos/compliance-checker/issues/37#issuecomment-93616335).

Suggested solutions:
* Only group together checks of the same priority level; or
* When deciding on the final PASS/FAIL result, only consider the value & prio

[2015-05-05 05:51] lbesnard opened #108 "UnicodeEncodeError: 'ascii' with cf check"
G'Day, I'm taking over @mhidas for a couple of weeks.

When running the ncchecker with -t=cf on this specific file :
[code]

I get the following output:

[code]

I'm using the latest commit of the master branch https://github.com/aodn/compliance-checker/commit/99b30ddb398e24991a5ba79dae8bc65771acdf71

The checker works fine with other files (which works fine with ncdump).

thanks

[2015-05-05 12:52] mbiddle-bcodmo opened #109 "File Independent Scoring Concept"
Hi all,

This might not be worth talking about, but I wanted to at least get it out in the open if it's something other people could find useful.

One of my thoughts is to use this compliance checker for different groups of data providers to test if their netCDF files are correctly formatted for transmission to the archive. Reviewing my understanding of how the scoring system works, the current in

[2015-05-05 15:35] #98 closed

[2015-05-06 19:33] #61 closed

[2015-05-06 20:05] #52 closed

[2015-05-11 14:12] lukecampbell opened #115 "NODC Compliance Checker"
A lot of the IOOS projects make submissions to NODC for Archival, here's the NODC template.

I'd like to get this as a compliance checker test. It's basically ACDD but with some twists of CF.

http://www.nodc.noaa.gov/data/formats/netcdf/v1.1/

[2015-05-11 14:23] daf commented on #115
Seems like a good candidate for the plugin based thing I need to complete for #60 / #99.  Or maybe it's a core check?

[2015-05-11 14:24] lukecampbell commented on #115
I feel like all of the tests are candidates for plugins.

[2015-05-11 14:33] daf commented on #115
IMO CF and probably ACDD should be core ones.

On Mon, May 11, 2015 at 10:24 AM, Luke Campbell <notifications@github.com>
wrote:

[2015-05-11 17:18] mbiddle-nodc commented on #115
Just an FYI, now that NODC is NCEI, so all references to NODC will be changing to NCEI. If your thinking of adding a plugin I would reference NODC as NCEI. I will discuss this internally and report back to make sure I am relaying the information correctly.

Another note, if the checker already validates against CF and ACDD, the only addition for the "NODC" check would be specific attributes/variab

[2015-05-27 19:33] daf commented on #108
Hi @lbesnard, it looks like this may be fixed already in a dependent library, ioos/petulant-bear#4, which I've just noticed has not had a release with that fix in it.  That'll happen soon I suppose.

In the mean time, try updating your petulant-bear library to use the latest master and see if that gets you further.

Activate your environment and `pip install --upgrade git+git://github.com/ioos/pet

[2015-05-28 00:31] lbesnard commented on #108
Thanks @daf . @danfruehauf do you think you could update this on the testing env ?

[2015-05-29 10:24] ocefpaf opened #117 "Running compliace-checker on Windows returns a lxml.etree.XMLSyntaxError"
@lukecampbell and @daf,

@abirger reported this on   the conda-recipes repo (https://github.com/ioos/conda-recipes/pull/242), but I think we should open an issue here.  Here is his first attempt to run `compliance-checker` (CC) on Windows:

[code]

I tested the same CC version on the same file on Linux.  The offending code is located at an `if clause` that never gets executed on Linux, where every

[2015-05-29 12:50] daf commented on #117
Looks like the logic used to determine if a file is binary or not (based on http://stackoverflow.com/a/7392391/84732) is not working properly on windows (I shouldn't be surprised).  I now have access to a Windows machine so I'll see what I can do.

[2015-05-29 12:54] ocefpaf commented on #117
Thanks @daf!

[2015-05-29 14:41] #117 closed

[2015-05-29 18:15] daf commented on #84
Will be fixed with #116

[2015-05-29 18:23] daf opened #120 "Remove references to udunits from docs"
README, ubuntu install guide, and various comments in code still refer to udunits and trouble surrounding it.

As of #114 we no longer use udunits, so these need to be removed.

[2015-05-29 22:29] lukecampbell commented on #120
I think technically we still use udunits, we just don't use udunitspy.

[2015-05-29 22:31] lukecampbell commented on #108
I'll be publishing a new version of petulant bear next week.

[2015-05-29 23:33] daf commented on #120
I got those confused a bit this afternoon, but same applies for udunitspy,
still reffed plenty.
On May 29, 2015 6:29 PM, "Luke Campbell" <notifications@github.com> wrote:

[2015-06-08 14:21] lukecampbell opened #121 "NODC Sea Names"
Definitely for GliderDAC compliance checker
Probably for NODC (NCEI) Metadata Compliance

https://www.nodc.noaa.gov/General/NODC-Archive/seanamelist.txt

[2015-06-08 14:48] lukecampbell opened #122 "Contributor Name and Contributor Role Checks"
Just some basic syntax checks to make sure the contributor names are comma separated and that the roles are also comma separated. Also that each name has an associated role.

[2015-06-12 14:47] daf commented on #89
Closed in #123

[2015-06-12 14:47] #89 closed

[2015-06-17 01:07] daf commented on #108
@lukecampbell poke!

[2015-06-17 14:24] lukecampbell commented on #108
https://github.com/ioos/petulant-bear/releases/tag/v0.1.3

[2015-06-18 14:10] lukecampbell opened #124 "cdm_data_type confusion"
https://github.com/ioos/compliance-checker/blob/master/compliance_checker/acdd.py#L37

I don't actually believe these are valid cdm_data_types. But, I did spend about an hour crawling through thredds source code and I can't find a list of them anywhere, I think they're sprawled out in different java files.

@shane-axiom Did you ever find anything in thredds that defines what the expected feature t

[2015-06-19 19:47] lukecampbell opened #127 "ACDD 1.3"
Update compliance checker to support ACDD 1.3
http://wiki.esipfed.org/index.php/Attribute_Convention_for_Data_Discovery_1-3

[2015-06-22 06:51] mhidas opened #128 "Unnecessary data shuffling in CF check_packed_data"
While investigating the causes of issue #70 (slow-running checker for large files) @fxmzb123 found that the `check_packed_data` method (in CF suite) was responsible for a lot of the running time. The current implementation calls `numpy.reshape` on each variable 5 times, which can be pretty slow for large multi-dimensional arrays. This could certainly be optimised by doing the reshape only once for

[2015-06-22 07:11] mhidas commented on #128
To be a bit more specific, for a NetCDF object, each variable has an attribute `var.dtype` (the type of the values stored in the file), and this needs to be compared to `var.add_offset.dtype` and `var.scale_factor.dtype`.

[2015-06-22 07:18] mhidas commented on #128
The [CF convention](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#packed-data) also specifies that the types of the variable attributes _FillValue, valid_min, valid_max, valid_range (when they exist) should also be the same as `var.dtype`. This is currently not implemented.

[2015-06-23 07:27] mhidas commented on #108
Thanks @lukecampbell , that seems to fix the encoding problems we've been seeing.

Should petulant-bear v0.1.3 be added to the [requirements.txt](https://github.com/ioos/compliance-checker/blob/master/requirements.txt) file, or will one of the other packages listed there depend on this new version?

[2015-06-24 08:06] mhidas opened #130 "CF check_units should not skip scalar variables"
In cf.py `check_units` requires variables to have a *units* attribute, with some exceptions. Currently one of the exceptions is any variable with `v.shape == ()`, i.e. scalar variables. This seems wrong to me. [CF](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#units) says "Units are not required for dimensionless *quantities*". This refers to the physica

[2015-06-24 08:10] mhidas opened #131 "CF check_units should skip "feature id" variables"
A variable with the attribute *cf_role* is used to uniquely identify each feature in a discrete-sampling-geometry (DSG) file ([CF ref](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#coordinates-metadata)). It can have any type, but even if it's numeric, it may not make sense for it to have units (e.g. it could be a serial number for profiles taken on a cr

[2015-06-24 08:14] mhidas commented on #131
For example [this file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/profile/catalog.html?dataset=IMOS/eMII/checker_test/ANMN/profile/IMOS_ANMN-NRS_CDEKOSTUZ_20141216T020100Z_NRSROT_FV01_3080.0-1-SBE19plus-45_C-20141219T063744Z.fixed.nc) has a variable:

        int INSTANCE(INSTANCE) ;
                INSTANCE:name = "INSTANCE" ;
                INSTANCE:long_name = "ins

[2015-06-25 17:30] daf commented on #108
@mhidas, Wicken depends on it and will pull in the latest version on a new install, but should also be adjusted and a new version released, and then this requirements.txt bumped as well to reflect that.  That would ensure proper propagation.  Leaving this open until that happens.

[2015-06-25 17:36] dpsnowden commented on #127
Please ensure that all implemented versions of ACDD are supported.  Do not migrate away from the ACDD 1.2, keep both.  i.e.

[code]
both work.

[2015-06-25 17:38] daf opened #133 "Come up with checker versioning scheme"
So that other versions of say ACDD (1.2, 1.3) or CF (1.6, 2.x?!) can be checked using this software.  Extends #127

[2015-06-25 18:20] dpsnowden opened #134 "Finalize and document the many to many relationship between data sets and data services"
The relationship between data sets and services is unclear.  It is clearly many to many, which is fine, but the way it is implemented from different configurations of THREDDS, ERDDAP, 52North etc is unclear and uneven.  Let's clarify this once and for all and determine necessary changes for the next round of data base modifications.

[2015-06-26 17:30] dpsnowden commented on #134
Sorry, my mistake.  This was supposed to be in the ioos/catalog repo.....

[2015-06-26 17:30] #134 closed

[2015-06-30 02:34] mhidas commented on #101
This has been fixed in #132, just awaiting review.

[2015-06-30 13:18] #101 closed

[2015-06-30 13:29] daf commented on #128
See #129

[2015-07-01 14:06] #131 closed

[2015-07-01 15:12] daf commented on #67
This was fixed in 65d021c7cede3b8f31ad080e74e7db1cb888ffde

[2015-07-01 15:12] #67 closed

[2015-07-01 15:27] daf commented on #74
@lukecampbell done, correct?

[2015-07-01 15:28] daf commented on #71
@lukecampbell done or still WIP?

[2015-07-01 15:29] daf commented on #70
This is not exclusive to CF checks, ACDD confirms that time extent metadata matches the actual variable data which involves a min/max check on the time variable.

[2015-07-01 15:37] daf commented on #65
udunitspy/SWIG is no longer a requirement, closing this issue.  Please file a new, specific issue for further issues.

[2015-07-01 15:37] #65 closed

[2015-07-02 07:05] mhidas opened #137 "CF valid units not in UDUNITS"
The [CF FAQ](http://cfconventions.org/faq.html#udunits_missing)) page says:

However, the checker only uses UDUNITS (via the cf_units package) to validate units. So currently it will fail for these units.

Is it worth considering a work-around (until these units are added to UDUNITS)?

[2015-07-02 10:12] ocefpaf commented on #137
@mhidas Can you open an issue at https://github.com/SciTools/cf_units too?

[2015-07-02 17:39] lukecampbell commented on #137
It may not be necessary to change the core library. udunits uses an XML system to define the units, we should be able to include an auxiliary XML definition for these units.

[2015-07-02 17:40] lukecampbell commented on #124
[code]

[2015-07-02 17:40] #124 closed

[2015-07-02 17:53] lukecampbell commented on #137
https://github.com/ooici/ion-definitions/tree/master/res/config/units

[2015-07-05 21:44] ocefpaf commented on #137
@lukecampbell even though it is easy for us to just nudge units in I think we should try to send that upstream (to UDUNITS).  That way all the projects derived from it will have those units. Once I get back home I will try to send a PR [there](https://github.com/Unidata/UDUNITS-2).

[2015-07-06 01:57] mhidas commented on #137
@ocefpaf Logged: https://github.com/SciTools/cf_units/issues/30

[2015-07-07 13:56] #71 closed

[2015-07-14 19:52] lukecampbell commented on #109
Hey Matt, we're in the process of reevaluating the entire scoring process for compliance checker as it is.
We're struggling with conflicting desires:

1. Users want a simple "pass/fail" answer to the question "is this dataset good enough".
   - The problem is, that answer is not an easy one to come up with.
2. Users want guidance for how to fix their datasets if it's not good enough.
3. There are

[2015-07-16 12:11] mbiddle-nodc commented on #109
I understand the difficulty with trying to implement a scoring concept that covers both the simple "pass/fail" concept but also provides enough details to fix the datasets. As far as the interpretation of the guidance documents, as long as you describe how the documentation was interpreted, that's the best that can be done.

Another resource that I was just made aware of, apparently JPL has develo

[2015-07-16 13:07] daf commented on #109
Nice, they made it available!  They had an intern develop a GUI on top of this same compliance-checker  in Summer 2014.  At the time, they hadn't planned on releasing anything though.

[2015-07-16 13:14] kknee commented on #109
+1 on being happy to see the JPL version released!

[2015-07-16 15:49] abirger commented on #109
Wow, that GUI looks nice! It is what I had in mind in the Trade Study recommendations.
I like the report of the exact data model used for the file encoding. I also like the way ACDD attributes are categorized: strictly following the convention (highly recommended, recommended, suggested) rather then using  High, Medium, and Low priorities. The latter, however, is not at all critical, and may even

[2015-07-22 13:42] DanielJMaher opened #144 "Errors while running Compliance Checker"
Here are the two Error messages for the two files:

[code]

[code]

Are the files to blame or is the compliance checker not robust enough?

I can't attach the files (Git Hub issue), but you can message me on here and get my email address.

[2015-07-22 13:59] daf commented on #144
Looks like an environment problem.  `sanatize` was renamed up in ioos/petulant-bear@b615ccbed5698882c9c, released in [petulant-bear 1.3](https://github.com/ioos/petulant-bear/releases/tag/v0.1.3).   Update and see if that clears it up.

[2015-07-22 14:05] DanielJMaher commented on #144
Fixed the second one, but the same error pops back up from the first

compliance-checker ~/Downloads/derived_1.nc -t cf -v --criteria strict
Running Compliance Checker on the dataset from: /Users/danielmaher/Downloads/derived_1.nc
Traceback (most recent call last):
  File "/Users/danielmaher/.virtualenvs/compliance-checker/bin/compliance-checker", line 9, in <module>
    load_entry_point('complian

[2015-07-22 14:13] lukecampbell commented on #144
Also, I would not recommend including your email in public commit messages. There are spam scrapers all over the world that scrape emails from public forums like this and add you to their mailing lists. So... enjoy the ads for viagra!

[2015-07-22 14:18] daf commented on #144
Looking at derived_1.nc, the variable in question is `l0_provenance_data` with a type of String.  NetCDF4 gives the dtype as a straight up `str` instead of a `dtype(...)` like the rest of the code expects.  @lukecampbell do you think this is a NetCDF issue or just a quirk to deal with?

[2015-07-22 15:09] daf opened #146 "CF check_units not reporting successes"
In testing #144, I noticed the following output:

[code]

when in fact many more variables had been tested.  The (score/out of) model needs to be used here.

[2015-07-22 15:14] #144 closed

[2015-07-23 06:46] mhidas opened #147 "Exception during reasoning output"
Running the CF checker on [this file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANFOG/delayed/catalog.html?dataset=IMOS/eMII/checker_test/ANFOG/delayed/IMOS_ANFOG_BCEOPSTUV_20140915T003743Z_SL209_FV01_timeseries_END-20141009T212310Z.nc), I get the following exception during the printing of the reasoning messages:

[code]

[2015-07-23 15:35] daf commented on #147
@mhidas, thanks, looks like the CF fill value outside range check was from a very early implementation and had never been updated to current style.  I've got a fix in PR #147.

[2015-07-24 00:13] mhidas commented on #133
This would also be very useful for IMOS.

[2015-08-11 13:03] #147 closed

[2015-08-11 13:36] #128 closed

[2015-08-12 19:37] lukecampbell opened #150 "Latest Standard Names Table"
The current version of standard names table is 29, but we're using 25

[2015-08-12 19:38] lukecampbell opened #151 "ACDD - Dimensionless variables are not required to have units attribute"

[2015-08-12 19:46] mbiddle-nodc commented on #150
I would recommend pulling the standard name table version from the file's global attribute "standard_name_vocabulary". See ACDD attribute http://wiki.esipfed.org/index.php/Attribute_Convention_for_Data_Discovery#standard_name_vocabulary. Then you can test against the appropriate standard name table.

[2015-08-17 08:02] mhidas commented on #109
Our use case here at IMOS is similar to what @mbiddle-nodc describes (if I'm interpreting it correctly). To us, the only useful outputs are

 1. A pass/fail result so we can automatically decide whether the file is ready to publish.
 2. Feedback to help the data provider fix the file.

(The "passed X tests out of Y" score doesn't really help, because e.g. if a file passes every check
except is doe

[2015-08-18 05:51] mhidas opened #153 "No reasoning message from CF check_calendar"
E.g. for [this file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ABOS/SOFSrt/catalog.html?dataset=eMII/checker_test/ABOS/SOFSrt/IMOS_ABOS-ASFS_FMT_20130917T005900Z_SOFS_FV02.nc), we get the result:
[code]

[2015-08-19 06:09] mhidas opened #154 "Add references to checker output?"
For a data provider trying to correct issues picked up by the checker, it would be helpful if the brief reasoning message for each failed test could be followed by a reference (URL or text) to the relevant section of the convention document. Could we add a `reference` attribute of the `Result` object, and list these separately in the checker output (perhaps at the end)?

[2015-08-25 00:34] mhidas opened #155 "CF check_cell_methods failing incorrectly with repeated messages"
[This file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ACORN/catalog.html?dataset=eMII/checker_test/ACORN/IMOS_ACORN_V_20140406T003000Z_ROT_FV00_1-hour-avg.nc) has a variable with the *cell_methods* attribute defined as

        float UCUR(TIME, LATITUDE, LONGITUDE) ;
                UCUR:cell_methods = "TIME: mean" ;

As far as I can tell from [CF](http://cfconventions.org/

[2015-08-25 13:18] #153 closed

[2015-08-25 14:32] daf commented on #155
@mhidas the `cell_methods` checking appears to be totally broken.  Might get a chance to work on it today.

[2015-08-26 01:07] mhidas commented on #155
@daf Yes, that was my impression too, but I didn't have time to try fixing it. In case it helps, I got as far as adding a unittest to catch this bug (perhaps the first of a few in there):
[code]

Let me know if you don't get a chance to work on it, and I'll have a go later this week.

[2015-09-03 07:47] mhidas opened #158 "CF check_units allows *any* standard_name to have units of time"
If I have a variable like this:
[code]
I get this (rightly so):
[code]

But if I have
[code]
there are no complaints and the checker passes if all else is ok.

I think the problem is with this bit of code in the `check_units` method:
[code]

[2015-09-09 02:39] mhidas opened #159 "Implement a command-line option to output the code version"
We would like to keep track of which files passed which version of the checker. The simplest way to do that would be if we could just call `cchecker.py --version`, and get back the current release number. Since the code is changing quite a bit between releases, it would also be helpful to include the last change date and commit id. Something like this:
[code]

[2015-09-13 23:48] petejan commented on #155
The current code seems to fail when there is another : in the bracket, some experiments with regex...

What is a valid cell_method string? can I use this to check that the checker works?

LON: area TIME: average (interval: 10 days) LAT: std TIME3: stddev
(comment: 10) TEMP: area where land TEMP: area where land over sea TEMP:
area

Can use the following to find the Dimensions from the cell_methods

[2015-09-14 15:15] lukecampbell commented on #159
I won't be able to provide the commit id in the version string because it is circularly dependent but I can put the modified date.

[2015-09-14 15:18] lukecampbell commented on #109
I would also like to point out that I've started development on a compliance checker web version.
https://github.com/ioos/compliance-checker-web/

[2015-09-14 15:20] lukecampbell commented on #133
Any ideas? Like in the modules or something we'll need checkers for different versions. I'm frankly ok with like "acdd11.py" That's how OWSLib did it.

[2015-09-14 18:57] daf commented on #155
This is fixed in 5510452, thanks @petejan !

[2015-09-14 18:57] #155 closed

[2015-09-15 04:05] mhidas commented on #159
@lukecampbell Thanks, that would be helpful.

[2015-09-15 08:07] mhidas opened #163 "Checker returns overall "pass" result and no stderr output when exceptions encountered"
[This file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/misc/catalog.html?dataset=eMII/checker_test/misc/cf_checker_exception.nc) appears to pass all CF checks, but causes an exception in the `check_flags` method (separate issue). The checker output looks like this:
[code]
Of this, only the first line is sent to stderr.

Obviously we can fix the code so this particular except

[2015-09-16 07:31] mhidas commented on #163
Also that the reporting of exceptions seems to be completely skipped for the html and json output options.

[2015-09-16 13:17] #163 closed

[2015-09-16 15:11] lukecampbell opened #166 "CF Standard Name problem with files"

[2015-09-16 15:12] #166 closed

[2015-09-16 15:12] lukecampbell commented on #166
wrong repo

[2015-09-23 02:28] mhidas commented on #133
@lukecampbell Given that a new version of a given convention will likely only update a fraction of its rules, it might be easiest to have the checker for the newer version to be subclass of the older one?

In terms of command-line interface, it would be good to be nice to have options, e.g.
 * `cchecker.py -t=cf-16 file.nc` to specify CF-1.6
 * `cchecker.py -t=cf file.nc` to use the latest version

[2015-09-23 15:24] lukecampbell commented on #133
:+1:

[2015-09-28 01:50] mhidas opened #169 "CF check_all_features_are_same_type gives no reasoning"
For [this file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ABOS/Pulse/catalog.html?dataset=eMII/checker_test/ABOS/Pulse/IMOS_ABOS-SOTS_W_20150331T130000Z_Pulse_FV00_Pulse-11-MRU-Surface-wave-height-realtime_END-20150813T230000Z_C-20150821T022247ZZ.nc), the CF checker results include:
[code]
It would be helpful to provide a bit more detail to explain what "same type" means in

[2015-10-01 14:08] daf commented on #62
This was resolved in #110/#114

[2015-10-01 14:08] #62 closed

[2015-10-01 14:19] daf commented on #154
@mhidas , @lukecampbell addressed this in #167 and made the ref part of the check name itself.  If you get a minute can you please evaluate it and see if it addresses this issue well?

[2015-10-13 07:01] mhidas commented on #154
@daf @lukecampbell Thanks. I've finally had a look at this. It's not quite what I had in mind, but it might just do the trick. However, breaking the grouping (as you pointed out https://github.com/ioos/compliance-checker/pull/167#issuecomment-144741447) is a possible drawback. I don't care about combining scores according to the grouping, but it does order the results in a meaningful way.

Having

[2015-10-13 13:25] lukecampbell commented on #154
Thanks! I'll take a look

[2015-10-13 23:10] mhidas commented on #154
@lukecampbell I just realised I've seen the second exception (in `group_func`) before, or at least something very similar. I got as far as figuring out that it was probably due to multiple Result objects having exactly the same name.

[2015-10-27 04:44] mhidas opened #170 "CF check_two_dimensional: maximum recursion depth exception"
Running the CF checker on [this file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/SOOP/ASF/catalog.html?dataset=eMII/checker_test/SOOP/ASF/IMOS_SOOP-ASF_FMT_20150205T000200Z_ZMFR_FV02.nc), it passes all checks, but there's this exception:
[code]

I think this is due to self-referencing coordinates attributes, e.g.
[code]
... which is not correct, but still the checker should

[2015-10-27 04:54] mhidas opened #171 "CF check_flags: 'numpy.int8' object is not iterable"
Running the CF checker on [this file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/SOOP/ASF/catalog.html?dataset=eMII/checker_test/SOOP/ASF/IMOS_SOOP-ASF_FMT_20150205T000200Z_ZMFR_FV02.nc), we get this exception:

[code]

This is another special case that can probably be considered incorrect according to CF, but in that case it should give a fail result, rather than an excepti

[2015-10-27 16:12] daf commented on #171
Fixed in 90375ba

[2015-10-27 16:12] #171 closed

[2015-10-27 16:13] daf commented on #171
@mhidas after applying your fix and testing on this file, I get a `UnicodeEncodeError: 'ascii' codec can't encode character u'\xa7' in position 0: ordinal not in range(128)` when trying to format the results, but that's certainly a separate issue.

[2015-10-27 18:02] daf commented on #84
Now #173

[2015-10-27 23:41] daf commented on #130
Fixed in #177

[2015-10-27 23:41] #130 closed

[2015-10-27 23:42] daf commented on #60
Finally introduced in #173

[2015-10-27 23:42] #60 closed

[2015-10-28 18:09] lukecampbell opened #178 "Formatting"
We need to fix the CF formatting. This can be produced by generating an HTML report for the bad datasets under tests.

[2015-10-29 00:24] mhidas commented on #178
@lukecampbell I assume you're referring to the exceptions I mentioned in https://github.com/ioos/compliance-checker/issues/154#issuecomment-147624951 ?

[2015-10-29 07:19] mhidas commented on #171
@daf I get the same exception from versions before my fix was merged, e.g. try running https://github.com/ioos/compliance-checker/commit/db62cea9e3ba90843ea0961b734077628f444c70
on the test file compliance_checker/tests/data/bad_region.nc

There's also several slightly different but similar issues I've been seeing, since #167 was merged (see my comments https://github.com/ioos/compliance-checker/i

[2015-10-29 07:21] mhidas commented on #178
Here's another one (using code as at db62cea9e3ba90843ea0961b734077628f444c70):

[code]

[2015-10-29 14:31] lukecampbell commented on #178
yeah that's a unicode error, that's deserving of it's own bug.

[2015-10-29 14:31] lukecampbell opened #179 "Unicode Characters and Support"
[code]

As mentioned in #178

[2015-11-01 23:59] mhidas commented on #179
@lukecampbell Thanks. Some of these look very similar, so it's hard to tell if they result from the same bug.

Are you able to reproduce this, or could it be something in my local environment?

[2015-11-02 19:55] #179 closed

[2015-11-02 19:55] #178 closed

[2015-11-02 19:58] lukecampbell commented on #108
Fixed with the unicode changes

[2015-11-02 19:58] #108 closed

[2015-11-02 20:00] #154 closed

[2015-11-02 20:00] #170 closed

[2015-11-02 20:01] lukecampbell commented on #115
This is being satisfied in a project as a plugin https://github.com/ioos/cc-plugin-ncei/

[2015-11-02 20:01] #115 closed

[2015-11-02 20:02] #80 closed

[2015-11-02 20:02] lukecampbell commented on #80
We fixed this when I rewrote the argument parser

[2015-11-02 20:02] #74 closed

[2015-11-02 21:20] lukecampbell commented on #169
I reviewed the code for this and started to make the change but I'm not satisfied with how we're performing this check. I'd like to refactor a lot of the chapter 9 stuff.

[2015-11-03 03:32] mhidas commented on #170
Thanks @lukecampbell !

[2015-11-03 04:43] mhidas commented on #159
This was provided in b1af5119

[2015-11-03 04:43] #159 closed

[2015-11-03 05:53] mhidas opened #183 "IndexError: list index out of range in suite.py (running CF checks)"
I'm still getting this error for a lot of files, e.g.
[code]

I think I first started seeing this issue after the new result naming scheme was introduced in #167
As I mentioned before, I got as far as figuring out that it was probably due to multiple Result objects having exactly the same name.

[2015-11-03 07:03] mhidas commented on #183
Ok, I think #183 does the job.

[2015-11-03 14:51] #183 closed

[2015-11-03 19:42] lukecampbell opened #186 "Pretty names for Checkers"
As a web developer, I would like to be able to have a list of pretty names for each checker and a detailed description so that I can include the names of the checker in the user interface(s).

Example:
![screen shot 2015-11-03 at 2 41 56 pm](https://cloud.githubusercontent.com/assets/1155163/10919473/1331ec2c-8239-11e5-82d5-ff97c4b9ce93.png)

[2015-11-03 19:52] lukecampbell commented on #186
This is sooooo low priority, it may even just get closed. This is really a presentation issue and as such, it's currently trivial to have the presentation layer (UI) deal with mapping pretty names to the tests, but in the longer scheme of things, it would be nice to be able to dynamically include new plugins, and have the UI automagically update.

[2015-11-03 19:54] daf commented on #186
Could see this as additional `__` attributes on each Checker class.

Wants:
- Name
- Description
- URL
- Author
- Version

[2015-11-03 22:40] mhidas commented on #186
:+1: :+1: I've been thinking about adding such attributes too. In particular
 * Name and version to be displayed by the `--version` option, and
 * URL (and description) could be added as a footnote to the checker output to point to further information about the conventions being checked.

[2015-11-04 19:53] lukecampbell opened #188 "Review compliance score for USACE Dataset"
http://wisdata.erdc.dren.mil/thredds/dodsC/frf/oceanography/temperature/eop-temp/2013/FRF-ocean_temperature_eop-temp_201312.nc.html

This dataset really should have received a perfect score without any corrective actions (for CF at least). I need to identify why corrective actions show up and why the error is claiming a self-reference for the coordinates.

[2015-11-04 23:38] mhidas commented on #188
@lukecampbell I've noticed incorrect self-referencing results on some of my files too. Looks like this issue was introduced in 35dd9ec3ef93b84f3dad58c8c7ea61ea383608d2

[2015-11-05 04:53] mhidas commented on #158
Fixed in #182

[2015-11-05 04:53] #158 closed

[2015-11-05 14:13] daf commented on #84
Fixed in #173

[2015-11-05 14:13] #84 closed

[2015-11-05 14:23] daf opened #189 "Verify 2.0 with conda on windows"
@abirger [reports](https://groups.google.com/d/msg/ioos_tech/q39_0Z0iUlo/a88ZVwN-BQAJ) that updating 2.0 using pip in an anaconda environment on windows isn't working for him. Investigate.

[2015-11-05 14:26] ocefpaf commented on #189
Anaconda or no `pip install` won't work  on Windows unless we create wheels for compliance-checker.

PS: I did just fixed the Windows build on the IOOS channel and the [new binaries are up](http://anaconda.org/IOOS/compliance-checker/files).

[2015-11-05 15:32] abirger commented on #189
@ocefpaf , @daf , I've just verified that compliance-checker update with `conda update compliance-checker` command goes well, and the updated compliance-checker works OK (at least with the test files).

Need to notice though, that I had to re-install Anaconda from scratch using 32-bit instead of 64-bit because the 64-bit Anaconda stopped activating the compliance_checker environment after upgrade

[2015-11-11 18:02] daf opened #192 "3.5 Flags and flag attributes - flag_values attr does not have same type as var"
Ran the new compliance-checker-web on the file referenced in #171 and got a number of "Corrective Actions" with the following text:

[code]

This is partially useful as it tells me what types were wrong (cryptically, though), but it does not tell me what variable.  Especially as there's a ton of these messages, all the same.

[2015-11-11 18:03] daf commented on #192
Actually, this may be an issue with compliance-checker-web's output formatting, @lukecampbell ?

[2015-11-12 07:15] mhidas commented on #192
@daf I've come across this as well and thought it should be fixed. I think it's a result of the new naming system for CF checks. For a lot of them the variable name (and sometimes useful - IMHO - third-level check names) were removed, leading to many check results being combined into one. Some other checks have the same issue:
 * 2.4 Dimension order
 * 3.1 Variables contain valid CF Units
 * 3.3 S

[2015-11-16 01:26] ggalibert opened #193 "CF units check for variables with standard name modifier number_of_observations fail"
For this [file] (http://thredds.aodn.org.au/thredds/fileServer/IMOS/eMII/checker_test/LCJO/IMOS_SRS-OC-LJCO_KOSTUZ_20140109T052500Z_SRC_FV02_WQM-daily_C-20151115T235718Z.nc), the CF checker results include:
[code]
The netCDF file content is as follow for this variable:
[code]
We're following [CF recommendations for units according to which standard name modifier used] (http://cfconventions.org/Dat

[2015-11-16 01:58] mhidas commented on #193
With the latest version of the code, the output looks like this:
[code]
I.e. missing variable names (see #192)

[2015-11-26 01:27] ggalibert opened #195 "Question about check_reduced_horizontal_grid in cf.py"
I can see that ```check_reduced_horizontal_grid``` is looping through variables that are not coordinate variables (in the CF meaning) and which have a ```coordinates``` variable attribute, so that then each of their variables listed in ```coordinates``` must have for dimension a coordinate variable (see [line 1589] (https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py

[2015-12-08 19:13] lukecampbell commented on #195
I think the reduced grid checks are a bit wonky at the moment and I'll need to revise them.

[2015-12-08 19:13] lukecampbell commented on #195
I'll mark this as a bug to fix soon.

[2015-12-16 02:27] lbesnard opened #196 "Question about data type for flag_masks"
Question about the data type allowed for a flag_masks variable.

See CF.py code
[code]
https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L811

is there a reason why int8 and int32 are allowed and int16 is not. I previously had a file
with a flag_masks variable of "short' type not passing the CF checker

Thanks

@mhidas FYI

[2015-12-16 14:34] lukecampbell commented on #196
it should allow all integer types, I believe.

[2015-12-16 14:34] lukecampbell commented on #196
@benjwadams could you take a look at this?

[2016-01-12 20:15] kknee commented on #12
completed as of release 2.0

[2016-01-12 20:15] #12 closed

[2016-01-12 20:21] kknee commented on #189
based on @abirger comments above, closing

[2016-01-12 20:21] #189 closed

[2016-01-12 20:25] kknee commented on #150
this is complete, we're using 29.  @mbiddle-nodc we're not currently maintaining historical table lookups.

[2016-01-12 20:25] #150 closed

[2016-01-12 20:26] kknee commented on #137
this is a UDUNITS issue, closing

[2016-01-12 20:26] #137 closed

[2016-01-12 20:29] kknee commented on #133
Now that we're supporting plug-ins, do we need to worry about this?  Can we not just have an ACDD 1.2 plug-in, ACDD 1.3 plug-in, etc?

[2016-01-12 20:30] kknee commented on #122
This is for CF and ACDD

[2016-01-12 20:37] kknee commented on #100
solved as of release 2.0

[2016-01-12 20:40] lukecampbell commented on #103
I can take a look at the file if you could provide an updated URL for it. As far as regrouping goes, the grouping and aggregations are based on the language used in the documents. For example when ACDD uses the language "highly recommended" the check counts as a high priority or 3 points. When ACDD uses language like "recommended" it's a medium check.

I'll take regrouping into consideration.

[2016-01-12 22:22] lukecampbell commented on #169
After merging my changes it will look like this

[code]

[2016-01-12 23:53] mhidas commented on #103
@lukecampbell Sorry, we've made some  changes to our THREDDS server. [Here](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/timeSeries/catalog.html?dataset=eMII/checker_test/ANMN/timeSeries/IMOS_ANMN-AM_GST_20140407T040000Z_NRSMAI_FV01_NRSMAI-CO2-1404-delayed_END_20140922T220000Z_C-20150311T084035Z.acceptable_units.nc) is an updated link to the file mentioned above.

[2016-01-13 13:12] #169 closed

[2016-01-13 14:57] kerfoot opened #198 "Link to README.md CF 1.6 is incorrect"
The link to the CF 1.6 documentation in the table contained in the README.md is incorrect.  It does not point anywhere.  I believe it should point to:

http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html

[2016-01-13 15:22] daf commented on #150
As of b8ec477e6b9a9d8a9bb32f3c86d1b0e82de47069

[2016-01-13 15:27] daf commented on #133
That would mean we'd have to move the "core" checkers (ACDD/CF) out of the main package, which feels wrong - should come with some built in.

The only mechanism we'd have to distinguish with now is plugin name.  A "version" key would be good to have too as another first-order property.  (Version is likely not a good name to use as it implies software version, not spec version)

[2016-01-13 15:28] daf commented on #100
Can we link this to a commit that demonstrates fixing?

[2016-01-13 16:10] daf commented on #103
This specific file no longer demonstrates the issue - was likely addressed in #167 or similar as things started getting ungrouped.  Current output:

[code]

However, the underlying issue has not been addressed - grouping will always take the highest priority of failing children and promote that to the group's priority.  I'm not sure this is even a bug, as long as it is clear on reporting, but as w

[2016-01-13 16:49] #198 closed

[2016-01-13 17:00] lukecampbell commented on #100
I can't pinpoint the specific commit, I think it happened over several different changes. The best I could maybe do is write a test that verifies this and tag that here?

[2016-01-13 17:01] lukecampbell commented on #133
for acdd and cf, I propose we just have modules named "cf17" and "acdd13".

[2016-01-13 17:01] lukecampbell commented on #150
Thanks

[2016-01-13 17:03] daf commented on #100
Yeah that's probably even better.

[2016-01-13 17:05] lukecampbell commented on #100
I do recall that this was fixed around the time I was troubleshooting the recursive `coordinates` issues though. I'll try to add a test.

[2016-01-13 17:50] kknee commented on #133
that's what I was thinking, and was not trying to indicate that they would be coming out of the main CC package.

[2016-01-13 17:53] daf commented on #133
Perhaps rename `cf -> cf16` and `acdd -> acdd12`, with an alias `cf` meaning latest?  Maybe a docker-like label scheme?  `cf:1.6`, `cf:1.7`, `cf:latest` with `:latest` implied if omitted?

[2016-01-13 22:26] mhidas commented on #169
:+1:

[2016-01-13 23:05] mhidas commented on #103
@daf Yes, if the final PASS/FAIL result is determined by considering each individual check with its own priority level independently, then yes, this issue would go away.

However, when presenting the results, I think it is helpful to group the failed tests in a meaningful way (e.g. group all checks for a given variable together, like it was before #167 -- I have proposed a solution in #194).

[2016-01-13 23:33] mhidas commented on #133
:+1:

[2016-02-03 05:13] ggalibert opened #200 "Test "dimension_order" with inconsistent results"
This [file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/timeSeriesProfile/catalog.html?dataset=eMII/checker_test/ANMN/timeSeriesProfile/IMOS_ANMN-QLD_AETVZ_20110307T111900Z_GBRHIS_FV00_GBRHIS-1103-Workhorse-ADCP-model-Sentinel-or-Monitor-44_END-20110813T105900Z_C-20160203T040408Z.nc) and this [one](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/ti

[2016-02-03 05:14] ggalibert commented on #200
@mhidas could you please label this issue for me please (bug/imos required)?

[2016-02-03 15:20] kwilcox commented on #33
@lukecampbell are you working on this? Can it please be an external library simliar to https://github.com/ioos/cc-plugin-sgrid so we can track the standard outside of compliance-checker?

[2016-02-03 15:21] daf commented on #33
This issue was created before plugins were a thing, it should absolutely be a plugin.

[2016-02-03 15:22] daf commented on #33
Btw with the way plugins are implemented, you could feasibly ship a CC plugin in pyugrid/pysgrid instead of a separate project, if that makes more sense for the project.

[2016-02-03 15:23] ocefpaf commented on #33
:+1: to that.

ping @rsignell-usgs

[2016-02-03 15:28] kwilcox commented on #186
How about these for optional attributes on any `Checker` class (with a fallback to something sane implemented in CC).

* `_cc_title`
* `_cc_description`
* `_cc_url`
* `_cc_author`
* `_cc_version`

[2016-02-03 15:33] kwilcox commented on #33
@daf true, shipping the `Checker` classes along with `pysgrid` and `pyugrid` would be slick. I was concerned about adding a ton of dependencies to projects that only needed the checkers. I'll do it as a separate repo for now and blame someone else for the decision if it ends up being a bad one.

[2016-02-03 15:35] daf commented on #186
Version really has two components - one for spec version (CF **1.6**, ACDD **1.3**) etc, also one for checker internal version (semantic, of course @dpsnowden).  Probably two separate fields.

- `_cc_spec_version`
- `_cc_???_version` ?

[2016-02-03 15:38] daf commented on #33
It would have to be done as an "optional" style thing, which I have no idea how to do properly in python packaging.

[2016-02-03 15:43] kwilcox commented on #186
Yes yes yes. I plan to release the `cc-plugin-sgrid` package with the same versions as the spec, but that won't always be the case!

* `_cc_checker_version`
* `_cc_spec_version`

?

[2016-02-03 15:48] daf commented on #186
Those names are good.

See also #133 and #127 for similar discussions.  My proposal for a docker-inspired selection mechanism is [here](https://github.com/ioos/compliance-checker/issues/133#issuecomment-171378700).

[2016-02-03 15:50] daf commented on #133
@kwilcox has suggested a way to run more than one from a "family", maybe a special token like `cf:all` or `cf:*`?  Maybe comma separated?  `cf:1.6,1.7`?

[2016-02-03 15:55] lukecampbell commented on #186
:+1:

[2016-02-03 15:57] lukecampbell commented on #33
Yeah it would be a new plugin cc-plugin-ugrid. It's part of our 2.1 release plan.

[2016-02-03 15:59] kwilcox commented on #186
Updated list of specials:

* `_cc_spec`  - `CF`, `ACDD`, `SGRID`. Formatted however, but consistent across all Checkers for this spec type.  CC can use this to group checks of the same spec together. See [this] (https://github.com/ioos/compliance-checker/issues/133#issuecomment-179303034).
* `_cc_spec_version` - Version of the spec: `1.6`, `1.7` for CF.
* `_cc_description`
* `_cc_url`
* `_cc_autho

[2016-02-03 16:00] DanielJMaher commented on #200
@ggalibert Looking into this, it appears that if a variable has multiple dimensions AND a coordinates attribute that is not in T, Z, X, Y order it fails.

I need to do some more testing to figure out the TZXY ordering for the coordinates attribute to make sure this diagnosis is 100%.

Reading the excerpt from 2.4 (included on the bottom of this comment), it appears that you can have the coordinate

[2016-02-03 16:01] kwilcox commented on #133
Once the checkers all implement `_cc_spec` and _cc_spec_version` attributes, how much effort to integrate this so we can just run `cf` checks and get output from all of them found?

[2016-02-03 16:02] lukecampbell commented on #133
should be pretty easy, I would think. We'll need to tweak the command line args, and the CheckSuite class but should be really easy.

[2016-02-03 16:04] lukecampbell commented on #200
I think it should pass, it's T,Z.

[2016-02-03 16:52] DanielJMaher commented on #200
@lukecampbell Even though the coordinates at TXYZ?

[2016-02-03 18:39] lukecampbell commented on #200
oh, I see what you're saying the coordinates attribute should be

[code]

Not
[code]

That's quite picky and I don't necessarily agree with CF on that one but, yeah that's right, I think.

[2016-02-03 18:45] DanielJMaher commented on #200
I think this is an example of the CChecker running wild.  i dont think CF 1.6 meant to check the coordinates for 2.4

Sound good if I fix this test to ignore the coordinates?

[2016-02-03 19:01] lukecampbell commented on #200
yes please.

[2016-02-03 21:30] DanielJMaher opened #202 "Create a way to skip a check"
We could use some way to pass a test to prevent one failed test from having a trickle down effect causing more failures that aren't real.

Not time critical, but cam up in conversation.

[2016-02-03 21:34] DanielJMaher commented on #200
@lukecampbell I was wrong on the coordinates part, but as we discussed I have the path forward.  Will explain in PR (no time frame).

[2016-02-03 21:58] DanielJMaher commented on #200
@lukecampbell PR is in

[2016-02-03 22:00] kwilcox commented on #202
Already ran into the need for this. My temp solution:

[code]

Obviously not ideal if `check1` is intensive... but works. Without a dependency graph, this won't be easy.

[2016-02-03 22:02] daf commented on #202
Dependency graph idea:

[code]

CheckSuite would have to scan for checks as usual, find these deps, make a graph, figure out if the graph is traversable, then execute in correct order.  Also give warning/error out if unknown dep shows up.

[2016-02-04 00:19] ggalibert commented on #200
What worries me more is that the two files I mentioned above are almost identical and the CF check doesn't behave consistently. One file passes it while the other doesn't...

[2016-02-04 03:46] kwilcox commented on #200
@rsigell-usgs mentioned to me a few months ago that the order of the `coordinates` is arbitrary.  I had assumed it followed the same conventions as the dimensions.  Still the case?

[2016-02-04 03:48] DanielJMaher commented on #200
I'm not 100% sure. I think coordinate ordering is more of a "nice to have" but I'm not sure I can tell you though that 2.4 shouldn't deal with coordinates at all. It's dimensions only.

I'll look into the coordinates thing though.

[2016-02-04 03:53] ggalibert commented on #200
[CF 1.6](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#coordinate-system) says:

[2016-02-04 03:57] ggalibert commented on #200
[Somewhere else in CF 1.6](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#dimensions) goes:

So I guess that's what the test "dimension_order" should be about.

[2016-02-04 12:28] rsignell-usgs opened #204 "Improve documentation for web service landing page"
I'm not sure this is the right place to report this, but on the landing page for the web service version of the compliance checker:
http://data.ioos.us/compliance/index.html
I think two modifications to the page text could improve the user experience:

1. Add the size limit for files uploaded from disk.  Is it 5MB?  All I know is that I tried a 6.5Mb file, and it failed with the message "too big".

[2016-02-04 12:52] kknee commented on #204
@rsignell-usgs both good suggestions, thanks!

[2016-02-04 13:01] rsignell-usgs opened #205 "RESTful syntax for compliance checker service?"
Could the compliance checker service be made restful, so that you could, for example request that an OPeNDAP endpoint by checked for CF compliance by issuing a command like:

http://data.ioos.us/compliance?request=CF&report_format=PDF&remote_url=http://geoport-dev.whoi.edu/thredds/dodsC/usgs/data2/emontgomery/stellwagen/CF-1.6/CAPE_COD_BAY/3051B-A.cdf

That would allow nice batch processing.

Repo

[2016-02-04 13:06] rsignell-usgs opened #206 "Conventions field is "CF-1.x (x in 0-6)""
I used the web service to run a CF-1.6 check on this OpenDAP Data URL
http://geoport-dev.whoi.edu/thredds/dodsC/usgs/data2/emontgomery/stellwagen/CF-1.6/CAPE_COD_BAY/3051B-A.cdf
and got back a perfect 12/12, but also this corrective action:
![2016-02-04_7-57-14](https://cloud.githubusercontent.com/assets/1872600/12815708/032c021a-cb16-11e5-917d-431300207f16.png)

I'm not sure what this is supposed

[2016-02-04 13:23] lukecampbell commented on #205
It's not restful in the REST sense but there is a public facing API that reads and returns JSON, and allows uploading of files.  Right now we have CSRF and a login preventing 3rd party access but we'll be removing those soon.

[2016-02-04 13:26] lukecampbell commented on #205
I will add documentation for this service to the wiki, once we remove the login.

[2016-02-04 13:27] lukecampbell commented on #206
Looks like a bug. The corrective action would suggest that it's missing, but I just checked and it's not.

[2016-02-04 13:28] lukecampbell opened #207 "Remove login from compliance checker web"
Several people, all within the span of 24 hours have asked me to remove the login requirement from the online compliance checker service.

[2016-02-04 13:41] rsignell-usgs commented on #207
Make that 8.  :smile_cat:

[2016-02-04 13:43] rsignell-usgs commented on #206
Since you already have an API, it would be easy to make a RESTful service also, no?
I still think it would be a nice addition.    Some people don't like to code.   :grinning:

[2016-02-04 13:44] rsignell-usgs commented on #205
Since you already have an API, it would be easy to make a RESTful service also, no?
I still think it would be a nice addition.    Some people don't like to code.   :grinning:

[2016-02-04 14:12] lukecampbell commented on #205
I could make it restful-ish for posting URLs but uploading files embedded in JSON is not restful and it's tedious for both the client and the server-side developer.

Right now it would be something like

[code]

For a file upload it would be

[code]

If we forced this to be RESTful it would be a tad more complicated. Basically we'd embed JSON into form fields with a file upload.

http://stackoverf

[2016-02-04 15:12] #204 closed

[2016-02-04 15:20] daf commented on #206
Early in development we used the messages field for both "correct" and "incorrect" things, before we settled on the notion that messages are only for issues.  Basically, just remove the string [here](https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L475).

[2016-02-04 15:21] lukecampbell commented on #204
I did this and I increased the size to 16MB

![screen shot 2016-02-04 at 10 21 01 am](https://cloud.githubusercontent.com/assets/1155163/12819410/0303931c-cb29-11e5-993f-bb5fd7a10aba.png)

[2016-02-04 15:41] #206 closed

[2016-02-04 15:52] kwilcox opened #210 "Python3"
We need it, I'll do it based off the @daf `nowicken` branch

[2016-02-04 16:18] #200 closed

[2016-02-04 16:22] daf commented on #200
@DanielJMaher can you look into @ggalibert's files to see what's going on?

[2016-02-04 16:29] lukecampbell commented on #200
It's no longer an issue with the latest...

There are a lot of self referencing errors tho.

[2016-02-04 16:33] daf commented on #200
Can you elaborate?

[2016-02-04 16:36] lukecampbell commented on #200
I'm looking into it now, at a glance the graph traversal algorithm has a recursion bug in it which causes a false fail for the 2-D horizontal grid check §5.2

[2016-02-04 16:42] lukecampbell opened #211 "Self Referencing Coordinates Bug"
http://geoport-dev.whoi.edu/thredds/dodsC/usgs/data2/emontgomery/stellwagen/CF-1.6/CAPE_COD_BAY/3051B-A.cdf

Running CF on this dataset results in a several `coordinates_reference_itself` for the §5.2 Check(s). Looking at the actual dataset, I cannot see any coordinates that reference themselves in a coordinates attribute. After looking and debugging minimally, I think the issue is in how we are b

[2016-02-04 16:43] lukecampbell commented on #211
Discovered from https://github.com/ioos/compliance-checker/issues/200

[2016-02-04 16:52] lukecampbell commented on #195
This is part of #211

[2016-02-04 18:02] kwilcox commented on #211
@lukecampbell I'm seeing either this bug, or another in the `TestCF.test_check_two_dimensional` test. It inconsistently passes and fails for me on the same dataset. @ggalibert

[2016-02-04 18:19] kwilcox opened #212 "get_safe method on DotDict does what?"
https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/util.py#L143-L151

`get_safe` isn't going to be defined from within this class function. Do we need this method?  If its used anywhere it would be raising an exception.

`getattr(self, qual_key)` ?

[2016-02-04 18:21] daf commented on #212
Was copypasta'd from OOI, here's what `get_safe` is supposed to be: [pyon/utils/containers.py](https://github.com/ooici/pyon/blob/122c629290d27f32f2f41dafd5c12469295e8acf/pyon/util/containers.py#L198-L211)

[2016-02-04 18:22] kwilcox commented on #212
AH ok, we are just missing a higher scoped function of the same name.. I'll add.

[2016-02-04 18:25] kwilcox opened #213 "check_cell_measures won't work as expected"
https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L2036

Should be valid = False. Fixing...

[2016-02-04 18:27] kwilcox opened #214 "[cf] check_units can raise an exception on undefined variable"
https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L644

Should be `v.name`. Fixing...

[2016-02-04 18:28] daf commented on #214
Also "is of" not "in of"

[2016-02-04 18:28] kwilcox commented on #214
so picky...

[2016-02-04 22:44] kwilcox commented on #211
I fixed the bug in `check_two_dimensional` here: https://github.com/ioos/compliance-checker/commit/1eac74f591a5ae50ce600203bd565cd4b7026e6b

[2016-02-04 23:29] daf opened #216 "IOOS Metadata checker needs Wicken updating"
There aren't any tests for it, and netcdf files work fine for it, so it wasn't caught during the Wicken removal.  The XML paths need updating.

[2016-02-05 16:10] #212 closed

[2016-02-05 16:10] #213 closed

[2016-02-05 16:10] #214 closed

[2016-02-05 16:22] kwilcox commented on #210
Fixed in https://github.com/ioos/compliance-checker/pull/215

[2016-02-05 16:22] #210 closed

[2016-02-05 18:05] kwilcox commented on #196
@lbesnard can you try out the `ints` branch to see if it fixes the problem? Better yet, if you post a file here that was causing you issues I will write a test for it. There are currently no tests for `flag_masks`.

[2016-02-08 19:32] DanielJMaher commented on #100
@daf @lukecampbell What's the call here guys?  AM i just writing a test to prove that it works, or should I dive in a bit and find the commit?

[2016-02-08 19:39] #86 closed

[2016-02-08 19:39] DanielJMaher commented on #109
To fire this thread back up, @lukecampbell @mbiddle-nodc , have we determined a way to say "Yes this dataset is good enough"?

I would imagine that passing every high priority is a must, but from there I see 2 schools of thought:
1) Every High Priority and some minimum percentage of Medium Priority (75%?)
2)  Only High Priority matters

[2016-02-08 19:59] DanielJMaher commented on #70
@daf @lukecampbell @kwilcox

Do we want to wrap this up into #202 and make a more intensive system for skipping tests and not accessing datasets during tests?

[2016-02-08 20:53] lukecampbell commented on #211
![screen shot 2016-02-08 at 3 53 41 pm](https://cloud.githubusercontent.com/assets/1155163/12898728/288bd63e-ce7c-11e5-804b-d7cb909ee2aa.png)

[2016-02-08 20:55] lukecampbell commented on #100
here
https://github.com/ioos/compliance-checker/pull/219

[2016-02-08 21:48] kknee commented on #109
@DanielJMaher we worked this out with @mbiddle-nodc on a recent call about the NCEI plugin.  I'll put the details in that repo.

[2016-02-08 22:08] daf commented on #70
It could be a similar solution to what I proposed in #202 with a decorator:

[code]

and control the running of those via command line flags (`--allow-remote-data=True` or similar).  It should probably produce skips in the output a la unit tests.

[2016-02-09 13:19] lukecampbell commented on #70
yeah that would be good!

[2016-02-09 13:25] lukecampbell commented on #207
I've got the PR ready to go, just waiting for the "go-ahead" from the higher ups.

[2016-02-09 13:26] #100 closed

[2016-02-09 13:38] lukecampbell commented on #186
@daf @kwilcox @DanielJMaher
How do we sit with this?
https://github.com/ioos/cc-plugin-glider/compare/master...lukecampbell:pretty_names

I'd like to do something similar for the other checkers and integrate it into the web version.

[2016-02-09 14:45] rsignell-usgs commented on #207
like @dpsnowden ?

[2016-02-09 15:01] daf commented on #186
Nearly exactly what I had in mind, two quibbles -

- `_cc_version` should def be unlocked from main CC's version (minor revisions to glider dac plugin will desync this very quickly)
- `_cc_author` maybe rename to authors?  Or just comma separated list of name <email> pairs, the plural-ness of the attribute itself is unlikely to matter.

[2016-02-09 15:49] lukecampbell commented on #186
I'm ok with that.

[2016-02-09 15:52] lukecampbell commented on #186
Ok, I updated it to `_cc_authors` and then `_cc_checker_version` is set to `2.0.0`

[2016-02-09 15:53] lukecampbell commented on #186
Also https://github.com/ioos/compliance-checker/wiki/Compliance-Checker-Meta-Attributes

[2016-02-09 15:59] #207 closed

[2016-02-09 17:00] kwilcox commented on #70
@DanielJMaher can you point me to a test that reads a bunch of data? I just looked through the CF checks and nothing stood out.

[2016-02-09 17:06] kwilcox commented on #70
@daf linked me to the ACDD checks that put the coordinate axis in memory. Any others?

[2016-02-10 20:23] daf commented on #186
Hm - we've either forgotten one, or will repurpose the `_cc_spec` field - the name used to select the checker on the command line!

Building on the work done by @fxmzb123 in 0423657 (lol this sha1), we added a `name` field to all Checkers, and that's what's exposed on the command line.

Do we
- keep `name`
- rename `name` -> `_cc_name`
- use `_cc_spec` INSTEAD of `name`
- ???

[2016-02-10 20:31] kwilcox commented on #186
`_cc_spec` won't work if someone just want to run `cf-1.6` checks (the `_cc_spec` would be just `cf`).

We could combine `_cc_spec` and `_cc_spec_version` to get a unique "thing" to run on the command line?

[2016-02-10 20:36] daf commented on #186
With the docker-style resolving approach (discussed [here](https://github.com/ioos/compliance-checker/issues/133#issuecomment-171378700)), all you'd need would be `cf` though - possibly case-insensitive.

As long as `:latest` can be inferred by some sort of incremental versioning, semantic or linear...

To your example, if someone wanted to run `cf-1.6`, they could specify `cf:1.6`, `cf:latest`, o

[2016-02-10 20:44] kwilcox commented on #186
So if I wanted to run all of the `cf` checks, I would do... `cf:all`?

[2016-02-10 20:46] daf commented on #186
Yes, see [this](https://github.com/ioos/compliance-checker/issues/133#issuecomment-179303034)

[2016-02-10 20:49] kwilcox commented on #186
OK, so :+1: using `_cc_spec` instead of `name`

[2016-02-10 21:02] lukecampbell commented on #186
I dig it.

[2016-02-10 23:38] lbesnard commented on #196
@kwilcox Sorry for the late answer. Thanks for having a look at this. An example file can be found here
http://thredds.aodn.org.au/thredds/catalog/IMOS/SRS/sst/ghrsst/L3S-1d/ngt/2015/catalog.html?dataset=sst/ghrsst/L3S-1d/ngt/2015/20151231152000-ABOM-L3S_GHRSST-SSTskin-AVHRR_D-1d_night.nc

[2016-02-11 13:41] #196 closed

[2016-02-11 14:29] rsignell-usgs commented on #205
Version 1 of the REST interface could work only with DAP URLs, and you save the uploading files part for a future version (or never!).

[2016-02-11 19:11] lukecampbell commented on #205
yeah, I could make a REST-like interface for DAP URLs.

[2016-02-15 19:08] DanielJMaher commented on #192
"Someone needs to revisit the 3.5 test and make sure the variable is being passed " - Luke

[2016-02-15 19:11] DanielJMaher commented on #188
[code]

[2016-02-15 19:11] #188 closed

[2016-02-15 19:20] DanielJMaher commented on #122
This is going to be kind of tricky.  These are all rational ways to include my name as a contributor:

Daniel Maher
DMaher
D. Maher
Daniel James Maher
Maher, Daniel
Maher, Daniel, James

We need to either make a standard or we are going to have a lot of incredibly awkward edge cases.

[2016-02-15 22:37] lukecampbell commented on #83
I can't reproduce this issue any more, so I believe it's been corrected. However, a new error is shown:

[code]

Which is actually a valid failure, I believe.

@kwilcox is it safe to close this issue?

[2016-02-18 03:25] rsignell-usgs opened #221 "4MB file results in "File is too large""
On the online compliance checker
http://data.ioos.us/compliance/index.html
it says the max size for a netcdf file to test is 16MB.

When I try to upload this 4MB netcdf file
https://drive.google.com/a/usgs.gov/file/d/0B4Ftaivb4JbZUVpJUjhwUWZqaVk/view
however, I get "File is too large"

[2016-02-18 03:34] rsignell-usgs opened #222 "cf-units=0.1.1 or cf_units=1.1"
I'm having trouble running the compliance checker on win64

![2016-02-17_22-31-29](https://cloud.githubusercontent.com/assets/1872600/13133088/519ab5e4-d5c6-11e5-9277-34d8b0c6d775.png)

It's complaining about `cf-units=0.1.1` not being installed, but I've got `cf_units=1.1` installed from the IOOS channel.

[2016-02-18 11:22] ocefpaf commented on #222
I though this was solved by #191. Can you check what version you have installed?

[2016-02-18 13:46] rsignell-usgs commented on #222
[IOOS] C:\Users\rsignell>conda list compliance-checker
# packages in environment at C:\Users\rsignell\AppData\Local\Continuum\Miniconda
2\envs\IOOS:
#
compliance-checker        2.0.0                    py27_3    ioos

[IOOS] C:\Users\rsignell>

[2016-02-18 13:52] rsignell-usgs commented on #222
Is there a "dash" vs. "underscore" problem here?
The package is `cf_units`, not `cf-units`: http://anaconda.org/ioos/cf_units

[2016-02-18 15:18] daf commented on #222
My compliance-checker conda env appears to have both installed:
[code]

The pip installed one is likely me being frustrated with the same problem at some point.  I think you've found the issue, @rsignell-usgs .

[2016-02-18 15:30] ocefpaf commented on #222
Something is broken! I cannot find the cf-units, only the correct cf_units.

https://pypi.python.org/pypi?%3Aaction=search&term=cf_units&submit=search

at some point. I think you've found the issue, @rsignell-usgs .

I will take a closer look at this next week.

[2016-02-18 15:32] daf commented on #222
I'm also not seeing any ref in code/supporting to `cf-units` with the dash (in compliance checker base, anyway).

[2016-02-18 15:34] lukecampbell commented on #221
Thanks, I'll try to get to this soon. That's rather embarassing.

[2016-02-18 16:07] rsignell-usgs commented on #222
My compliance checker env has these installed:
[code]

[2016-02-18 16:24] lukecampbell commented on #222
[code]
Something somewhere is calling this package cf-units

[2016-02-18 16:32] lukecampbell commented on #222
An absolutely fresh install of cf_units builds into cf-units:
[code]

[2016-02-18 16:38] rsignell-usgs commented on #222
Why are we building cf_units?  We already have the conda package in the IOOS channel.

[2016-02-18 16:38] lukecampbell commented on #222
I'm trying to find out why the package is being misnamed by following how conda builds it.

[2016-02-18 16:44] daf commented on #222
Weirder, when I do `python setup.py sdist`, it'll create a `cf_units.egg_info/PKG-INFO` which has the `cf-units` incorrect string, but the tar.gz file it creates' `PKG-INFO` is correctly `cf_units`.

[2016-02-18 16:45] lukecampbell commented on #222
I tried with a variety of strings, I see it changing any underscores into dashes...

[2016-02-18 16:46] rsignell-usgs commented on #222
@lukecampbell , sorry my bad.  :confounded:

[2016-02-18 16:46] rsignell-usgs commented on #222
Maybe we should rename this package "cf-units"

[2016-02-18 16:46] lukecampbell commented on #222
http://pybuilder.github.io/documentation/external_plugins.html#.VsX1U5MrLao

[2016-02-18 16:46] lukecampbell commented on #222
In that case, you will have to set the name of your package (for PyPI) to pybuilder-* (dashes instead of underscores).

Why this?

[2016-02-18 16:47] lukecampbell commented on #222
yeah so I think they need to change the name attribute to 'cf-units'

[2016-02-18 16:47] rsignell-usgs commented on #222
@pelson?

[2016-02-18 16:48] ocefpaf commented on #222
IOOS channel.

Rich, Luke is only checking what is in the package metadata.

Luke, I guess that is an automatic thing. There is no dash in the metadata
that explains the issue. Can you change how cc checks the name?

[2016-02-18 16:49] daf commented on #222
CC isn't doing anything here, it's just using normal python packaging (whatever that means).

[2016-02-18 16:49] rsignell-usgs commented on #222
Or @marqh, any ideas here?

[2016-02-18 16:53] pelson commented on #222
There is nothing in cf_units which uses ```cf-units``` as far as I can tell: https://github.com/SciTools/cf_units. Nor can I see anything in the conda recipe at https://github.com/SciTools/conda-recipes-scitools/blob/master/cf_units/meta.yaml.

I think I'm missing something...

[2016-02-18 16:54] daf commented on #222
@pelson , I think @lukecampbell discovered it's an automated thing inside of setuptools that does the substitution for you (how user-friendly!).

[2016-02-18 17:02] rsignell-usgs commented on #222
It certainly would be more standard to call this "cf-units" rather than "cf_units" anyway, no?
Or is it too late for that?

[2016-02-18 17:42] ocefpaf commented on #222
"cf_units" anyway, no?

I don't recall, but we had a reason to use the underscore.

[2016-02-18 18:24] lukecampbell commented on #222
Just fair warning there is another library that's not quite as good called "cfunits". That caused us some confusion and problems here.

[2016-02-18 18:31] rsignell-usgs commented on #222
Yep, we know about that package.   Hence the need to call this package something like "cf-units".

I suppose we could also call it "cf-units-use-this-one"  :smile_cat:

[2016-02-18 20:39] daf commented on #222
Speaking with @kwilcox and confirmed by a quick test, `conda install -c ioos cf_units` installed BOTH of these:
[code]

despite only listing it once in the "things I will install".

[2016-02-19 10:36] marqh commented on #222
I confess I'm quite puzzled now.  It appears that cf_units 1.1 has not been released to pypi
https://pypi.python.org/pypi?%3Aaction=search&term=cf_units&submit=search
which is an omission, and ought to be fixed.
cf-units doesn't exist in pypi

So, I don't see how a
cf_units 1.1
could be sourced from pip

similarly to @pelson, I cannot see where the hyphen name (cf-units) comes from

[2016-02-19 12:36] lukecampbell commented on #222
cf_units 1.1 comes from the conda install here https://github.com/SciTools/conda-recipes-scitools/tree/40cefa5034c34e453e811dc1adcd70791bf04874/cf_units I'm not sure why it says pip, maybe the egg is compiled by conda and then pip installed as an egg from a conda repo?

the hyphen is a convention used by setuptools. They will replace any underscore in a package's name with a hyphen.

http://pybuil

[2016-02-19 15:21] marqh commented on #222
i did not know this, that is quite a confusing thing to do, imho

[2016-02-19 16:11] rsignell-usgs commented on #222
So can we move forward by calling this package `cf-units` instead of `cf_units`.   That would make life a lot easier, no?

[2016-02-19 16:39] mbiddle-nodc opened #223 "CF check units attribute is required for crs"
Is this true? Looking through CF documentation http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#appendix-grid-mappings, I don't see any reference to a units attribute for the crs variable. I received this error using the web-based checker on the file http://data.nodc.noaa.gov/thredds/catalog/testdata/mbiddle/catalog.html?dataset=testdata/mbiddle/gcoos_ioos_

[2016-02-19 16:57] mbiddle-nodc commented on #223
This was an error in the file. crs was defined with a dimension of timeSeries. crs shouldn't have a dimension, so I think that's why I got this error. Just as an FYI I tested the same file using the CF checker at puma.nerc.ac.uk/cgi-bin/cf-checker.pl and got an error message "A grid mapping variable should have 0 dimensions", which was slightly more helpful...

[2016-02-19 19:41] lukecampbell commented on #223
Ah, I think this is a bug.
[code]

Our checker doesn't know how to identify that this is a metadata variable because it has a dimension.

[2016-02-19 19:42] lukecampbell commented on #223
Although I feel like, crs shouldn't have a dimension in this case.

[2016-02-19 19:43] lukecampbell commented on #222
Does anyone on this thread have the privilege to make that happen?

[2016-02-20 14:45] ocefpaf commented on #222
Again, I don't remember why, but we had reasons to use the underscore.

I don't think it us necessary to rename the package. As soon as I get back
I'll take a look at cc and check why (and how) it is using setuptools
PKG-INFO to avoid that. And/or see if it is possible to make setuptools use
the correct name. (I haven't read yet the reasons for that behavior.)

[2016-02-23 13:14] mbiddle-nodc commented on #223
Yes, crs shouldn't have a dimension. However, should the checker know that for the crs variable there shouldn't be units (even if it's declared with a dimension)? I tested it with
`        int crs ;
                crs:grid_mapping_name = "latitude_longitude" ;
                crs:epsg_code = "EPSG:4326" ;
                crs:semi_major_axis = 6378137 ;
                crs:inverse_flattening = 298

[2016-02-23 13:34] mbiddle-nodc opened #224 "Conventions includes CF-1.6"
In CF testing this file http://data.nodc.noaa.gov/thredds/catalog/testdata/mbiddle/catalog.html?dataset=testdata/mbiddle/gcoos_ioos_station_USF_COMPS_C10_2015_11_atm.nc I receive an error

 However, the global attribute is
`               :Conventions = "CF-1.6,ACDD-1.3" ;`

The NCEI recommendation is

According to CF:

According to ACDD:

So my question is, does this error occur because I am expl

[2016-02-23 15:04] daf commented on #224
@mbiddle-nodc what version/revision are you currently running?  I'm on current master (381ce45bdc5cf885106af2ba1ccd72e2553ceece) and don't receive an error about the Conventions for this file, it's passing.

[2016-02-23 15:06] daf commented on #224
Ah I don't think you're on master as you don't have the changes introduced in 42de2e3f, which altered the error message that you are currently getting.

[2016-02-23 15:12] mbiddle-nodc commented on #224
I was using the web checker at http://data.ioos.us/compliance/index.html. I am still having trouble installing locally.

[2016-02-23 15:13] lukecampbell commented on #224
The web checker is using the previous release. I will update it once 2.1 is ready.

[2016-02-24 17:54] kknee commented on #222
Folks and @jbosch-noaa specifically: Version 2.1 has some important updates.  It's release is being held up by this issue.  Thoughts on punting this to a 2.1.1 release so that we can get the other updates out?

[2016-02-24 18:06] daf commented on #222
I guess it's fine as this mistake was already included in the 2.0 release and is therefore broken.  Basically, you must use conda to use compliance-checker until this is resolved.

Alternately, we can revert cf-units dep back to 0.1.0 as a temporary measure, not sure what that would entail, @ocefpaf ?

[2016-02-24 18:12] lukecampbell commented on #222
You mean for windows only right? I can use compliance checker as a pip install no prob.

[code]

[code]

[2016-02-24 18:16] daf commented on #222
[code]

![wat](http://i0.kym-cdn.com/photos/images/facebook/000/993/875/084.png)

[2016-02-24 18:37] jbosch-noaa commented on #222
OMG!  How confusing!!  @kknee -If this issue will take longer than the rest of this week to solve then I say release V2.1 and down the line, once "-" and " _ " syntax are resolved, release a 2.1.1

[2016-02-24 18:40] kknee commented on #222
@ocefpaf - you were the latest one to volunteer looking into this.  Do you see a fix happening this week?  If not, and barring any nays on a release without this fix, we'll get it out this week.

[2016-02-24 18:49] jbosch-noaa commented on #222
@ocefpaf  is a Ocean Sciences this week so I doubt he will get to it.

[2016-02-24 19:43] daf commented on #222
I appear to be having a day of version number dyslexia.  Reading `1.0.0`, seeing `0.1.0`, sorry for the distraction.

Let's get back to Rich's main issue, which is Windows related.

[2016-02-24 20:06] ocefpaf commented on #222
see a fix happening this week? If not, and barring any nays on a release
without this fix, we'll get it out this week.

I have a few ideas, but I won't be able to test them until I get back home.
(Next Tuesday.)

[2016-02-26 21:40] jbosch-noaa opened #225 "commend is spelled wrong in the ioos.py test suite"
See https://github.com/ioos/compliance-checker/blob/master/compliance_checker/ioos.py#L66

commend should be comment

[2016-02-26 21:42] #225 closed

[2016-02-29 16:50] benjwadams opened #227 "List C/Non-Python Library dependencies in README"
README file should list any required C libraries, i.e. libxml, NetCDF, etc.

[2016-03-01 15:53] DanielJMaher commented on #223
@lukecampbell So do we want to put a catch in our check looking for the variable "crs"  if it exists and it has a dimension, throw a more helpful error message?

[2016-03-01 15:55] rsignell-usgs opened #228 "online checker: "job timed out""
I tried checking this dataset for `CF-1.6` compliance:
http://www.ngdc.noaa.gov/thredds/dodsC/dart_bpr/processed/21414/21414_20060810to20080507_qc.nc
and the job timed out:
![2016-03-01_10-53-02](https://cloud.githubusercontent.com/assets/1872600/13432542/1736f450-df9c-11e5-8b14-6832c68b8ca3.png)

Bug?

[2016-03-01 15:59] kwilcox commented on #223
We should be looping over all variables and collecting the variable names that are identified in the `grid_mapping` attribute... and then ignoring all of those. The variable won't always be called `crs`!

[2016-03-01 16:08] DanielJMaher commented on #228
No, I do not believe this is a bug, this is just a massive file.  The transducer is running at 410 kHz and is over 3,000,000 particles large per variable.  Since we need to inspect each data point for certain tests, this check will take a long time to run, causing the time out.

I think @lukecampbell and I have discussed a command prompt for larger datasets that will skip the data inspection tests

[2016-03-01 16:13] DanielJMaher commented on #223
@kwilcox Makes sense.  I'm wondering if we can wrap this into the "skip this test" functionality we've been discussing.  Dispatch multiple avians with singular compacted minerals.

[2016-03-01 16:17] DanielJMaher commented on #151
@benjwadams I am going to assign this to me and work it.

[2016-03-01 18:06] lukecampbell commented on #223
Yeah, I agree with @kwilcox we should update https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L161 to also include variables mentioned by the `grid_mapping` attribute.

[2016-03-01 18:07] lukecampbell opened #229 "Classify variables defined by `grid_mapping` attribute as aux or ancillary variables"
https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L161

For each variable in the dataset find any and all attributes `grid_mapping` and see if there is a variable matching that name. If there is, it should be classified as an ancillary variable and not be checked for units or standard name.

[2016-03-01 18:08] lukecampbell commented on #229
This will fix https://github.com/ioos/compliance-checker/issues/223#issuecomment-190780420

[2016-03-01 18:09] lukecampbell commented on #228
We really gotta add a skip that skips any tests that inspect data.

[2016-03-01 18:10] daf commented on #229
Uh looks done already https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L186-L189

[2016-03-01 18:16] mbiddle-nodc commented on #228
:thumbsup:

[2016-03-01 18:19] lukecampbell commented on #229
in that case, we need to figure out why it's not working.

[2016-03-01 18:23] daf commented on #229
It's working fine.  It's the `check_units` test that doesn't know it is supposed to skip them, see https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L530-L575

Or doesn't play by the rules (the dimensionless text?)

[2016-03-01 18:37] lukecampbell commented on #229
Yeah but it should pick it up here:
https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L551

which checks ancillary here:
https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L204

Unless I'm missing something

[2016-03-01 18:40] daf commented on #229
It checks ancillary and continues, aka doesn't add it to the list of metadata vars returned.  Either that's an omission or coded specifically this way, I don't remember.

[2016-03-01 19:31] DanielJMaher opened #230 "ACDD Test NetCDF file is not included in this repo"
The tests aren't very robust (read: only one test), but never the less it shouldn't be hardcoded like this.  That file should be included in the compliance_checker/tests/data folder and referenced from there.

[2016-03-01 20:07] lukecampbell commented on #230
I agree. Also, something that I would like to see integrated with compliance checker at some point is not to include the netCDF files into the project but just the CDLs.

For example:

https://github.com/ioos/cc-plugin-ncei/blob/master/cc_plugin_ncei/tests/resources.py

This module will compile a CDL file into a netCDF file if the .nc file doesn't exist, which would allow us to only have to commit

[2016-03-02 21:40] DanielJMaher commented on #83
I can 2nd Luke's results on the CF portion of this issue.  The issue has been corrected.  Also, battery_voltage is not a standard name.

As for the ACDD check, I am seeing some issues in here, specifically:

[code]

I don't mind this being a valid issue, but i believe it deserves it's own ticket in here.

@kwilcox Is it okay if i close this ticket and create a new one just for the ACDD portion?

[2016-03-02 21:49] DanielJMaher commented on #120
@daf After reviewing this, really only the ubuntu-install-guide and teh README.md should be changed.  The other references to udunits are direct quotes from the CF 1.6 document and udunitspy isn't mentioned anywhere but those two files.

Is it alright if I just remove from those files?

[2016-03-02 21:50] daf commented on #120
Yes, that's what's needed.

[2016-03-02 22:20] kwilcox commented on #83
:+1:

[2016-03-02 22:20] #83 closed

[2016-03-03 14:08] DanielJMaher opened #232 "ACDD Check Bug"
[Dataset to Reproduce](https://www.dropbox.com/s/i5a4e2can4de5n7/20150210T1900_TO_20150225T1000.nc?dl=0)

@kwilcox reported this bug previously:

I'm getting ACDD failures for every variable because they don't have a coverage_content_type attribute. Should this only be tested for "data" variables? It is failing on things like crs, time, and latitude.

Diving into it I found this additional bug for

[2016-03-03 16:20] #151 closed

[2016-03-03 16:22] lukecampbell commented on #232
Also we need to reuse the logic we use in CF to ignore ancillary/metadata variables like `platform_id` `crs` `station_id` etc. The algorithm to identify these is a bit tricky and is certainly far from perfect but it's the best we have so far.

[2016-03-03 16:23] lukecampbell commented on #232
On that note it would be awesome to move these into a util module for the rest of the plugins to use
https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L145-L317

[2016-03-04 14:46] DanielJMaher commented on #122
Here is an ipython notebook that I created that will be the basis of the code.  Mind taking a look at the assumptions and logic @lukecampbell and @daf ??

Also, please look at the first line of unique_names?  I think there is a better way to do it.

I am changing it to a .zip  so that it loads, but download it and turn it back into a .ipynb

[Name_Checker.zip](https://github.com/ioos/compliance-ch

[2016-03-04 15:04] DanielJMaher commented on #133
@daf @kwilcox @lukecampbell

This never actually came to a final resolution.  It appears to be that -t <test>:<tag> is the command line argument  to be used, where <test> will map to the _cc_spec and <tag> will map to _cc_spec_version attributes.

However, the comma separated/all portion seems odd to me... why would you run checks on 1.6 and 1.7?  I do like the -t cf meaning the most recent.

So t

[2016-03-04 15:05] daf commented on #122
Dude.  Use gist.github.com, especially for ipynb, which github will happily render for you in browser.

Second, I'm not sure how you can enforce "comma separation" of names when given so many different naming customs exists in different cultures (try putting a spanish or portuguese name in), you'll have no way of figuring out when one name stops and and another begins.  If the original author of t

[2016-03-04 15:12] DanielJMaher commented on #122
@daf How do i do that for ipython notebook

[2016-03-04 15:14] daf commented on #122
Drag and drop an ipynb file on gist.github.com

[2016-03-04 15:16] DanielJMaher commented on #122
https://gist.github.com/DanielJMaher/0558880f3e0ca199aefa

[2016-03-04 15:19] ocefpaf commented on #122
There is also an extension, [`gistit`](https://github.com/minrk/ipython_extensions/tree/master/nbextensions), that adds a button to your Jupyter notebooks to send/update gists.

[2016-03-09 20:28] DanielJMaher commented on #120
@daf i confused myself.  Check all that apply:

[ ] Remove reference to udunits
[ ] Remove reference to udunitspy

[2016-03-09 20:32] daf commented on #120
- [x] udunitspy

[2016-03-09 21:08] DanielJMaher commented on #229
I think that Dave has it on the head.  We aren't adding the mapping variables to the metadata var list, so we are acting as if they need to go through the full 3.1 check.  We should be adding it to the metadata var list and allowing them to skip this section.

Agreed?

[2016-03-09 22:00] #120 closed

[2016-03-11 15:02] DanielJMaher commented on #122
i did my best to update this without spending too much time.  All i did was add in additional words for "and" in multiple languages and better allowed for the oxford comma which is prevalent in some languages, but not others.

https://gist.github.com/DanielJMaher/70d73566b61c0e85a395

[2016-03-11 16:15] daf commented on #122
By different languages, I meant different culture naming possibilities.  See [Spanish Naming Customs](https://en.wikipedia.org/wiki/Spanish_naming_customs), [Portuguese Naming Customs](https://en.wikipedia.org/wiki/Portuguese_name).  Take for instance these famous footballers:

- Cristiano Ronaldo dos Santos Aveiro
- Ronaldo Luís Nazário de Lima

And these other randomly sampled full names:
- José

[2016-03-11 16:17] #211 closed

[2016-03-11 16:34] DanielJMaher commented on #195
So, we fixed the issues with self-referencing coordinate variables and some of the issues with looping through the relationship between variables, dimensions and coordinates as defined by the `coordinates` attribute.

This dataset isn't entirely compliant with CF §5.3 Reduced horizontal grid in that the data variables don't have a dimension which is a reduced grid as defined by 5.3.

It would need

[2016-03-11 16:34] #195 closed

[2016-03-11 16:40] DanielJMaher commented on #229
to resolve adding ancillary here: https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L551

[2016-03-11 16:41] DanielJMaher commented on #227
@benjwadams can you find some time to do this next week so we can look to close 2.2

[2016-03-11 16:42] daf commented on #229
aka here https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L204-L205 (why `continue`?)

[2016-03-11 16:46] DanielJMaher commented on #122
"Wont fix" -- Luke

[2016-03-11 16:46] #122 closed

[2016-03-11 16:48] DanielJMaher commented on #69
The IOOS Vocabulary and attributes as prescribed by the program office is being revised with the latest changes to NcSOS and 52n. I recommend that we hold off on this until the required attributes are not in such a state of flux. --Luke

@kknee what do you think?

[2016-03-11 16:54] DanielJMaher commented on #229
@daf Because ancillary variables are not technically metadata variables.  Or at least that was the argument laid out by Luke.

I think it is fine because of 2 things:  1) Maybe there is a check where ancillary shouldn't be grouped with other metadata variables.  2) by making the change i suggested we fix the issue without the fear of disrupting other checks down the line.

[2016-03-11 16:58] daf commented on #229
Ok, I see what you mean now - you want to pull ancillary variables as a line after https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L551 and skip those in the `check_units`, right?

[2016-03-11 16:58] DanielJMaher commented on #229
Correct.

[2016-03-11 16:58] daf commented on #229
(this new github reactions thing is weird)

[2016-03-11 20:47] emiliom commented on #69
For clarification, the [vocabularies themselves and which ones are currently supported/approved by IOOS](http://ioos.github.io/#vocabularies) aren't changing (if they're, I'd love to hear about it!). What may be in flux is their implementation in netcdf files so that it reflects the greatest reasonable consistency between IOOS SOS specifications and the NCEI netcdf templates.

[2016-03-14 14:00] benjwadams commented on #227
Related: a useful question I asked on SO regarding a similar issue
http://stackoverflow.com/questions/32698846/retrieve-list-of-external-c-fortran-dependencies-for-python-libraries-within-a-v

[2016-03-14 17:23] benjwadams commented on #192
I can generate this myself, but it'd be preferable to attach an .nc file or minimal example to reproduce.

[2016-03-14 17:30] benjwadams commented on #192
@daf file referenced in link is currently 404.  Can make a minimal example to reproduce but would prefer using the original file to reproduce.

[2016-03-14 17:35] mbiddle-nodc opened #237 "Package with compliant netCDF file(s)"
I was curious if there was a plan to include a 100% compliant netCDF file as an example with the package. It could be something useful to data providers. I can assist in generating this, if it's something of interest.

[2016-03-14 18:05] #227 closed

[2016-03-14 18:11] lukecampbell commented on #237
It would be good to generate some 100% compliant files for each of the major feature types CF supports:

- point
- timeSeries
- profile
- timeSeriesProfile
- trajectoryProfile

And a regular grid. Interestingly, I can't find any mention of gridded files in CF-1.6 other than dealing with grid-mappings, but I speculate that it's only reference to grid mappings pertain to points as part of a grid, no

[2016-03-14 18:55] benjwadams commented on #192
Never mind, there's an example contained within the test data that accomplishes something similar.

[2016-03-14 18:59] benjwadams commented on #227
NB:  This may not be an exhaustive list for all dependencies.  Some package managers may install Fortran dependencies, whereas others will not, so it's possible that BLAS/LAPACK etc, may be needed for installation on some systems.  If this is the case, feel free to reopen this issue.

[2016-03-14 19:04] #192 closed

[2016-03-14 19:05] #230 closed

[2016-03-15 14:45] benjwadams commented on #127
I have a branch I was working on for this some time ago here:
https://github.com/benjwadams/compliance-checker/tree/acdd_1.3
Still WIP and does not allow for swapping of versions currently, but probably better than starting from scratch.

[2016-03-15 15:48] benjwadams commented on #186
Why are we advocating `_cc_author` and `_cc_version` variables when individual checkers are already broken up into separate modules and we could use `__author__` and `__version__` respectively instead?  This seems like reinventing the wheel.

[2016-03-15 15:53] daf commented on #186
@benjwadams, I'm assuming you're advocating for module-level variables named `__author__` and `__version__`, correct?  Is this a known/preferred spec somewhere?

There's no requirement for them to be broken into individual modules.  Consider smaller specs like ACDD, might be easier/more flexible to be implemented in the same module instead of imposing a restriction that they must be separate.

[2016-03-15 15:56] benjwadams commented on #133
Related to #186

[2016-03-15 16:01] benjwadams commented on #186
Yes, we'd be locked into module level versioning for the *code* for a particular spec.  So if you had multiple related checkers in the same module and wanted to version them they'd have to be a class variable or similar.

On the plus side, there does exist a PEP for `__version__` https://www.python.org/dev/peps/pep-0396/

[2016-03-15 16:04] daf commented on #186
This PEP seems much more aligned for package level version information.  I wouldn't find it intuitive to look for a version there, then again it's not necessarily needed to be exposed to people.  I'd still prefer to stick to the class level attributes.

[2016-03-16 17:06] #229 closed

[2016-03-16 17:17] kknee commented on #222
@ocefpaf have you had a chance to put any more thought into this?  Would be nice to include in the next release.

[2016-03-16 17:20] ocefpaf commented on #222
Nope. I forgot about this. (My is buried into conda-forge for the moment.)

I will look into this before this weekend.

[2016-03-22 13:45] DanielJMaher commented on #237
@lukecampbell @kknee  It would be amazing to have some help from the community with this.  Finding a 100% (or clsoe to it) compliant file is very difficult.  If the community had golden standard datasets it would greatly help our development of the checkers.

Is there a good way to approach getting these files?

[2016-03-22 13:58] mbiddle-nodc commented on #237
One thought that would help on two fronts, work with the GCOOS github repository for converting csv to nc https://github.com/GCOOS/csv2nc. This would fulfill the gold standard for timeSeries and would help with GCOOS archiving at NCEI. @fgayanilo

[2016-03-23 03:38] kwilcox commented on #237
I wrote these an extremely long time ago but they are still valid:  https://github.com/asascience-open/CFPointConventions. You could take the CDLs and add metadata as needed.

[2016-03-23 03:43] kwilcox commented on #237
There is also this for csv/pandas to NetCDF Timeseries/TimeseriesProfile:  https://github.com/axiom-data-science/pyaxiom/blob/master/README.md#creating-cf16-timeseries-files. You will have to look at the tests for additional examples, there isn't any documentation other than the README.

[2016-04-06 14:31] jbosch-noaa commented on #222
@ocefpaf - It's almost been a month and I never heard any follow-up on this.  Are we good with it yet?

[2016-04-06 14:35] jbosch-noaa opened #244 "Due Date for "Version 2.2: ACDD 1.3 and other IOOS vocabulary modifications""
Where are we with this milestone?  Are their any significant hangups or time constraints?  I would like for us to formally put a due date on here.

[2016-04-06 14:37] ocefpaf commented on #222
I am re-tracing the issue here locally to see if I can reproduce it. I will have an answer later today. Hold on...

[2016-04-06 15:00] ocefpaf commented on #222
I am using the `conda-forge` channel (which supersedes the `ioos` channel).

[code]

That show "both" versions, but it is actually just one. I guess that `conda` is misinterpreting the fact that `setuptools` changes the `_` to `-` in the name metadata. Note that this should not hurt `compliance-checker` functionality. I still can:

[code]

I test this on Linux (`py27`, `py34`, and `py35`) and Wind

[2016-04-06 15:33] rsignell-usgs commented on #222
Well, we don't seem to have that problem anymore on win64, but we do seem to have another problem:
[code]

[2016-04-06 15:34] ocefpaf commented on #222
@rsignell-usgs that deserves a new issue and it is related to Python 3 on Windows. Can you close this one and open the new issue?

[2016-04-06 16:09] rsignell-usgs commented on #222
Okay, since we seem to have licked the cf_units issue on win64, and other platforms have already been tested, closing this issue.

[2016-04-06 16:09] #222 closed

[2016-04-06 16:10] rsignell-usgs opened #245 "Strange encodings error with windows and python 3"
When I try this test on win64, I get some strange "encodings" error:
[code]

[2016-04-07 13:52] lukecampbell opened #246 "Update standard names table"
Version 32 is now available, dated 7 April 2016.

[2016-04-07 13:53] lukecampbell opened #247 "Mechanism for dynamically updating standard name table"
CF Standard Names table updates much faster than releases for compliance checker so we need a way to dynamically update the standard name table for the checker.

[2016-04-08 13:58] mbiddle-nodc commented on #247
Not sure if this helps, but I parse the standard_name_table attribute for the table version. Then I use
`url = "http://cfconventions.org/Data/cf-standard-names/%s/src/cf-standard-name-table.xml"% std_version`
to get the xml document with the CF standard_name table for whatever version the file is using. For example, if the global attribute is
`                :standard_name_vocabulary = "CF Standa

[2016-04-08 17:47] lukecampbell commented on #247
That's an awesome idea!

[2016-04-08 17:49] daf commented on #247
I'd recommend a base version be packaged, with a mechanism to download/cache this live one to `$XDG_HOME_CACHE` or similar (not sure what that is on Windows, expecting python to have this covered for us).  We should not have a connectivity requirement for testing local files.

[2016-04-11 12:04] kknee commented on #244
@jbosch-noaa we'll get a due date on here this week.

[2016-04-13 13:47] mbiddle-nodc opened #248 "CF standard_name check"
In the CF standard_name check there is an inherent assumption that the variable must contain a standard_name attribute. Would it be possible to implement a way to look at all the variables and make a note of which variables should have a standard_name attribute?

I've done this previously by looking for the attribute 'coordinates'. If the variable has an attribute of coordinates, it should have a

[2016-04-13 17:16] mbiddle-nodc commented on #224
Any ideas as to when this update will happen? I'm still getting the same error.

[2016-04-13 17:50] mbiddle-nodc opened #249 "Error when upgrading compliance_checker"
I just tried to upgrade my local compliance_checker and I received an error. Below is the output fomr the Anaconda command prompt:
[code]
Is this something I should be concerned about?

[2016-04-13 17:55] kknee commented on #224
@mbiddle-nodc 2.1 should be ready in two weeks, then @lukecampbell can update the web checker.

[2016-04-13 18:01] ocefpaf commented on #249
@mbiddle-nodc there are no `wheels` (Python binaries that are download-ready) for [`pyproj` at PyPI](https://pypi.python.org/pypi/pyproj). The devs upload only the source code. What `pip` is trying to do for you, and failing, is to compile that source.

Compiling source code on Windows is not a trivial task! I recommend you to install `compliance_checker` with conda. If you are not a conda user ta

[2016-04-18 21:16] benjwadams opened #250 "Misplaced High/Highly Recommended attribute checks for ACDD check in plaintext output"
When invoking compliance checker against one of the test data files with the ACDD check, some of the highly recommended attributes are misplaced.

`python cchecker.py -t acdd compliance_checker/tests/data/2dim-grid.nc > cc_output.txt`
[cc_output.txt](https://github.com/ioos/compliance-checker/files/224776/cc_output.txt)

Notice that only `keywords` are contained under the "High Priority" header, d

[2016-04-19 14:12] mbiddle-nodc opened #251 "lat/lon units are acceptable, but not recommended"
Testing this file: http://www.neracoos.org/thredds/dodsC/UMO/CF16/TESTS/2016/UMO/catalog.html?dataset=CF16_TESTS/2016/UMO/F0150.sbe37.realtime.1m.cf16f.nc we get the following notification:
§4.1 Coordinates representing latitude	2	lat units are acceptable, but not recommended
§4.1 Coordinates representing longitude	2	lon units are acceptable, but not recommended

But in the file,
lat:units = "degr

[2016-04-19 14:56] lukecampbell commented on #251
they should be degrees_north and degrees_east.  Plural, not singular.

§4.1
[code]

§4.2
[code]

[2016-04-19 16:59] mbiddle-nodc commented on #251
Ah, I forgot about that sentence in the CF documentation. Thanks.

[2016-04-19 17:09] #251 closed

[2016-04-19 21:32] benjwadams commented on #250
Some findings:
- Does not occur with CF standard specified.
- Does not occur with HTML output.

[2016-04-20 15:32] daf commented on #250
Bisect told me it's in 5480d6ed829f156bc750221517151936c3a34fed

[2016-04-20 15:40] benjwadams commented on #250
:+1: Nice work!

[2016-04-20 16:44] benjwadams commented on #250
Appears to have been due to the omission of this line in the `get_points` function https://github.com/ioos/compliance-checker/commit/5480d6ed829f156bc750221517151936c3a34fed#diff-492681f21accb05c100f3923aaa83b07L139

[2016-04-22 15:49] benjwadams opened #254 "Encoding issues for a number of formats in Python 2.x series"
Trying to output tests to html results in a `TypeError`s in Python 2.x series for ACDD, a `UnicodeDecodeError` for cf output to HTML.

[2016-04-22 15:53] daf commented on #254
What file(s)?  Any?

[2016-04-22 15:59] benjwadams commented on #254
Only really got around to testing `compliance_checker/tests/data/2dim-grid.nc`, but prelimnary tests show issues with other files as well.

[code]

[code]

[2016-04-22 15:59] benjwadams commented on #254
Have a fix in the works, trying to create a few integration tests.

[2016-04-22 16:02] benjwadams opened #255 "JSON output missing argument"
Attempting to run compliance-checker on Python 2 or 3 with JSON output fails due to a missing function argument.

[code]

[2016-04-22 17:45] #250 closed

[2016-04-22 18:21] #255 closed

[2016-04-22 19:25] benjwadams commented on #254
Fixed by #257.  Closing.

[2016-04-22 19:25] #254 closed

[2016-04-22 19:26] benjwadams commented on #69
Status of this?

[2016-04-22 19:49] lukecampbell commented on #69
This is still in discussion, see email chain titled "RE: ncsos issue 166"

[2016-04-22 19:56] lukecampbell opened #263 "Redirect Issue"
Some THREDD instances are behind a reverse-proxy and do some 301 redirecting when copy-pasting the OPeNDAP URL into input for Compliance-Checker. It would be good to have CChecker recognize this and get the forwarded address. I.e. follow-redirects.

[2016-04-25 18:25] benjwadams commented on #245
@rsignell-usgs , I encountered some odd problems with "section"/§ symbols in CF when trying to support Python 2.  Although you're using 3 here, it looks to me that you are outputting to your terminal, which uses CP437 encoding, which does not include that character.  Unfortunately, I don't have a Windows box set up at the moment, but my suspicion is that it's due to the default character set Windo

[2016-04-26 14:19] benjwadams commented on #263
Do you happen to have any URIs I could test this against?

[2016-04-26 14:56] lukecampbell commented on #263
http://data.ioos.us/thredds/dodsC/deployments/drudnick/sp049-20160405T1844/sp049-20160405T1844.nc3.nc

Returns a 301

[2016-04-26 16:12] benjwadams commented on #263
Unable to reproduce with `netCDF4==1.2.4` on Python 3.4.3 and `netCDF4==1.2.1` on Python 2.7.5.

[2016-04-26 16:26] benjwadams commented on #247
This might come in handy, it generates a CSV from a standard name table version (v29 in the gist).  Since it uses pandas, we could easily output it to a Python data structure instead.

https://gist.github.com/benjwadams/2f9c4db1aa8db60128e7

[2016-04-26 17:00] benjwadams commented on #224
Version has been bumped, and error appears to have disappeared when referencing the netCDF dataset in question.  Closing for now.

[2016-04-26 17:00] #224 closed

[2016-04-26 17:03] benjwadams commented on #244
By tomorrow, 2016-04-27, I believe.

[2016-04-26 17:57] kknee commented on #244
Edit - @benjwadams is waiting on some pull requests to be reviewed hopefully sometime this week by @lukecampbell

[2016-04-26 18:51] benjwadams commented on #245
OK, I got a working conda setup for compliance checker going.  Assuming you're running from `cmd.exe`, try running `set PYTHONIOENCODING=:replace` to replace the § signs with ? prior to running compliance checker.  See also the docs for `PYTHONIOENCODING` https://docs.python.org/3/using/cmdline.html#envvar-PYTHONIOENCODING .  Another possibility is to override the default `sys.stdout` and add erro

[2016-04-26 19:00] lukecampbell commented on #263
[code]

[2016-04-26 19:01] lukecampbell commented on #263
netcdf: 4.3.3.1_4

[2016-04-26 19:05] benjwadams commented on #245
Related: http://stackoverflow.com/questions/35863825/how-to-print-unsupported-unicode-characters-on-windows-cmd-as-e-g-instead-o

[2016-04-26 19:10] daf commented on #245
We should likely just change the characters. Forcing Windows users to make
environmental changes or face runtime errors violates principle of least
surprise.
On Apr 26, 2016 3:06 PM, "Benjamin Adams" <notifications@github.com> wrote:

[2016-04-26 20:24] benjwadams commented on #263
Hmmm, now I'm getting issues.  Doesn't look like a NetCDF issue, but maybe a requests issue instead.

[2016-04-26 21:07] lukecampbell commented on #245
Changing the § to Section is fine by me from a technical perspective but I don't want to cater to terminals or applications that can't support utf-8.

[2016-04-26 21:08] lukecampbell commented on #245
http://stackoverflow.com/questions/388490/unicode-characters-in-windows-command-line-how/388500#388500

[2016-04-26 21:10] lukecampbell commented on #245
I deliberately, chose to use § symbol, and undergo an extreme pain in my ass so it would highlight ALL of the issues like this. I don't have a personal affinity towards it.

netCDF and server-side content are free to use whatever encoding they want and the compliance checker will need to deal with it. So if someone uses for example é in a title or μ in a title, abstract or god forbid units, this i

[2016-04-26 21:15] #263 closed

[2016-04-28 19:13] benjwadams commented on #186
Should be implemented now that #262 is merged. Closing.

[2016-04-28 19:13] #186 closed

[2016-04-28 19:14] benjwadams commented on #133
Should be implemented now that #262 is merged. Closing.

[2016-04-28 19:14] #133 closed

[2016-04-28 19:14] benjwadams commented on #127
Should be implemented now that #262 is merged. Closing.

[2016-04-28 19:14] #127 closed

[2016-04-29 13:55] dpsnowden opened #265 "Inconsistent messages from CLI and README.md. tests removed?"
`> cchecker.py --help`

output is inconsistent with the output on the README.md file.

README.md shows that `acdd|cf|ioos` are all builtin tests but the actual software only provides `ioos` as an option.

Have the cf and acdd test suites been removed and placed in plugins?  As @mbarimike for more details if this ins't clear.

[2016-04-29 14:21] benjwadams commented on #265
@dpsnowden, see if running `setup.py install` helps.  It should reload all the checkers.  There were a number of changes and refactors made to the codebase in order to support ACDD 1.3 and versioned checker numbers.  See #127, #186. As for your question, the CF and ACDD test suites have not been removed, and in fact the ACDD test suite has been updated.

[2016-04-29 16:21] MBARIMike commented on #265
No joy after `python setup.py install`:

[code]

[2016-04-29 17:24] benjwadams commented on #265
@MBARIMike, do you have the udunits2 C library installed in shared libraries?  The error reading

`undefined symbol: cv_convert_float`

might indicate something is amiss with udunits.

Please check using `ldconfig -p | grep udunits` or similar.

[2016-04-29 17:32] ocefpaf commented on #265
@MBARIMike there are not wheels (the new PyPI binary bundle format) for `compliance-checker` neither the install procedure will fetch and download all the dependencies, like the missing `udunits2` issue you are experiencing. I recommend you to, if possible, use [conda](http://conda.pydata.org/miniconda.html) to install software like\* compliance checker:

`conda install -c conda-forge compliance-c

[2016-04-29 17:34] MBARIMike commented on #265
`ldconfig -p | grep udunits` returned nothing. Did `sudo yum install udunits2` and now get:

[code]

[2016-04-29 17:36] MBARIMike commented on #265
Ah, I see that you specify that udunits is a Non-Python dependency.

Thanks for the help!

[2016-05-02 13:30] benjwadams commented on #265
Is this all set?  Can I close?

[2016-05-02 15:22] dpsnowden commented on #244
poke

[2016-05-02 15:25] kknee commented on #244
@dpsnowden all pull requests have been merged.  @lukecampbell will package the release as soon as  today's EDS Viewer release is finalized.

[2016-05-02 16:29] MBARIMike commented on #265
All set. Okay to close.

[2016-05-02 16:32] #265 closed

[2016-05-03 16:55] lukecampbell opened #269 "Update release on conda for 2.2.0"
Hey @ocefpaf could you push the latest release to conda?

https://pypi.python.org/pypi/compliance-checker

[2016-05-03 17:02] ocefpaf commented on #269
Sure. See https://github.com/conda-forge/compliance-checker-feedstock/pull/1

[2016-05-03 20:38] DanielJMaher commented on #221
@rsignell-usgs I downloaded your dataset and ran it in the online compliance checker.  Can you confirm it works so I can close?

[2016-05-04 11:49] rsignell-usgs commented on #221
Yes, it now works!  Great!  Fixed in ???

[2016-05-04 11:49] #221 closed

[2016-05-04 12:43] DanielJMaher commented on #223
@lukecampbell #229 was closed, should this one be as well?

[2016-05-12 06:41] mhidas commented on #195
@DanielJMaher I don't think the file @ggalibert referred to is intended to be a "reduced horizontal grid" file. It's more like §[5.2. Two-Dimensional Latitude, Longitude, Coordinate Variables](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#idp5559280). According to the example there, it should be something like
[code]
I tried this and the checker seems ha

[2016-05-18 05:06] mhidas opened #272 "Need netCDF4 in requirements.txt"
The netCDF4 package isn't currently specified in the requirements.txt file. When I run:
[code]

But...
[code]

I'm just not sure which version of netCDF4 should be specified as a minimum, if any.

[2016-05-18 14:53] mbiddle-nodc commented on #223
With the web checker I'm still getting a similar error for missing units in a metadata variable. For example, I have a metadata variable instrument_1 and I get the following high priority error:

[2016-05-18 15:50] daf commented on #272
Sorry @mhidas!  When [ioos/wicken](github.com/ioos/wicken) was a requirement, it ahd the dependency on netCDF4, and we were using that at the time.  This is an obvious omission.

[2016-05-18 19:26] lukecampbell commented on #223
I haven't updated the web service yet

[2016-05-18 19:26] daf commented on #272
Fixed in afd9a87bb4ff4649aac772004e19d5eec95ec6bc

[2016-05-18 19:26] #272 closed

[2016-05-31 13:29] jbosch-noaa commented on #244
@kknee where are we on this? Can I check it off the list yet?

[2016-05-31 17:11] kknee commented on #244
Yes,  we did that release a couple of weeks ago.

Sent from my iPhone

On May 31, 2016, at 9:29 AM, Jennifer Bosch <notifications@github.com<mailto:notifications@github.com>> wrote:

@kknee<https://github.com/kknee> where are we on this? Can I check it off the list yet?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ioos/com

[2016-06-06 16:06] #244 closed

[2016-06-08 05:50] mhidas commented on #193
[Here](http://thredds.aodn.org.au/thredds/catalog/IMOS/SRS/OC/LJCO/WQM-daily/2015/catalog.html?dataset=IMOS/SRS/OC/LJCO/WQM-daily/2015/IMOS_SRS-OC-LJCO_KOSTUZ_20151209T000500Z_SRC_FV02_WQM-daily.nc) is another sample file for this issue (the one mentioned above is no longer there).

However, with the current code, this file passes the CF checks, so this appears to be fixed.

@ggalibert

[2016-06-08 05:50] #193 closed

[2016-06-08 13:36] mbiddle-nodc commented on #237
Keeping this updated, I'm close to having the "Gold standard" example files ready. Once they get the 'ok' from our working group, I will post them on our thredds to be picked up, and update this issue.

[2016-06-08 14:21] lukecampbell opened #275 "Cleanup lingering netCDF Files"
We should remove the netCDF test files from the repository since we should now dynamically generate them using ncgen. And we should describe ncgen as a project dependency in the README.

[2016-06-09 00:03] ggalibert commented on #193
:+1:

[2016-06-14 04:59] mhidas commented on #275
I just realised `ncgen` is actually part of the standard NetCDF distribution (http://www.unidata.ucar.edu/software/netcdf/netcdf/NetCDF-Utilities.html#NetCDF-Utilities), so maybe it doesn't need to be listed separately?

[2016-06-27 19:39] RSully commented on #269
I think this can be closed

[2016-06-27 19:41] #269 closed

[2016-06-29 15:13] rsignell-usgs opened #281 "Compliance checker errors on valid CF-1.6 trajectory file"
I fixed up an OOI Glider netcdf file to be CF-1.6 `featureType=trajectory` and verified that it loads correctly into ToolsUI (https://www.youtube.com/watch?v=43eCCVbpGbg).  The file is here:
http://geoport-dev.whoi.edu/thredds/catalog/usgs/data2/rsignell/test/catalog.html?dataset=usgs/data2/rsignell/test/ooi_glider.nc

and if we load the OPeNDAP URL
http://geoport-dev.whoi.edu/thredds/dodsC/usgs/d

[2016-06-29 15:24] lukecampbell commented on #281
Yeah, this has to do with how the current version of the CF Checker detects features, which is wrong. I need to do a major refactor of the CF checker and integrate all of the feature detection logic I implemented for the NCEI checkers back into the main CF Checker.

It does ok for time-series and stations, but for more complicated feature types, I've observed very questionable behavior. It seems t

[2016-06-29 15:28] rsignell-usgs commented on #281
@lukecampbell , yes, this is a straight-up trajectory:  just a bunch of obs along a x,y,z,t path.

[2016-06-29 15:35] lukecampbell commented on #281
For the time being, I recommend to people to use the NCEI checkers as they provide better feature detection and better written guidance for corrective actions. But this issue you describe is my number one priority for 2.3

[2016-06-29 15:36] lukecampbell commented on #245
Is this still an issue?

[2016-06-29 15:36] lukecampbell commented on #237
I've already included them in the NCEI checker, but I'd like to include them as tests in the CF checker as well.

[2016-06-29 15:37] #228 closed

[2016-06-29 15:38] lukecampbell opened #283 "Metadata Only Checks"
We need to add a feature where we can check a file's compliance by only looking at the CDL.

We can easily accomplish this by using ncgen to generate a netCDF file and then running the checker on that. But we need to add some small checks and stuff to make sure the dimension sizes get changed before the file is generated, otherwise we can wind up with files that are easily gigabytes or larger.

[2016-06-29 15:39] lukecampbell commented on #228
https://github.com/ioos/compliance-checker/issues/283 should take care of this

[2016-06-29 15:40] #223 closed

[2016-06-29 15:40] lukecampbell commented on #216
Didn't we can wicken?

[2016-06-29 15:42] daf commented on #216
We did, but the IOOS Metadata checker isn't fully updated for that change, specifically in non-netcdf cases.

[2016-06-29 15:44] lukecampbell commented on #216
Even though I stuck it in the milestone, I'm probably going to use the resources to REMOVE wicken completely.

[2016-06-29 15:45] lukecampbell commented on #216
XPath should suffice, I don't need this weird XML ORM thing. Plus with all the work that @cmorse, @abirger and @kwilcox have done to manage the mappings between SOS and NetCDF, we can update the IOOS Metadata Checker.

[2016-06-29 15:45] daf commented on #216
^^ all of this

[2016-06-29 23:59] cmorse commented on #216
@lukecampbell Pretty sure I'm not the person you meant to @ mention.

[2016-06-30 18:58] lukecampbell commented on #216
Yeah sorry I meant @cheryldmorse

[2016-07-08 11:28] cpaulik opened #284 "Orthogonal multidimensional array representation of time series detected as reduced horizontal grid"
I've got a time series netCDF file which seems to confuse the compliance checker. Or I'm misunderstanding the output.

Running `compliance-checker g2_BIOPAR_SWI-TS_201001310000_C0102_ASCAT_V1.0.0.nc --test cf` on the nc file in [g2_BIOPAR_SWI-TS_201001310000_C0102_ASCAT_V1.0.0.zip](https://github.com/ioos/compliance-checker/files/354087/g2_BIOPAR_SWI-TS_201001310000_C0102_ASCAT_V1.0.0.zip) gives m

[2016-07-08 11:54] cpaulik commented on #284
The 5.3 issue can be solved if the variable `location_id` is renamed to `locations` so that the dimension and the variable have the same name.

[2016-07-08 11:57] cpaulik commented on #284
It seems that the 2.4 check just does not take into account the Orthogonal time series representation.

[2016-07-08 12:10] lukecampbell opened #285 "Refactor feature detection in CF Checker"

[2016-07-08 12:11] lukecampbell commented on #284
This is scheduled to be replaced as part of the 2.3 milestone. It was brought up in separate issues, including this one, so I just made a new issue that fundamentally describes what needs to be done:

https://github.com/ioos/compliance-checker/issues/285

[2016-07-08 12:13] lukecampbell commented on #284
The checker has a lot of issues with feature type detection at the moment. When it can't accurately determine the feature type it falls back to reduced horizontal grid.

When we coded it, we wrote it as we read the CF 1.6 conventions document, each section of the document was coded into an individual checker. My aim is to refactor the checker so that it checks each section of the CF conventions ba

[2016-07-08 12:28] cpaulik commented on #284
Thank you for the explanation. When you talk about the NCEI plugin do you mean https://github.com/ioos/cc-plugin-glider ?

[2016-07-08 12:50] lukecampbell commented on #284
I mean the https://github.com/ioos/cc-plugin-ncei/ checker. You can use it online at http://data.ioos.us/compliance/

[2016-07-08 13:58] daf commented on #284
This output also highlights another issue, the `§2.4 Dimension order` explanations are completely missing from the summary view on top.  I'll file another issue.

[2016-07-08 14:02] daf opened #286 ""§2.4 Dimension order" missing from summary view"
As noted in #284, the user's output explained issues in the details section relating to `§2.4 Dimension order`, but this title was completely missing from the summary view on top.

File as of now: [g2_BIOPAR_SWI-TS_201001310000_C0102_ASCAT_V1.0.0.zip](https://github.com/ioos/compliance-checker/files/354087/g2_BIOPAR_SWI-TS_201001310000_C0102_ASCAT_V1.0.0.zip)

Summary text:
<details>

[code]

</de

[2016-07-08 14:04] daf opened #287 "Unprioritized line in summary output"
As reported in #284, the user's summary output included `all_features_are_same_type` in no category for priority (high/med/low).

File as of now: [g2_BIOPAR_SWI-TS_201001310000_C0102_ASCAT_V1.0.0.zip](https://github.com/ioos/compliance-checker/files/354087/g2_BIOPAR_SWI-TS_201001310000_C0102_ASCAT_V1.0.0.zip)

Text:

[code]

[2016-07-11 05:41] mhidas commented on #284
#195 is another example of a file incorrectly classified as reduced horizontal grid. We found a work-around for that case, but I still believe the errors returned for the original file constitute a bug.

[2016-07-11 17:32] lukecampbell commented on #284
Yeah, it's really the only thing that's a real "big" problem with the compliance checker in my opinion. The rest are features and small issues. Once we get this fixed, the checker will be really awesome in my opinion.

[2016-07-13 01:04] kwilcox commented on #285
@lukecambell I might have the code you need already, ping me when you start this.

[2016-07-13 13:41] lukecampbell commented on #285
I have it as well:
https://github.com/ioos/cc-plugin-ncei/blob/master/cc_plugin_ncei/util.py

[2016-07-13 13:47] lukecampbell commented on #285
I'd be curious to see what you have as well. I went through several iterations of this, where I looked at all mess of attributes to determine features. But, fundamentally, people just don't fill in metadata, and the compliance checker, which aims to fix that, needs to be able to do things like feature detection with as minimal information as possible.

I originally relied on things like cdm_data_t

[2016-07-13 14:12] daf commented on #285
Ideas:

I still think it'd be beneficial to make the detection a percentage rather than a True/False only - "we meet 5/6 criteria for such and such", sort, choose best.  Tell folks the result of this testing: "It looks like you're trying to make a Trajectory, but ___ is missing" - closer to the original goals of the project.

Second, a command line switch to force testing of a particular type.

[2016-07-13 23:33] mhidas commented on #285
I like @daf's suggestions. In addition, the option to skip all discrete sampling geometry checks could be helpful.

[2016-07-22 19:37] jbosch-noaa opened #288 "Errors loading checkers"
Hey Folks - I installed the most recent compliance checker from conda-forge:

Then I tried to follow the implementation code suggested in the README file and got the following errors:

[code]

What am I missing?

[2016-07-22 19:48] lukecampbell commented on #288
I think this is from the udunits library... I'm not sure how to install it on windows boxes. @ocefpaf any ideas?

[2016-07-22 19:49] lukecampbell commented on #288
We added a fix to the cf-units library which does a better job explaining the error than just "UT_OPEN_ARG" or whatever. Although, now that I think about it, isn't it usually something like CV_FLOAT.  This may be something to do with the XML file.

[2016-07-22 19:50] ocefpaf commented on #288
`udunits2` should be present. Let me investigate this here and I will get back to you.

[2016-07-22 19:58] jbosch-noaa commented on #288
If it helps, I forgot to mention that I did the install after activating the ioos environment.

[2016-07-22 19:59] ocefpaf commented on #288
@jbosch-noaa can you copy and paste the result of `conda list` for me here?

[2016-07-22 20:15] jbosch-noaa commented on #288
!conda list
# packages in environment at C:\Users\jennifer.bosch\AppData\Local\Continuum\Miniconda2:
#
alabaster                 0.7.8                    py27_0
babel                     2.3.3                    py27_0
backports                 1.0                      py27_0
backports_abc             0.4                      py27_0
beautifulsoup4            4.4.1                    py27_0
bokeh

[2016-07-22 20:19] ocefpaf commented on #288
@jbosch-noaa is that from the `IOOS` environment or the root env? I cannot see `compliace_checker` in there :confused:

BTW @rsignell-usgs and I made a few changes in the environment file. Maybe you could try to remove the one you have and try it again. Get the new file from:

https://github.com/ioos/conda-recipes/blob/master/environment.yml

and then

[code]

[2016-07-22 20:33] jbosch-noaa commented on #288
Ok - so below is all the output from my anaconda prompt today.  I activated the ioos environment and then installed compliance checker. When I do a "conda list" there, compliance checker shows up.  What is strange is that when I do a "!conda list" from my Spyder ipython console it seem to not get compliance checker in the list.  This is particularly frustrating because I installed Spyder while in

[2016-07-22 20:40] rsignell-usgs commented on #288
I just tried to build using this environment.yml and got the dreaded:
[code]

[2016-07-22 20:47] jbosch-noaa commented on #288
For confirmation I double check what env I am in at my Spyder ipython prompt:

 !conda info --env
# conda environments:
#
IOOS                     C:\Users\jennifer.bosch\AppData\Local\Continuum\Miniconda2\envs\IOOS
bokeh_tutorial           C:\Users\jennifer.bosch\AppData\Local\Continuum\Miniconda2\envs\bokeh_tutorial
root                  *  C:\Users\jennifer.bosch\AppData\Local\Continuum\Minicon

[2016-07-23 01:25] ocefpaf commented on #288
@jbosch-noaa I can see that `udunits2` is installed. So the issue is some sort of path confusion. Not sure what yet. Do you have two (or more) partitions by any chance? I do remember an issue on Windows where the `udunits2` data could not be accessed called from another disk partition.

I just tried:

[code]

Note that I had to shorten the env name b/c of the `hdf5` issue @rsignell-usgs mentioned.

[2016-07-25 13:43] jbosch-noaa commented on #288
I installed the environment as you said and got the following error when I activated the environment but was still able to run the compliance checker:

(C:\Users\jennifer.bosch\AppData\Local\Continuum\Miniconda2) C:\Users\jennifer.bosch>activate I

(I) C:\Users\jennifer.bosch\AppData\Local\Continuum\Miniconda2\envs\I\etc\conda\
activate.d>if not defined GDAL_DATA (
set GDAL_DATA="C:\Users\jennifer

[2016-07-25 13:45] ocefpaf commented on #288
That is new. I am passing it along to the `gdal` maintainer in `conda-forge`.

At least `compliance-checker` is OK now :sweat_smile:

[2016-07-25 13:54] ocefpaf commented on #288
@jbosch-noaa was that all you got in the screen? I am trying to reproduce that, but I cannot. It seems that `gdal` activation is echoing the commands on the screen and those seems like the correct commands there. I wonder if the error comes right after that.

[2016-07-25 14:01] jbosch-noaa commented on #288
@ocefpaf  - yes,  that was everything. The error came right after I activated the environment.  I then tried to run the compliance checker anyway and it seemed to work.

(I) C:\Users\jennifer.bosch>compliance-checker --test=acdd sal.nc
Running Compliance Checker on the dataset from: sal.nc

--------------------------------------------------------------------------------

                     The d

[2016-07-25 15:57] ocefpaf commented on #288
@jbosch-noaa I believe that conda is jus echoing the commands it is issuing when activating the env vars for `gdal`. That is not an error.

[2016-07-25 20:04] jbosch-noaa commented on #288
Ok @ocefpaf  and @lukecampbell  I'm reopening this issue because I still ran in to the problem - perhaps this is because of known issues with the conda update?

So after I successfully set-up the new "I" environment and ran the compliance checker as instructed above, I decided to install Jupyter Notebook to continue working in this new "I" environment.

conda install ipython-notebook --channel con

[2016-07-25 20:08] ocefpaf commented on #288
The problem was: `conda install ipython-notebook --channel conda-forge`

That probably caused lots of downgrades there. You should use `conda install jupyter --channel conda-forge`. That should give you all you need (including the `notebook` which is no longer called `ipython-notebook` :wink:).

BTW `jupyter` and the `notebook` should already be in the `env`.  You did not had the folder navigation

[2016-07-25 20:18] jbosch-noaa commented on #288
Correct.  After installing the environment and calling jupyter notebook I did not have folder navigation.  That's what prompted me to update everything.

Thank you for correcting me on my vocabulary (notebook vs ipython-notebook). This is soooo confusing! :)

[2016-07-25 20:20] ocefpaf commented on #288
Oh yes... I am "in" this community and I am always confused.

I will look into it folder navigation and get back to you.

[2016-07-27 02:36] mhidas opened #289 "CF check_alternative_coordinates seems to do nothing useful?"
The `check_alternative_coordinates` method in [cf.py](https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L1917) returns either a True result, or nothing. This may seem a bit of a pessimistic view, but what good is a compliance check that nothing can fail?

Looking at the related [CF text](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conve

[2016-07-29 21:12] ocefpaf commented on #288
@jbosch-noaa I finally got my hands on a Windows computer to test this.

All the messages you are seeing are b/c of a change in latest miniconda on Windows that echos everything miniconda is doing (like a debug mode). Not sure why Continuum enabled made that by default, but it does not hurt to leave it there.

BTW here is how the folder navigation looks like in the `Jupyter notebook`:

![folder_na

[2016-07-29 21:33] jbosch-noaa commented on #288
Thanks @ocefpaf  for clarifying that it's miniconda updates.  I understand the navigation in jupyter.  The problem I was having was that when I activated the IOOS environment it would revert back to the old jupyter where you couldn't navigate.  I then updated jupyter and it fixed that problem for that session but it doesn't always seen to hold.  Additionally, I am having even more issues with acti

[2016-07-29 21:39] ocefpaf commented on #288
You are activating from an opened instance of the notebook, right? Not sure of that is supposed to work b/c the notebook cannot change the environment in place. (Unless we specify different kernels, but that is not a simple task!)

We can do the installation in the new laptop over a Skype session and try to sort out all the problems you are having.

[2016-08-01 21:00] jbosch-noaa commented on #288
Ok. I didn't realize I couldn't activate an environment in a notebook.

So I am scheduled to get my new laptop on Thursday of this week.  Perhaps Friday afternoon we can install miniconda.  FYI - For better or worse, my new laptop will be running Windows 10.

[2016-08-01 21:02] ocefpaf commented on #288
Sounds good to me.

Better! Soon Windows 10 will have a built in `bash`!!

[2016-08-10 19:35] ocefpaf opened #290 "Save text output"
@lukecampbell and @daf I am helping @jbosch-noaa with some notebooks in

https://github.com/ioos/notebooks_demos/pull/21

and I noticed that simple text outputs are only redirected to `stdout`. There is on API to save it to a file.
Correct me if I am wrong but I could not see it [here](https://github.com/ioos/compliance-checker/blob/7276abba102e2ef6cb390d49ba0c38726f625913/compliance_checker/runne

[2016-08-11 13:38] lukecampbell commented on #290
It looks like it only outputs the plain text to stdout. That's probably not completely desirable.

[2016-08-12 14:29] jbosch-noaa commented on #290
@lukecampbell  - For some of us, the output doesn't have to be pretty.  Plain text is ok.  I just need it to go to a file instead of printing on screen.  With that said, if it is easier to output to an HTML file, that's fine also.  Either way, the directions in the readme file is misleading and confusing.

[2016-08-16 12:20] rsignell-usgs opened #291 "What does "NCEI Time Series Incomplete" mean?"
When I checked out the online compliance checker at
http://data.ioos.us/compliance/index.html
I see a bunch of new tests that can be run.

So as a user, I'm wondering what things like  "NCEI Time Series Incomplete" means?

Could there be links to some docs or some more descriptive text to explain these tests on the online tool?

[2016-08-16 12:29] abirger commented on #291
@rsignell-usgs , I believe you may find the descriptions [here ](https://www.nodc.noaa.gov/data/formats/netcdf/v1.1/), or [here](https://www.nodc.noaa.gov/data/formats/netcdf/v2.0/).

[2016-08-29 14:08] ocefpaf commented on #290
@lukecampbell or @daf are either of you working on this? If not I may try it next week but I want o avoid duplicating efforts here.

[2016-08-29 14:30] lukecampbell commented on #290
I probably won't have time for it this week but it's definitely on my radar. If you could tackle it, that would be a big help!

[2016-09-02 13:05] Bobfrat commented on #247
So is the consensus here to try to download the standard name table that's defined in ```:standard_name_vocabulary``` and if that fails, fall to the packaged version?

It sounds like @lukecampbell wants the ability to update the packaged version as well. I could add a command line argument to update to the latest version.

[2016-09-02 13:14] kwilcox commented on #247
You could just update the packaged file with a new version periodically

[2016-09-05 03:02] mhidas opened #295 "Why are subclasses of the user-selected checker classes also run?"
The `_get_valid_checkers` method in ([suite.py](https://github.com/ioos/compliance-checker/blob/master/compliance_checker/suite.py#L88)) is supposed to filter out, from a list of checkers selected by the user, those checker classes that are appropriate for the dataset being checked. However, it also sneakily adds any subclasses of those checkers, leading to unexpected results.

On [line 109](https

[2016-09-05 15:06] kwilcox commented on #295
Valid point @mhidas. I have actually consider this a "feature" since we can subclass something like "CF1.6" and implement very specific checks in addition to those in "CF1.6".  Maybe it's time to consider the ability to run more than one checker at once via all interfaces?

[2016-09-06 17:27] lukecampbell commented on #295
@daf do you recall why we took this approach? It's been a while since I dug into the checker selection mechanics.

[2016-09-06 23:21] mhidas commented on #289
Fixed in #294

[2016-09-06 23:21] #289 closed

[2016-09-07 17:11] daf commented on #295
It's rooted in being able to support multiple types of incoming data sources and apply the same checks to both: netcdf files/opendap urls AND sos gc/ds xml files/urls.  The idea was to define your checks in a Base class, and have a stub class inheriting from both your specific checker's Base and the BaseNCCheck/BaseSOSGCCheck/BaseSOSDSCheck classes to pair them up with sources.  The IOOS metadata

[2016-09-07 23:58] mhidas commented on #295
@daf I think won't have a problem once I rewrite my checkers the way it's done in ACDD (as you described above). I was just not aware of the intention to use this mechanism to support multiple data formats per checker. It's not really relevant for us, because our convention is specific to NetCDF files.

What I was trying to, thinking it's a bit simpler, was:
[code]
and in setup.py:
[code]
With thi

[2016-09-08 19:45] daf commented on #295
Ok, I think I understand.  I think your setup should work and I'm in favor of the way you've laid your code out - it shouldn't force you to restructure so that your IMOS checks are in a shared base class, you should be able to inherit as you've laid out and it'll "just work".  Will need to think about a solution - maybe go down the subclasses until certain `_cc_*` metadata attributes are discovere

[2016-09-08 23:34] mhidas commented on #295
Yep, that could work... or until the attribute `register_checker = True`  is found?

[2016-09-13 14:25] lukecampbell commented on #288
Did this get resolved?

[2016-09-13 14:30] #249 closed

[2016-09-13 14:31] #245 closed

[2016-09-13 14:47] lukecampbell commented on #247
Ok, the code is ready, now we just need to update the README and we can close this.

[2016-09-13 14:49] lukecampbell commented on #291
@rsignell-usgs we wrapped up the implementation, you'll see the effects when we wrap up 2.3 and update the site.

![screen shot 2016-09-13 at 10 48 17 am](https://cloud.githubusercontent.com/assets/1155163/18478550/ae0ae15a-799f-11e6-8ca4-a78dcd93e9b3.png)

[2016-09-13 14:49] #291 closed

[2016-09-13 16:41] daf commented on #247
I'd like it to print the current standard name table version (and if it came from local) on run if possible.  Will help future debugging sessions.

[2016-09-13 18:41] lukecampbell commented on #247
actually yeah, that's pretty critical I think. Because it affects output results somewhat dramatically.

[2016-09-13 18:43] lukecampbell opened #299 "Include standard name table version in info string"
I'd like it to print the current standard name table version (and if it came from local) on run if possible. Will help future debugging sessions.

[2016-09-13 18:45] lukecampbell commented on #299
From #247

[2016-09-14 12:36] ocefpaf opened #300 "Getting a `configparser.DuplicateOptionError` when calling a third module that uses configparser"
I am seeing this when using `jupyter nbconvert` but in I also saw with other modules that uses `configparser`. It seems that they do not like the versioned `compliance_checker.suites` b/c it chokes on the second `acdd` saying ti is duplicated.

[code]

[code]

Not sure if the fix should be on `compliance-checker` side or if this is a `setuptools`/`pip` issue :unamused:

Any ideas? This breaks many

[2016-09-14 12:39] ocefpaf commented on #300
Note that the problem might by with `jupyter`'s [`entrypoints`](https://github.com/takluyver/entrypoints).

[2016-09-14 13:01] takluyver commented on #300
Looks like this was fixed in #279, but there hasn't been a release since then.

[2016-09-14 13:07] ocefpaf commented on #300
@lukecampbell and @daf can we get a new release? This is really hurting people who installs `complicance-checker` and `jupyter` together.

[2016-09-14 13:40] lukecampbell commented on #300
The next release is the 2.3 milestone. https://github.com/ioos/compliance-checker/milestone/7

[2016-09-14 13:40] lukecampbell commented on #300
I'll ask and see if I can do a minor version release.

[2016-09-14 14:10] ocefpaf commented on #300
@lukecampbell I patched the conda package with the fix but it would be nice to get a minor bugfix release b/c `PyPI` users are still affected by that.

[2016-09-14 14:23] daf commented on #300
@lukecampbell 2.2.1 seems appropriate.  I can get to it today (splitting out the bugfix commits from 2.3.0 feature commits) if you'd like.

[2016-09-14 15:25] kknee commented on #300
I'm okay with a minor release that covers only this issue.

Sent from my iPhone

On Sep 14, 2016, at 10:24 AM, Dave Foster <notifications@github.com<mailto:notifications@github.com>> wrote:

@lukecampbell<https://github.com/lukecampbell> 2.2.1 seems appropriate. I can get to it today (splitting out the bugfix commits from 2.3.0 feature commits) if you'd like.

—
You are receiving this because you

[2016-09-14 20:22] daf commented on #300
There has been [40 commits (many of those are merges) since 2.2.0 was released](https://github.com/ioos/compliance-checker/compare/2.2.0...master).

Of those, many are bug fixes other than just #279 and warrant inclusion in a patchset release:

#270
#271
#273
#274
#277
#276
#278
#280

All of these come before #279 in history which would make a patch branch very straightforward.  None of these are

[2016-09-14 20:26] ocefpaf commented on #300
I agree. I always recommend a RERO approach instead of milestones :smile:

[2016-09-15 12:59] kknee commented on #300
@jbosch-noaa gave thumbs up for a minor release.

[2016-09-15 13:39] lukecampbell commented on #300
Released 2.2.1 is out

[2016-09-15 13:39] #300 closed

[2016-09-16 13:12] jbosch-noaa commented on #288
Yes @lukecampbell .  Filipe and I sorted it out.

[2016-09-16 13:39] #288 closed

[2016-09-16 13:48] DanielJMaher commented on #202
The proper way to handle this is to split this into two tasks.  The first is to create a decorator for skipping tests.  The second is to create the dependency graph for each check/subcheck.  The second step is a very time intensive task and requires a certain level of domain knowledge.  The first is rather simple and can be set to a command line prompt for now.  After the dependency graph is creat

[2016-09-16 14:04] kwilcox commented on #202
The verbiage in this issue is confusing. We want to skip a `check` not a `test! :confused:

How would the decorator for skipping checks work? Would we decorate each check with a list of tags and have the ability to skip certain tags when running? Would we supply the actual check function names to skip when running?

[2016-09-16 14:08] DanielJMaher commented on #202
something simple like:

compliance-checker -t cf --skip "3.1.2, 4.5, 2.2" <path to file>

Then the decorator just checks "is my check in the list of skips? yes, skip. no, check."

I made those check numbers up, so don't worry if those aren't checks.
also i edited my comment for the word test, but the content is still the same.

[2016-09-16 14:24] kwilcox commented on #202
How would the skips be presented in the final score? A new "skips" section? Would each skip just reduce the "total number" of the suite?

[2016-09-16 14:26] DanielJMaher commented on #202
I would lean towards reducing the total number.  The user knows they skipped the check and anyone reviewing the scoring should notice that some were skipped.

[2016-09-16 14:29] daf commented on #202
Both should be done.  Skipped tests need to be shown, just like unittests would do.

[2016-09-16 14:59] lukecampbell commented on #202
There's no need for a decorator. There's a loop in suite.py, add a simple condition, "if check name matches a user defined skip, don't execute".

The command line argument is wrong as well, I'll post the correct version in a bit.

[2016-09-16 15:02] daf commented on #202
Ideally you'd want more than just the ability to skip checks by name, though.  The decorator intent is to have a class of checks to skip:

[code]

The user shouldn't have to know which checks individually do data access - just skip them all in one shot.

[2016-09-16 15:04] lukecampbell commented on #202
That's too complicated, anything more than a very simple name comparison will have to be documented in a subsequent issue and we'll evaluate need versus resources available to address it.

[2016-09-16 15:05] lukecampbell commented on #202
If the user wants to skip, then he/she will have to do more work, that's all we can support at the moment.

[2016-09-16 19:39] dpsnowden opened #302 "Documentation on installation."
#300 was closed with a note that a new release was issued.  I see the [release notes here](https://github.com/ioos/compliance-checker/releases/tag/2.2.1) but I don't see an indication on the notes about where to get the install.  There is some outdated info on the README.md about binstar etc (or at least I think it's outdated).

Shane recently announced a new i52N release on [ioos_tech](https://gr

[2016-09-16 19:44] ocefpaf commented on #302
I just read the README and that is dangerously outdated. Fixing it now...

[2016-09-16 19:46] jbosch-noaa commented on #302
Thanks for noting this @dpsnowden .  This release just came out yesterday and with the quick pack-up  of our office I did not have a chance to follow up with @lukecampbell and @kknee about it.

@ocefpaf  - Should ASA be updating this README file? They released the update.

[2016-09-16 19:47] ocefpaf commented on #302
I think I should update the `conda` install instruction first. Then @lukecampbell can review and take care of the rest :wink:

[2016-09-16 19:56] jbosch-noaa commented on #302
Thanks @ocefpaf .  Once @lukecampbell is finished with his review, the release can be announced over [ioos_tech](https://groups.google.com/forum/#!topic/ioos_tech/u57ztLpo3N0).

Kelly mentioned @Bobfrat was working on the V. 2.3 release.  We should probably loop him in to this thread also.  When V 2.3 comes out in October we will need to have a well documented set of release notes and an email out

[2016-09-16 20:04] kknee commented on #302
@jbosch-noaa copy that, we'll make sure to formalize the release for 2.3.

This past one was pretty small and sudden, thus the lack of fanfare.

[2016-09-16 21:28] benjwadams opened #305 "Replace "stdout" text methods with templated output"
The default "text" output method uses the `print` function quite a bit, which leads to needing to use a context manager which wraps stdout if you want to output to a file instead.  See:  https://github.com/ioos/compliance-checker/blob/master/compliance_checker/suite.py#L333-L394

I think it'd be preferable to refactor the code into some kind of templates (i.e. Jinja2) so that the code would look c

[2016-09-19 18:51] #290 closed

[2016-09-19 21:39] castelao opened #306 "Misleading error message if missing checkers."
If running ComplianceChecker.run_checker() without:

check_suite = CheckSuite()
check_suite.load_all_available_checkers()

would return a message:

[code]

Looks like that the lack of any checker is the actual problem, so wouldn't be better to
fail earlier and raise that? Is there any reason to check without loading any checker?

[2016-09-20 14:44] #283 closed

[2016-09-20 14:52] benjwadams commented on #216
I'm not seeing wicken when I run `pip freeze` on my virtualenv.

[2016-09-20 14:57] benjwadams commented on #216
I don't see Wicken when I run `pip freeze` in my virtualenv.  I'm also not entirely clear on the issue here -- is it that some checks on the IOOS suite (`-t ioos`) are not working properly on non-NetCDF datasets as there are no XPaths?

[2016-09-20 15:11] daf commented on #216
Right - the IOOS checker won't run on GetCapabilities/DescribeSensor documents as that codepath was never updated to work without Wicken.

[2016-09-20 15:43] lukecampbell commented on #205
Hey folks, just a heads up. This was fixed in https://github.com/ioos/compliance-checker-web/pull/39/files

Once 2.3.0 release is complete we'll update the site which will include these changes.

[2016-09-20 15:43] #205 closed

[2016-09-20 15:43] #299 closed

[2016-09-20 15:43] #247 closed

[2016-09-20 15:49] Bobfrat commented on #205
Some documentation here:
https://github.com/ioos/compliance-checker-web/wiki/API

[2016-09-20 18:28] benjwadams commented on #216
Do you know of a last known good commit WRT the IOOS SOS check?  Tried bisecting and there are just a lot of missing fields, not outright failures.

[2016-09-20 18:35] daf opened #308 "CDL check fails on text files (py3)"
The recent CDL additions (#297) have broken the ability to pass a text file on the command line (IE a getcaps/describesensor xml document) on python 3 environments:

[code]

[2016-09-20 18:43] daf commented on #216
The last "working" commit would be pre-wicken removal, c4387985a15e578141bf15298067ab67e036af7d

I can't test how it works currently because I can't get past a bunch of random issues, see fixes in #309, and now I'm on some encoding issues with the XML document stuff.  I'm testing via:

[code]

so I'm stopped up there (on python3 obviously).

[2016-09-20 18:47] daf commented on #216
https://github.com/ioos/compliance-checker/blob/master/compliance_checker/base.py#L75-L86

MultipleXMLDogma refs are not imported anymore (they're from wicken), these codepaths must not be taken or they'd crash you.  Should be removed as part of this issue.

Does `@check_has` decorator work with XML documents?  https://github.com/ioos/compliance-checker/blob/master/compliance_checker/base.py#L237-

[2016-09-20 21:14] benjwadams commented on #216
In theory the check_has should work, as it will usually end up called `std_check` or `std_check_in` which are Python attribute checks.  Provided the properly attributes are set on the checked object, it should work, but right now it's just using the OWSLib SOS object.
https://github.com/ioos/compliance-checker/blob/master/compliance_checker/base.py#L150-L170

[2016-09-21 14:13] kwilcox opened #310 "Python usage return values are not consistent"
Stubbing this here so I can reference from a notebook. More to come!

[2016-09-21 15:27] kwilcox commented on #310
The bug appears to be that setting `output_format='stdout'` will  always produces errors when running `run_checker`.

See: http://nbviewer.jupyter.org/github/kwilcox/jupyter-binder/blob/master/ioos/compliance-checker/issue_310/index.ipynb

[2016-09-21 15:54] kwilcox commented on #310
Ah, https://github.com/ioos/compliance-checker/commit/10c85fe6e81bf5f326ba2d0ac4b4f7bc1a3aa848 is not released yet so the documentation and usage are diverged. This should be fixed when a release is made.

[2016-09-21 15:54] #310 closed

[2016-09-22 22:30] benjwadams commented on #216
OK @daf, the push I have above to my branch should hopefully take care of things.  I still need to make some unit tests against a mock SOS service so we avoid any future regressions for the IOOS test, so I'm going to do that hopefully tomorrow before I send in a formal PR.  Also haven't gotten to check Py3 but will do tomorrow.

I more or less blackbox tested against the prior behavior by running:

[2016-09-22 22:31] benjwadams commented on #216
Best emoji in URL.

[2016-09-23 18:24] benjwadams commented on #308
WTB tests PST

[2016-09-23 18:24] benjwadams commented on #308
Python string encoding funtimes.  I'll handle this and add some tests too.

[2016-09-26 11:52] cehbrecht opened #313 "output in several formats on one run"
i'm using the compliance-checker as a process in a Web Processing Service.  Currently you can set only one output format (`json`, `html` or `text`). It would be nice if i could have multiple output formats on the same run (like `[json, html]`).

Are the `text` and `html` formats generated from the `json` format?

[2016-09-26 12:54] cehbrecht opened #314 "running command-line checker on several files"
the command-line checker allows to have several input files. But the command line checker seems to call only the first input file:

https://github.com/ioos/compliance-checker/blob/master/cchecker.py#L63

[2016-09-26 13:43] lukecampbell commented on #313
They're all generated from an internal structure that looks very much like the json.

[2016-09-26 13:45] #308 closed

[2016-09-26 14:20] cehbrecht opened #315 "check report for several files"
currently the compliance checker generates a check report for a single input file only (text, json ,html).

Usually i need to run the checker on many files and it would be nice if i could return a combined report. In case of text one could concatenate the reports (with the filename), in case of json one would have a dictionary of reports, and in case of html there is more to do ...

[2016-09-26 16:52] #216 closed

[2016-09-27 08:11] mhidas opened #316 "Fail result for `Flags and flag attributes` check with no reasoning"
Running the CF checker on [this file](http://thredds.aodn.org.au/thredds/fileServer/IMOS/SRS/SST/ghrsst/L3S-1d/dn/2016/20160919092000-ABOM-L3S_GHRSST-SSTfnd-AVHRR_D-1d_dn.nc) results in
[code]

An apparently failed result, with no reasoning message.

[2016-09-27 08:14] mhidas commented on #316
The file has two flag variables, with attributes:
[code]
I don't see anything obviously wrong.

[2016-09-27 13:52] lukecampbell commented on #316
Nor do I, we'll take a look.

[2016-09-27 14:42] daf commented on #202
I don't think #301 fully addresses this issue, as I've stated, but feel free to create a subsequent issue if that makes more sense ("Advanced Skipping...")

[2016-09-27 16:20] lukecampbell commented on #202
The title is to skip a test, which we accomplished and rely heavily on the user to use command line arguments to identify which tests to be skipped. The description of this issue and the concept of a dependency graph describing the checking functionality is significantly beyond the scope of what we can accomplish in a reasonable time frame. I am closing this issue and we can open an advanced skipp

[2016-09-27 16:20] #202 closed

[2016-09-28 00:46] mhidas commented on #275
Just want to note a small drawback of generating netCDF test files on the fly during unit tests.

We took the same approach for the [IMOS checker plugin](https://github.com/aodn/data-services/tree/master/lib/cc_plugin_imos), and encountered a problem because our build & production environment has an older version of `ncgen`. The netCDF created can have small differences in some cases (in this case

[2016-09-28 13:05] lukecampbell commented on #275
@ocefpaf I'm not familiar with how conda bundles netCDF, could you comment on what version of netCDF is bundled in conda? Also, do you know if `ncgen` comes with it?

[2016-09-28 13:06] #246 closed

[2016-09-28 13:08] lukecampbell commented on #121
The NCEI compliance checker already uses these sea names. The GliderDAC one does not...  @mbiddle-nodc pointed out that this list is not comprehensive enough though.

[2016-09-28 13:19] ocefpaf commented on #275
If you install `netcdf4-python` with conda from conda-forge you will get the latest libnetcdf (`netcdf 4.4.1`) with `hdf4/5` support. (Following the package feedstock is the best way to be in touch with the changes: https://github.com/conda-forge/libnetcdf-feedstock/blob/master/recipe/meta.yaml)

Yes. However, even though I know it is far more convenient to use `ncgen` and `cdl`s, I prefer to use

[2016-09-28 13:52] lukecampbell commented on #275
I got really good at writing CDLs after all my work with metadata for IOOS. I also wrote a [vim plugin](https://github.com/lukecampbell/vim-folder/blob/master/syntax/cdl.vim) to do syntax highlighting for CDLs.

[2016-09-29 22:28] castelao opened #319 "ACDD check in conflict with CF-1.6"
According to CF-1.6, coordinate variables shouldn't have the attribute _FillValue, but acdd.check_vertical_extents() requires it.

[2016-09-30 12:57] #275 closed

[2016-09-30 12:57] #121 closed

[2016-09-30 13:06] lukecampbell commented on #319
Currently the ACDD check doesn't have the logic necessary for differentiating between geophysical variables and coordinate variables. In our 3.0 milestone, I aim to integrate the logic needed to identify all the types of variables, and features into the core of the project to improve the checks across the board.

[2016-09-30 14:34] castelao commented on #319
Hi @lukecampbell , that sounds great. For now, is it necessary to explicitly create a masked array using the _FillValue? Otherwise, would my patch be fine for pre-3.0? Shall I open a pull request?

[2016-09-30 16:53] lukecampbell commented on #319
If you could make a pull-request to the master branch we could review it and test it for integration.

[2016-09-30 18:04] kwilcox opened #322 "JSON output to a filename overwrites for each check group"
[code]

The file is overwritten for each check: https://github.com/ioos/compliance-checker/blob/master/compliance_checker/runner.py#L145. We can't just make that open in append mode because then the file wouldn't be valid JSON.

I was thinking about adding a top level dictionary to the JSON output with the test name, ie.

[code]

@lukecampbell @daf @ocefpaf Thoughts?  Will PR so it makes it into n

[2016-09-30 18:49] lukecampbell commented on #322
Yeah, I like that idea. I'll need to patch compliance checker web for the change in format.

[2016-09-30 18:53] kwilcox commented on #322
What needs to be updated? I assumed CC-web used the HTML output?

https://github.com/ioos/compliance-checker-web/search?utf8=%E2%9C%93&q=json

[2016-09-30 18:57] kwilcox commented on #322
Looks like it uses its own output format: https://github.com/ioos/compliance-checker-web/blob/master/cchecker_web/processing.py#L22-L39

[2016-09-30 19:44] mbiddle-nodc commented on #237
Just saw this old thread, figured I would include the new paths to the gold standard example data files:

http://data.nodc.noaa.gov/thredds/catalog/example/catalog.html
and
http://data.nodc.noaa.gov/ncei/example/data/netcdf/

Some documentation about running them through the checker is coming soon...

[2016-09-30 19:49] kwilcox commented on #37
I'm going on record in favor of a "demerit" style approach. Shaming people is already something I'm pretty good at. I haven't come across a use-case to knowing what is correct with a dataset... everyone always wants to know what is wrong with it.

[2016-09-30 22:34] ocefpaf commented on #322
:+1:

[2016-09-30 23:41] kwilcox commented on #322
Fix here: https://github.com/ioos/compliance-checker/pull/323

[2016-10-01 01:24] #322 closed

[2016-10-03 19:09] lukecampbell opened #324 "conda 2.3 release"
@ocefpaf could you work your magic to get the latest release, 2.3, released with conda?

[2016-10-03 19:34] kknee commented on #302
@jbosch-noaa @dpsnowden  - see IOOS Tech email sent out by @lukecampbell and duplicated here: https://github.com/ioos/compliance-checker/releases

[2016-10-03 19:34] #302 closed

[2016-10-03 23:37] ocefpaf commented on #324
Sure. See https://github.com/conda-forge/compliance-checker-feedstock/pull/6

[2016-10-04 12:25] #324 closed

[2016-10-09 23:55] mhidas commented on #37
@kwilcox I'm with you on that. And if it is generally agreed that this is the way to go, perhaps the `Scoring Breakdown` section of the text output could be removed (unless verbose output is requested)?

[2016-10-11 07:10] mhidas opened #325 "CF: "boundary variables" don't need coordinates"
I have received a file that has:

[code]

According to [CF section 7.1](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#cell-boundaries) this is correct, and the `TIME_bnds` variable doesn't need to have "attributes such as `long_name` and `units`". Presumably that includes the `coordinates` attribute too.
However, the CF checker complains:

[code]

[2016-10-11 14:01] lukecampbell commented on #325
The CF Checker doesn't deal with gridded data very well just yet. This should be taken care of in the 3.0 release.

[2016-10-14 18:01] lukecampbell opened #329 "ACDD Units Checking"
There are some variables prescribed by CF that are inherently unitless.
For example `atmosphere_ln_pressure_coordinate`.

In NCEI, we look at the standard name for the variable and look up in the latest CF Standard Names Table, if that variable should be unitless.

Unitless can be characterized in netCDF in one of two ways:

Omitting the unit attribute (this was news to me until I talked to some o

[2016-10-14 20:04] lukecampbell commented on #319
I have fix for this shortly, it'll probably be integrated early next week.

[2016-10-14 20:40] benjwadams commented on #316
@mhidas Is it alright to use the NetCDF file you supplied as part of the tests data?  We don't have any files using `flag_masks` and I would like to write a unit test for it.

[2016-10-16 23:48] mhidas commented on #316
@benjwadams Sure, go ahead. Though you'll probably want to remove most of the 50Mb+ of actual data from the file.

Thanks for the fix!

[2016-10-17 12:07] #316 closed

[2016-10-17 18:38] lukecampbell opened #335 "§9.5 Refactor check_coordinates_and_metadata"
Right now the method defines its own logic to find variables that are "data" variables which we'll call geophysical variables instead.

This logic is independent and inconsistent with the rest of the checker.

[2016-10-17 18:39] lukecampbell opened #336 "Update docstrings in all CF checker methods"
Update the docstrings to use sphinx guidance: http://www.sphinx-doc.org/en/stable/domains.html#info-field-lists

Bringing in more consistency to the project for how to document the methods.

[2016-10-17 18:41] lukecampbell opened #337 "Find all instances in CF where feature detection is used"
This is a task that is purely research. We need to identify all the places in the CF checker where we attempt to reason about a variable's type, whether it's a geophysical variable, a metadata variable, a coordinate variable etc.

With this we also need to identify all locations where we attempt to reason about a dataset's feature types: point, trajectory etc.

[2016-10-17 18:41] lukecampbell opened #338 "Refactor check_dimension_single_value_applicable"
Right now the method is commented out and no logic or checking is performed

[2016-10-17 18:42] lukecampbell commented on #319
@castelao could you post a sample dataset that you were using where you identified the issue? I think I solved it with the refactor of ACDD.

[2016-10-17 19:03] lukecampbell opened #339 "Refactor check_convention_globals"
Right now the check only ensures that the global attributes are strings. The CF (and COARDS+NUG) don't say they are required but they are _recommended_ which means we should award points for having these global attributes.

[2016-10-17 19:07] lukecampbell commented on #339
http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#_attributes

The text does not use specific language like _"We recommend these global attributes be defined"_ but only say:

I think it's safe to say that even though it's not explicitly mentioned as recommended, they are in fact recommended attributes. My reasoning, if they weren't recommended why would they be listed with example

[2016-10-17 19:08] lukecampbell commented on #339
@rsignell-usgs @mbiddle-nodc

Would you like to weigh in on your recommendations here? This is quite debatable and up to interpretation since explicit language in CF §2.6.2 wasn't used.