[2016-10-17 19:18] lukecampbell opened #340 "Refactor check_units"
check_units is too dense and contains too much logic. It needs to be broken up into smaller parts.

[2016-10-17 19:29] mbiddle-nodc commented on #339
I would say treat these as recommended.

According to http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#_overview

[2016-10-17 19:30] lukecampbell commented on #339
Yeah, I just now noticed that it says _contents **should** be contained in the following_

[2016-10-17 19:38] lukecampbell opened #341 "Refactor check_flags"
The check has become too long and bloated with complicated (and undocumented) logic.

The logic should be split up into smaller private methods that are called sequentially, where each smaller method can be tested locally as a unit test and individually documented.

[2016-10-17 20:23] lukecampbell opened #343 "Refactor Chapter 5 checks"
The compliance checker's interpretation of chapter 5 is slightly incorrect and too literal of written guidance instead of intended guidance.

For example, 5.1 basically says, "you don't need a coordinates attribute if the dimensions correspond to coordinate variables" but the check checks coordinate variables, and they are correct, and something else...

[2016-10-18 14:04] lukecampbell opened #344 "Fix climatology variable detection"
CF §7.4 describes climatologies and datasets describing climatologies.

After looking at `_find_clim_vars` it will identify just about all time coordinate variables as being a climatology variable.

In practice, a dataset describing a climatology has the following properties:

- The `time` coordinate variable has `climatology` attribute which defines the variable describing the cell boundaries for

[2016-10-18 14:10] lukecampbell opened #345 "Fix 5.1 checks"
The 5.1 checks make incorrect assumptions. For example it assumes that coordinate variables describing the X-axis must have a name that matches a list of allowable names.

This is fundamentally false, and needs to be corrected.

[2016-10-18 14:16] lukecampbell opened #346 "Section 9 Checks"
Our assumptions about section 9 are incorrect and the checkers have unique logic for reasoning about feature types within a dataset. This should be refactored so that it shares the reasoning logic with the entire project.

**All checks in all plugins should use similar reasoning logic**

For example, the majority of the body of `check_all_features_are_same_type` has complex logic to reason about a

[2016-10-18 17:06] lukecampbell opened #349 "Fix 7.1 cell boundary checks"
The cell boundary checks in `check_cell_boundaries` don't check the dimensions correctly to verify that the boundaries are correctly defined.

[2016-10-18 19:15] #344 closed

[2016-10-18 20:56] benjwadams opened #352 "Refactor `guess_coord_type`"
Refactor `guess_coord_type` by breaking into smaller functions.

[2016-10-20 20:51] jbosch-noaa opened #358 "IOOS netCDF profile check"
@lukecampbell and @kknee ,

Are the differences [Alex outlined](https://ioos.github.io/ioos-netcdf/ioos-netcdf-metadata-description/) between the 2 NCEI netCDF templates and the IOOS profile recommendations being built in to the compliance checker v3.0?  Are they part of the NCEI plugin?

I know at the bottom of the [issue#69 ](https://github.com/ioos/compliance-checker/issues/69) discussion there

[2016-10-21 14:54] abirger commented on #358
@jbosch-noaa , @lukecampbell , @kknee , I had a talk with Derrick yesterday, and he agreed to switch completely to the NCEI Template 2.0 and ACDD 1.3. I will update the IOOS NetCDF Profile description accordingly either today or first thing next week.

[2016-10-24 15:40] #341 closed

[2016-10-24 15:40] #340 closed

[2016-10-24 15:41] #339 closed

[2016-10-24 15:42] #337 closed

[2016-10-24 15:43] lukecampbell opened #364 "Fix imports"
The imports are too long, they should be broken up.

[2016-10-24 15:50] lukecampbell opened #366 "Change return type for _find_cf_standard_name_table"
Right now the method returns 0 or 1, which is reminiscent of C/C++ programming. It should return True/False and raise an error if an error occurred.

[2016-10-24 17:41] lukecampbell opened #367 "check_vertical_coordinates refactor"
check_vertical_coordinates should be refactored to iterate across coordinate variables containing a Z-axis only.

There's a method for that in cfutil: `get_z_variables` for this

[2016-10-24 18:07] lukecampbell opened #368 "Refactor check vertical coordinates"
The check for dimensional vertical coordinates is way too literal. It just needs to check if the units are a string and are valid udunits.

If the vertical coordinate is not a pressure derivative then it must also have a `positive` attribute. `axis` and `standard_name` are nice to have as well.

[2016-10-24 18:15] lukecampbell opened #369 "Add variable name to the Result title for check_dimensionless_vertical_coordinates"
Please add a variable name to the title for each of the results stemming from `check_dimensionless_vertical_coordinates`

[2016-10-24 18:16] #352 closed

[2016-10-24 18:17] #338 closed

[2016-10-24 18:17] #319 closed

[2016-10-24 18:21] lukecampbell commented on #248
Fixed with https://github.com/ioos/compliance-checker/commit/c22729aa30f31ab8cec1a3a2d4748a68e7fca33b

[2016-10-24 18:21] #248 closed

[2016-10-24 18:25] lukecampbell commented on #232
Fixed with the last release for ACDD

[code]

`battery_voltage` is a geophysical variable that would technically require `coverage_content_type`

But `instrument` doesn't require one, nor platform nor crs.

[2016-10-24 18:25] #232 closed

[2016-10-24 18:45] lukecampbell opened #370 "Refactor check_time_coordinate"
- Iterate over the coordinate variables, not every variable.

[2016-10-24 18:47] lukecampbell opened #371 "Refactor check_calendar"
- iterate over time coordinates not every variable.
- Include variable name in result title.
- `calendar` attribute is optional, so only check it's contents if it exists. If it doesn't exist, there is no check. CF assumes that if `calendar` is omitted, then it is `standard/gregorian` according to §4.4.1

[2016-10-24 20:13] lukecampbell opened #372 "Add check for coordinate system definition"
This was a hard read but basically:

[code]

The association can be:
- Coordinate is a coordinate variable and is a dimension of the geophysical variable
- The coordinate is associated via the coordinates attribute.

[2016-10-24 20:18] lukecampbell opened #373 "Add check for dimension and variable names"
Write a check to ensure that no variable has the same name as a dimension unless it is a coordinate variable.

That's self-contradictory since it's impossible to have a multi-dimensional coordinate variable. A coordinate variable can ONLY BE a variable with a single dimension sharing the same name as the variable.

[2016-10-24 20:37] lukecampbell opened #374 "Add check for duplicate axis values"
No geophysical variable can have two coordinates (coordinate variables and auxiliary coordinate variables) that share the same axis value.

[2016-10-24 20:40] lukecampbell opened #375 "Add check for grids containing coordinates"
CF Chapter 5 Paragraph 8

Basically, if it's a grid, check that latitude/longitude exist and are associated via `coordinates`

[2016-10-24 20:47] lukecampbell opened #377 "Remove anything from 5.1"
This is guidance for software writers trying to find the axis. There is no check here or assertions, or recommendations for how to create.

[2016-10-24 20:51] lukecampbell commented on #377
@mbiddle-nodc @daf @benjwadams heads up.

[2016-10-24 20:52] lukecampbell commented on #377
Maybe a better way to write this issue is to say that after checks from 5.0 have been done, there is nothing to do here. 5.0 already states that all dimensions that are latitude, longitude, vertical or time dimensions must have corresponding coordinate variables.

[2016-10-24 20:54] lukecampbell commented on #377
And even so, I don't know that you could reliably check this at all. Dimensions are just names and a size, and names are completely subjective. There's no reliable way to determine from a name that it corresponds to a lat/lon/time coordinate without a coordinate type (coordinate variable or auxiliary coordinate variable). So all of the checks are not really plausible, that I can see.

[2016-10-24 20:57] lukecampbell commented on #377
Here's section 1.2's definitions

http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#terminology

A time dimension is a dimension that is associated with a time coordinate variable. Therefore the statement above, is a tautology. "A coordinate variable must be a coordinate variable".

[2016-10-25 13:33] lukecampbell opened #378 "Add check for grids containing coords"
In other words, if the dataset contains a gridded feature type, check that lat/lon coordinates exist and are associated with any variable of that feature type.

[code]

[2016-10-25 14:03] lukecampbell opened #379 "Create feature detection for reduced horizontal grids"
We need feature detection for reduced horizontal grids as there are tests that pertain explicitly to them.

http://images.slideplayer.com/26/8547623/slides/slide_20.jpg

http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#reduced-horizontal-grid

[2016-10-25 14:15] lukecampbell opened #380 "Refactor 5.3 Checks"
Refactor the 5.3 checks on reduced horizontal grid.

If a geophysical variable is identified as a reduced horizontal grid, then assert that there are lat/lon coordinates that are associated with that variable through the `coordinates` attribute.

This check is only applicable if CF §5.0 p 8 isn't performed on reduced horizontal grids explicitly.

[2016-10-25 15:23] lukecampbell opened #381 "Refactor check_coordinate_vars_for_all_coordinate_types"

[2016-10-25 18:40] lukecampbell commented on #378
CF 5.0 paragraph 8.

Ben found a contradicting instruction in §5.6 Paragraph 1

[2016-10-25 20:15] #377 closed

[2016-10-25 20:22] #379 closed

[2016-10-25 21:08] #374 closed

[2016-10-26 14:55] #373 closed

[2016-10-26 19:59] benjwadams commented on #364
I'm assuming you mean the from `x import y, ... z100` imports here?

[2016-10-27 12:41] lukecampbell commented on #364
I would actually prefer to import the module and use `.` to access the part of the module accessed.

[code]

[2016-10-27 15:31] #366 closed

[2016-10-27 16:07] #375 closed

[2016-10-27 18:53] lukecampbell commented on #372
The more I read this the more it hurts, and my interpretation has changed. CF allows for multiple coordinate variables, for example in ROMS datasets with staggered grids, there are 3 types of coordinates, eta_u, eta_v and rho. This is allowed, so the idea that every geophysical variable must be associated with every coordinate is wrong.

I think the best we can do with this one is to check that an

[2016-10-27 18:54] #367 closed

[2016-10-27 19:33] #371 closed

[2016-10-27 19:33] #368 closed

[2016-10-27 20:39] #345 closed

[2016-10-27 20:44] #146 closed

[2016-10-27 20:44] lukecampbell commented on #146
Fixed with https://github.com/ioos/compliance-checker/pull/353

[2016-10-27 20:45] lukecampbell commented on #103
I'm slowly refactoring out the score groups.

[2016-10-27 20:48] #372 closed

[2016-10-28 12:26] lukecampbell opened #393 "Refactor unitless standard_name detection"
Right now it's using a static list, we should refactor it to use the same dynamic structure that the main cf module uses.

[2016-10-28 12:27] lukecampbell commented on #393
Also there is at least one entry, `region`, where the units are None.

[2016-10-28 13:44] lukecampbell opened #394 "Add 8.1 checks on compression"
- `compress` attribute must be a blank-separated string
- compression coordinates must be coordinate variables
- compression coordinates must be an integer type.

[2016-10-28 14:09] lukecampbell opened #396 "Coords dont define cf_role"
Update an existing check or add a new one to make sure that any referenced coordinates, either coordinate variables, or auxiliary coordinate variables directly associated with a variable don't define `cf_role`.

[2016-10-28 14:09] lukecampbell commented on #396
This comes from reviewing #284

[2016-10-28 14:11] lukecampbell commented on #284
We got a fix in for the erroneous reduced grid detection. Unfortunately, the dataset is still plagued with issues and the checker correctly identifies them:

- location_id is referenced as an auxiliary coordinate variable, so all the checks that apply to auxiliary coordinate variables are being applied to it.
- a bunch of illegal data types: CF doesn't allow for data types to be unsigned integers.

[2016-10-28 14:14] lukecampbell commented on #378
This was completed by https://github.com/ioos/compliance-checker/pull/389

[2016-10-28 14:14] #378 closed

[2016-10-28 14:17] lukecampbell commented on #325
@benjwadams this should be fixes as part of #349

[2016-10-28 14:20] lukecampbell opened #397 "Gather complete dataset tests"
We need a large cross section of datasets from various catalogs. From there we can add thorough integration tests that performs the entire CF check and we can lock in the result messages.

The CF standard has a lot of recommendations and assertions all over, it's hard to know if you've covered all the requirements unless you look at dataset checks as a whole.

[2016-10-28 14:23] #284 closed

[2016-10-28 14:23] #380 closed

[2016-10-28 14:24] cpaulik commented on #284
We can ignore the datatype warnings because handling of datatypes in the CF conventions is not well defined anyway.

What is the problem with the location_id variable. It follows the CF standard as far as I can tell.

[2016-10-28 14:29] lukecampbell commented on #284
location_id is a instance type defining the `cf_role`, but it is being referenced as an auxiliary coordinate variable
[code]
only coordinate types are allowed to be referenced by the `coordinates` attribute.

[2016-10-28 14:34] cpaulik commented on #284
Ah, thanks. I was looking at the [CF1.7 draft](http://cfconventions.org/cf-conventions/cf-conventions.html#_orthogonal_multidimensional_array_representation_of_time_series) which is different in this regard than the [CF1.6](http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#_orthogonal_multidimensional_array_representation_of_time_series)

[2016-10-28 14:37] lukecampbell commented on #284
[g2_biopar_report.pdf](https://github.com/ioos/compliance-checker/files/558633/g2_biopar_report.pdf)

We haven't completed the 3.0 milestone refactor, we're still in the middle of it but for the most part I concur with the report.

I'm going to add a check that will notify users if they have a instance variable referenced as a coordinate variable, so it's clearer in the report why so many issues s

[2016-10-28 14:40] lukecampbell commented on #284
Also, great catch on CF-1.7 mentioning that instance identifiers are treated as auxiliary coordinates.... that's interesting. Which would create a lot of problems if interpreted too literally because Chapter 4 has a lot of very specific checks like requiring units for all coordinates, standard_name requirements etc. All of these don't make sense for instance variables....

[2016-10-28 15:19] benjwadams commented on #306
@castelao, do you have a working commit for this?  It looks like the commit referenced fixes things, but I'd prefer an if statement over assert in non testing code due to Python's -O switch, which can skip asserts.

[2016-10-28 17:46] lukecampbell commented on #306
I think we added an assert somewhere.

[2016-10-28 17:48] #369 closed

[2016-10-28 17:48] #364 closed

[2016-10-28 18:56] #396 closed

[2016-10-31 17:56] #370 closed

[2016-11-01 00:23] mhidas opened #409 "Bugfix release 2.3.1?"
Since version 2.3.0, there have been a couple of small bug fixes that have not yet been released. In particular, the fix added in #331 (+ unit tests in #334) are needed for some of our data streams at [IMOS](http://imos.org.au/). I know you're focusing on v3.0, but in the meantime, would it be a big task to make a quick bugfix release including these?

I'd be happy to prepare a PR for it, but I'm

[2016-11-01 12:31] kknee commented on #409
@jbosch-noaa a minor release this week is fine with us if it's okay with you

[2016-11-01 12:34] jbosch-noaa commented on #409
@kknee - that's fine.

[2016-11-01 12:37] jbosch-noaa commented on #358
@kknee  - Where do we stand here?

[2016-11-01 12:47] kknee commented on #358
@jbosch-noaa based on Alex's post, I think we're good.  We already have an ACDD 1.3 check and NCEI 2.0 will be out this week.   Can you close if you agree and clarify the question if not?

[2016-11-01 12:59] jbosch-noaa commented on #358
@kknee , @lukecampbell , and @abirger

I see that you have the ACDD 1.3 check and the NCEI 2.0 check.  I still have one question, though.  Is there a way for a data provider to check if they have all of the IOOS specific attributes that are listed in the table found [ here](https://ioos.github.io/ioos-netcdf/ioos-netcdf-metadata-description-v1_1/) ?

[2016-11-01 14:43] lukecampbell commented on #409
@mhidas We released a 3.0.0-rc.1 today

[2016-11-01 14:43] lukecampbell opened #413 "Relase 3.0.0-rc.1 conda forge"
Hey @ocefpaf could you push the latest release to conda?

[2016-11-01 14:47] ocefpaf commented on #413
@lukecampbell  we usually do not package `rc`s in the main channel. We place them in a `main/rc`, for example. But that makes it inaccessible for those not familiar with conda channels. So in this case I will make an exception and place this release in the `main` channel, as I believe this is more like a bug-fix release, no?

[2016-11-01 15:03] lukecampbell commented on #413
Ok then let's hold off on releasing it on conda.

And no it's not a bugfix release because there have been major non-backwards-compatible changes.

http://semver.org/

So, I'll leave it an RC1 and hopefully the next release is just 3.0

[2016-11-01 15:03] #413 closed

[2016-11-01 15:04] lukecampbell commented on #413
The RC isn't complete because there are parts of CF 1.6 Chapter 6-9 that need to be refactored to be consistent with the rest of the project, so this is truly a RC.

[2016-11-01 15:08] ocefpaf commented on #413
Fine with me. But I guess the goal of #409 is a bugfix release. Let me know if you make a release of that.

[2016-11-01 16:12] benjwadams commented on #325
Did we merge something to fix this?  With all the PR activity I've sort of lost track.

[2016-11-01 20:21] kknee commented on #358
@jbosch-noaa there is an IOOS specific check, but its specific to metadata in SOS responses.  We would need to make a new check to address the IOOS netCDF metadata attributes.

We've got our hands full with the 3.0 milestone.  Mind if we pull this one out for a (near) future release?

[2016-11-02 00:50] ggalibert opened #415 "cf.check_two_dimensional: 'netCDF4._netCDF4.Dimension' object has no attribute 'units'"
Seen on IOOS compliance checker version 2.2.1 with the following file [IMOS_ACORN_V_20160101T003000Z_CBG_FV01_1-hour-avg.nc.zip](https://github.com/ioos/compliance-checker/files/565427/IMOS_ACORN_V_20160101T003000Z_CBG_FV01_1-hour-avg.nc.zip):

[code]

Not sure what this could be about.

[2016-11-02 12:23] jbosch-noaa commented on #358
@kknee  - That's fine.  I just don't want us to forget about them.  Thanks.

[2016-11-02 12:32] lukecampbell commented on #415
That check was removed and replaced with better checks for grids. If you run the latest compliance checker (3.0.0-rc.1) on that dataset you get the following:

[code]

[2016-11-02 12:35] lukecampbell commented on #325
@mhidas do you have a sample dataset?

[2016-11-02 16:06] jbosch-noaa commented on #409
@lukecampbell, @Bobfrat , and @kknee
I'm getting confused here.  Why can't we just to a bug fix of v 2.3?  I don't like releasing an unstable release candidate for a version that isn't released yet.

[2016-11-02 20:46] lukecampbell commented on #409
It can't be version 2.3 or 2.4 because the interface has changed and is no longer backwards compatible. The only legal version increment is to 3.0. But we don't want this to be the final 3.0 release, so we release it as a release candidate, 3.0.0-rc.1

http://semver.org/

[2016-11-02 21:00] ocefpaf commented on #409
@lukecampbell you mean you cannot backport #331 and #334? are those only 3.0 compatible?

[2016-11-02 21:22] ocefpaf commented on #409
Seems that backporting is easy as that change is compatible with the next and the previous version. All that is to pull those commits into a `2.3.1`. Here is a patch release with that fix BTW:

https://github.com/conda-forge/compliance-checker-feedstock/pull/7

[2016-11-03 06:46] mhidas commented on #409
@ocefpaf Yes, that's what I had in mind. If it helps, I've put together the required commits on this branch: https://github.com/ioos/compliance-checker/tree/bugfix_release_2_3_1

[2016-11-03 07:08] mhidas commented on #409
But if a release with just those fixes (without all the other changes) is not possible now, we may as well wait for 3.0. I see that [milestone](https://github.com/ioos/compliance-checker/milestone/8) due date is not too far away. Is it looking likely to be out by around then?

[2016-11-03 11:47] ocefpaf commented on #409
Still, since 3.0 contains breaking changes, a bugfix release is important.

[2016-11-03 12:32] lukecampbell commented on #409
Guys I'll look into it later today.

[2016-11-03 15:18] benjwadams commented on #409
Used @mhidas's commit as the basis for 2.3.1.

https://github.com/ioos/compliance-checker/releases/tag/2.3.1

Also uploaded to PyPi.

@ocefpaf, could you update the contents of conda-forge?

[2016-11-03 16:22] ocefpaf commented on #409
Just updated the same PR: https://github.com/conda-forge/compliance-checker-feedstock/pull/7

[2016-11-04 09:22] ocefpaf commented on #409
The binaries are in the channel. Closing this. Thanks for the release @benjwadams!

[2016-11-04 09:22] #409 closed

[2016-11-04 15:42] #349 closed

[2016-11-04 15:55] lukecampbell opened #418 "Refactor Chapter 7"

[2016-11-04 15:55] #343 closed

[2016-11-04 16:02] benjwadams commented on #415
@lukecampbell, closing due to your comment.  If we need to reopen this for some other reason, we can.

[2016-11-04 16:02] #415 closed

[2016-11-04 16:03] benjwadams commented on #393
I assume you mean `cfutil.get_unitless_standard_names()`?

[2016-11-04 16:06] benjwadams commented on #325
This wasn't fixed as part of #349 as that dealt with implementation of the `bounds` attribute.   I will make a separate branch to fix this issue.

[2016-11-04 16:16] benjwadams commented on #325
@mhidas, I tried reproducing this by taking the `tests/data/grid-boundaries` CDL and removing units from the bounds variables, but was unable to reproduce the behavior you mentioned against the current master branch.  If you have another dataset I could test against it'd be helpful as well.

[2016-11-04 16:38] benjwadams commented on #306
Fixed by #416, closing.

[2016-11-04 16:38] #306 closed

[2016-11-04 16:45] lukecampbell commented on #393
yes! We need to refactor it to take advantage of the Standard Name Table we download. Right now, if the standard name table updates, we won't accurately find unitless standard_names because we're using a static JSON document.

Also, there's some standard names that have null units like `region`.

[2016-11-04 17:15] benjwadams commented on #394
From the bullet points here, I think you mean 8.2?

[2016-11-07 05:36] mhidas commented on #409
Thank you! That's helpful.

[2016-11-07 17:48] benjwadams commented on #314
Could you combine this and #315?  They seem pretty related and fixing one will probably end up fixing the other.

[2016-11-07 18:19] benjwadams commented on #287
Unable to reproduce with #422 applied.  (mask handling refactor temporarily has broken master so this is necessary)

Snippet:

[code]

[2016-11-07 18:23] benjwadams commented on #397
Related: #237

[2016-11-07 18:26] benjwadams commented on #335
What's the desired replacement at the moment?

[2016-11-07 20:37] benjwadams commented on #393
OK to close?

[2016-11-07 21:05] #393 closed

[2016-11-07 21:06] lukecampbell commented on #397
So far:
- HYCOM (Regular Grid)
- OCOS (ROMS)
- l01-met (Time Series)
- USGS DEM (Regular Grid)

[2016-11-07 21:30] lukecampbell commented on #397
- Trajectory Profile

[2016-11-08 00:42] mhidas commented on #325
@benjwadams I'm a bit confused. I just re-ran the CF checker on the file in question and now it passes all checks! Even when I go back to version 2.2.0, which is what we were using at the time.

However, I did manage to construct a simple example that shows the original issue:
[code]
Up to the bugfix version 2.3.1, this gives:
[code]

But these do go away when I do the check using the current mast

[2016-11-08 00:42] #325 closed

[2016-11-08 15:41] benjwadams commented on #346
Related: #335

[2016-11-08 15:44] lukecampbell commented on #397
- Profile

[2016-11-08 15:51] benjwadams commented on #394
OK to close?

[2016-11-08 15:54] benjwadams commented on #281
Unable to reproduce against current master.  I think this was fixed by one of the PRs but can't remember which one, but I'm not going to go back and run `git bisect` to find out.

[2016-11-08 16:43] #394 closed

[2016-11-08 16:50] lukecampbell commented on #285
This was done, but we still have a little bit more on Chapter 9.

I've read CF 1.6 start to finish countless times at this point. Chapter 4 and Chapter 5 pertain a lot to grids and supporting grid types. But grids are not listed anywhere in Chapter 9, which is all about discrete geometry. Grids are allowed, but they can't have the attribute `featureType` because only valid entries from §9.1 are al

[2016-11-08 16:50] #285 closed

[2016-11-08 16:59] benjwadams commented on #281
Is this now fixed from #428?

[2016-11-08 18:02] #397 closed

[2016-11-08 19:51] #281 closed

[2016-11-08 20:20] #381 closed

[2016-11-08 20:20] #346 closed

[2016-11-08 20:20] #335 closed

[2016-11-08 21:20] benjwadams commented on #287
#429 quite possibly fixed this.

[2016-11-09 12:32] #287 closed

[2016-11-09 12:33] lukecampbell commented on #287
That line no longer appears, and the old test was removed.

[2016-11-09 19:44] #237 closed

[2016-11-10 18:54] benjwadams commented on #418
Reopening for `check_cell_methods`.

[2016-11-10 20:40] #336 closed

[2016-11-10 20:40] #418 closed

[2016-11-10 21:26] benjwadams commented on #286
Appears to be fixed in latest master.

[2016-11-15 16:17] lukecampbell opened #444 "string as a valid data type"
[04249000_20161115.nc.zip](https://github.com/ioos/compliance-checker/files/592525/04249000_20161115.nc.zip)

§2.2 Valid netCDF data types The variable station_name failed because the datatype is : string type.

I think this is from newer versions of the netCDF library. In older formats strings were shown as char arrays of some max length. I think in the newer versions it has a new type string, wh

[2016-11-16 04:37] castelao commented on #306
@benjwadams and @lukecampbell Sorry for haven't responded that on time!

[2016-11-16 12:39] lukecampbell opened #445 "Performance for datasets with large number of variables"
[test_201610.nc.zip](https://github.com/ioos/compliance-checker/files/594636/test_201610.nc.zip)

Datasets with large number of variables take considerably longer to check. We need to look at ways to optimize the performance, I believe the easiest solution is to create a timed cache for the feature reasoning functions in cfutil.

[2016-11-16 12:54] lukecampbell opened #446 "Unidentifiable feature type for timeseries"
[test_201610.nc.zip](https://github.com/ioos/compliance-checker/files/594672/test_201610.nc.zip)

`air_temperature` is an unidentifiable feature type, but it should be detectable and labeled as time-series.

[2016-11-18 18:17] kwilcox commented on #33
@lukecampbell Is it planned for a future milestone? I don't see it in 2.1 or 3.0.

[2016-11-18 18:48] lukecampbell commented on #33
Not that I know of.

[2016-11-18 20:20] dpsnowden commented on #33
I think it should be on the roadmap but I'm not sure when it can actually get assigned to a milestone or the relative priority.  SGRID too.  It looks like it was on the 2.1 release plan but was removed.  Not sure of the relative priority of this vice other new features.

What was the discussion on whether it was better implemented as part of a pyugrid/pysgrid vice CC plugin?

[2016-11-18 20:40] dpsnowden opened #447 "Better documentation web site"
We need a better overview description of the compliance checker that is appropriate for more general audiences.  It should describe:

- Who is the primary audience and why do they need this?
- How do they get it?
- How should they use it?  (links to demos)
- What are plugins and why should I care?  How should I think about versions of the master cc relative to versions of plugins.  It's confusing

[2016-11-18 20:57] lukecampbell commented on #33
It's certainly still a goal of the compliance-checker and is very likely the next milestone we tackle, but I can't comment on a name for this milestone or begin to make assumptions about when it can be tackled.

If I recall correctly, we came to a fork at the conclusion of 2.1, whether we should pursue ugrid/sgrid checkers or if we should tackle several of the core issues in compliance-checker, na

[2016-11-19 06:50] kknee commented on #33
UGRID actually one of the last outstanding tasks on our current roadmap, but it is not currently part of a release plan.  It kept getting bumped for other priorities, but as @lukecampbell we're in a good place now to move forward if a UGRID plugin is helpful to the community.

@kwilcox looks like you started a SGRID plug-in last winter.  What's the status of that?

[2016-11-19 13:23] daf commented on #447
The metamap file for the "IOOS Accept Concept" checker vs DescribeSensor/GetCapabilities can still be extracted [1] [2] and used with [Wicken](http://github.com/ioos/Wicken) - that was Wicken's primary goal.  Load them here: [ioos.py@be0a7fba25b5c1e32:12](https://github.com/ioos/compliance-checker/blob/be0a7fba25b5c1e325ab0b3a085d1d0630e2587a/compliance_checker/ioos.py#L12-L17)

[1] https://github

[2016-11-21 20:55] jbosch-noaa commented on #447
Once that documentation has been updated. @ocefpaf and I can put together a notebook for our data usage blog : https://github.com/ioos/notebooks_demos/issues/93

[2016-11-30 20:04] mbiddle-bcodmo opened #448 "Feedback from user on v 3.0.0 compliance checker"
The following comments are in regards to the latest v 3.0.0 compliance checkers when checking the following file: http://data.nodc.noaa.gov/thredds/catalog/testdata/mbiddle/catalog.html?dataset=testdata/mbiddle/PR101.ocean.001m.merged.nc

1) the CF1.6 test is failing to recognize variable names listed in the ancillary_variables attribute (in this case for QC status_flag variables).
example:      c

[2016-12-01 20:31] lukecampbell opened #450 "Happy and Sad Faces"
From Rob,

We need to describe compliance checker successes with emoji icons

- 😄
- 😢
- 😕

[2016-12-02 21:49] kwilcox opened #451 "Test errors using conda"
When trying to run the tests using a `conda` env there are 4 error that pass when using `pip`:
https://gist.github.com/kwilcox/1a42e95c178af529b9f468fac2050ee5

[2016-12-02 21:58] kwilcox opened #452 "check_dimension_order is raising an exception on string variables"
[code]

[2016-12-05 15:19] #452 closed

[2016-12-05 15:21] lukecampbell commented on #451
Is this linux python 3.5?

[2016-12-05 15:23] kwilcox commented on #451
Yup!

[2016-12-05 15:31] lukecampbell commented on #451
@ocefpaf have you seen any issues with the builds for linux 3.5 ? I remember when we were updating the release there were a few broken builds.

[2016-12-05 15:34] ocefpaf commented on #451
Issue with the build? No. Let me check @kwilcox gist to see if that is a packaging issue. Hold on...

[2016-12-05 20:30] jbosch-noaa commented on #448
@lukecampbell  - Any progress on these issues?

[2016-12-06 17:05] lukecampbell commented on #448
My goal is to continue to accept issues and any that can be addressed in the very short term can be addressed but more complicated issues we'll need to collect and address during milestone development cycles. These issues are likely not something we can correct in the immediate future.

[2016-12-06 17:07] lukecampbell commented on #448
I'll need to break this issue into 4 separate issues, and the second one I'll need to put in the NCEI plugin repo.

Issues 3 and 4 are for a checker that we haven't supported fully which is why its version is `0.1` so it's very likely it's not correct. I think with the IOOS Check, when we get to implementing it fully, is to support the IOOS Metadata and crosswalk checks, right now it's implementat

[2016-12-14 21:51] jbosch-noaa commented on #447
I am drafting new documentation on both the compliance checker and the compliance checker web tool.  My plan is to direct users to this github repo for the python/command line usage instructions and elaborate on the web tool. Looking at the Wiki, these installation instructions are very out of date and don't really match the README file:

https://github.com/ioos/compliance-checker/wiki/Installatio

[2016-12-20 06:34] lbesnard opened #454 "ComplianceChecker.run_checker - mismatch between new code version and doc ?"
The part of the doc referring to __Usage (from Python code)__ looks like it should be updated from

[code]

To
[code]

as the current version doesn't mention the verbose argument

[2016-12-22 20:38] jpotemra opened #455 "checker appears to adjust timezone incorrectly"
I'm running cchecker.py version 3.0.0 on a local netcdf file.  The times in the metadata are all of the form:
	time:units = "minutes since 2008-01-01T00:00:00-10:00" ;
		:time_coverage_start = "2016-08-28T01:15:00-10:00" ;
		:time_coverage_end = "2016-08-28T23:00:00-10:00" ;
The actual time values in the file are:
time = 4553355, 4553370, 4553385, 4553400, 4553415, 4553430, 4553445,
    4553460, 4

[2016-12-29 20:24] lukecampbell commented on #455
Could you include a link to the netCDF file please?

[2016-12-29 21:16] jpotemra commented on #455
Hi Luke,

We don't have these files on the server yet, but I've attached an
example.  The python checker cchecker.py version 3.0.0 gives the
following (see bottom part):

Running Compliance Checker on the dataset from: ../wqb04_2016_12_15.nc

--------------------------------------------------------------------------------
                      The dataset scored 68 out of 70 points

[2017-01-01 16:13] daf commented on #455
@jpotemra the attachment didn't come through in github's issue page.

@lukecampbell there's a link to a sample file in Jim's ioos_tech post, I think https://groups.google.com/d/msg/ioos_tech/-FkfB_OAWRI/HgJV5GuxCQAJ is a link to his message but who knows how to actually operate google groups...

[2017-01-10 14:20] cehbrecht opened #456 "accessing OpenDAP on ESGF data archives"
ESGF data archives provide OpenDAP to access climate data. But to access the data you need a certificate and an appropriate `.dodsrc` file. The python netcdf4 library is already able to handle this without modifications. See my notebook example:

https://github.com/cehbrecht/demo-notebooks/blob/master/esgf-opendap.ipynb

When i run the compliance checker on an ESGF OpenDAP url i get the following

[2017-01-11 01:34] jpotemra opened #457 "cmd_data_type values"
Hi all,

I was wondering if you can expand the acceptable list of cmd_data_type to include "Timeseries"?  The checker seems to accept the following: ([u'Grid', u'Image', u'Point', u'Radial', u'Station', u'Swath', u'Trajectory']).  However, ERDDAP throws an error with cmd_data_type = Station.  Instead it wants "TimeSeries".  The valid cmd_data_type values for ERDDAP are: Grid, MovingGrid, Other, Po

[2017-01-11 14:32] lukecampbell commented on #457
Unfortunately the only allowed values are those that we check:
https://github.com/Unidata/thredds/issues/72

As per the authors and the THREDDS source code. I wish it was a little bit more clear in documentation for ACDD and CF where these are defined but the values don't include the values you mention.

[2017-01-11 15:12] lukecampbell commented on #457
I would like to reach out to @kwilcox @daf @brianmckenna @mbiddle-nodc for their input on this. Should we change the ACDD and CF checkers that check the attribute `cdm_data_type` to include additional enumerated values that are leveraged by other community driven software like ERDDAP?

[2017-01-11 22:20] lukecampbell commented on #457
I'm at the Winter 2017 ESIP Conference now, I'll ask about this at the netCDF session.

[2017-01-12 16:44] lukecampbell commented on #457
I think I'll remove this from the ACDD checks.

[2017-01-12 16:58] #456 closed

[2017-01-17 14:15] lukecampbell opened #460 "Don't crash when reading files with netCDF groups"
Although netCDF files that contain groups aren't CF-compliant. The checker shouldn't crash hard.

https://data.nodc.noaa.gov/thredds/dodsC/ndbc/cmanwx/2016/11/NDBC_WPOW1_201611_D4_v00.nc

[code]

[2017-01-17 21:17] lukecampbell opened #461 "Case sensitivity for attribute values"
Verify that the standards are case insensitive for explicit attribute values, for example `featureType`.

If they are case sensitive, note it, if not patch the code to be insensitive in the checks.

[2017-01-18 14:02] lukecampbell opened #462 "Loosen ISO date checking"
The compliance checker checks ISO-8601 dates for `date_created` etc. The standard only asks for the date part, the time part is optional, so we need to modify the checks in ACDD and NCEI, and potentially CF so that the time part is optional.

[2017-01-18 14:04] lukecampbell opened #463 "Port feature type checking to ACDD"
Currently ACDD will strictly check even metadata variables for contents for ACDD. We want to make sure that only geophysical variables are checked for attributes under ACDD.

Example:

http://www.pacioos.hawaii.edu/archive/WQB04agg/WQB04agg.2010.nc

[2017-01-18 19:12] pacioos opened #464 "Ancillary variables check does not find existing variables"
When running "-t cf:latest", it reports an error for all variables listed in my "ancillary_variables" variable attributes. It asserts that the ancillary variables do not exist in the dataset when in fact they do.

Example:
http://www.pacioos.hawaii.edu/archive/WQB04agg/WQB04agg.2010.nc

Snippet from cchecker.py output:

Â§3.4 Ancillary Variables defined by chl:3:     1/18 : instrument1 is not a

[2017-01-18 19:36] pacioos opened #465 "ACDD checks for "acknowledgement", IOOS checks for "acknowledgment""
When running "cchecker.py -t acdd:latest", it looks for either "acknowledgment" (US spelling, from deprecated UDDC convention) or "acknowledgement" (UK spelling, as required by superceding ACDD convention). However, when running "cchecker.py -t ioos:latest", the test only looks for the deprecated US spelling. It should either look for both spellings like the ACDD test or switch to the UK spelling

[2017-01-18 19:40] pacioos opened #466 "broken link to IOOS on GitHub homepage"
Under "Available Test Suites", the GitHub homepage for this compliance-checker lists "IOOS" with the following broken link:

http://www.ioos.noaa.gov/data/contribute_data.html

In looking at the IOOS data page, I see that the new URL is the following:

http://ioos.noaa.gov/data/contribute-data/

However, this link does not sufficiently steer the user to what conventions are being tested by the com

[2017-01-18 20:42] lukecampbell commented on #466
@jbosch-noaa could we add some descriptions and links to the metadata standards and some reference material for people?  I recently dug up a bunch of links for the IOOS Vocabulary standards:

- https://ioos.github.io/#netcdf-and-or-opendap-guidelines:6083a88ee3411b0d17ce02d738f69d47
- https://ioos.github.io/ioos-netcdf/ioos-netcdf-metadata-description-v1_1/
- https://ioos.github.io/conventions-for

[2017-01-18 20:42] lukecampbell commented on #466
I can update the URL on the web checker.

[2017-01-18 20:47] lukecampbell commented on #457
Just an update, I need to do a release of compliance checker including this patch sometime this or next week.

[2017-01-18 20:48] lukecampbell commented on #451
@ocefpaf It's been a while since I followed up on this, are there any updates?

[2017-01-18 20:52] ocefpaf commented on #451
We do run the test suite in [Travis-CI with conda and Python 3.6](https://github.com/ioos/compliance-checker/blob/master/.travis.yml#L8) and everything is green. @kwilcox are you still seeing those errors?

[2017-01-18 20:55] jbosch-noaa commented on #466
@pacioos  - Thanks for bringing this to our attention.  The links Luke mentioned above should help but I can see that they also could use some updating.  @abirger and I will work on getting those updates sorted out.

@lukecampbell - I recently shared with you a google doc on compliance checker documentation updates.

[2017-01-18 21:15] lukecampbell opened #467 "Roll up NCEI checks into just two checks, 1.1 and 2.0"
With the feature detection code from the 3.0 release we are able to remove all the individual feature type checks and just have two checks and dynamically figure out the feature type to use.

@mbiddle-nodc heads up

[2017-01-18 21:31] kwilcox commented on #451
I still get errors. The tests are using `pip` to install the dependencies and I'm obviously using `conda`. That is most likely the difference.

[2017-01-18 21:38] ocefpaf commented on #451
I did not see the pip install below :-(
@lukecampbell I would start be using only conda in Travis-CI to debug this.

[2017-01-18 21:40] lukecampbell commented on #451
Ok, it's probably going to be a while before I can get to this, but I'll try to debug it when I can.

[2017-01-25 16:26] lukecampbell opened #468 "Create check to verify valid_min valid_max data type"
For some datasets the `valid_min` and `valid_max` variable attribute has a mismatched data type from the parent variable.

[2017-01-31 19:28] pacioos opened #469 "CF test throws error for "orthogonal" DSG TimeSeries"
When running the CF test of cchecker.py on an "orthogonal" CF DSG TimeSeries dataset, the checker throws the following error:

In the "orthogonal" representation documented in both the [CF spec](http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#_orthogonal_multidimensional_array_representation_of_time_series) and [NODC/NCEI "gold standard"](https://www.nodc.noaa.gov/data/formats/n

[2017-01-31 19:52] lukecampbell commented on #469
Do you have an example?

[2017-01-31 19:54] lukecampbell commented on #469
I just ran the compliance checker web on the time series gold standard and I don't see this error.

[GoldStandard.pdf](https://github.com/ioos/compliance-checker/files/743022/GoldStandard.pdf)

Is this the right one?

[2017-01-31 20:02] pacioos commented on #469
Yes, that is the right example, @lukecampbell. Sorry, I overlooked the fact that "time" is *not* multidimensional in this case, though the physical variables are (e.g., "temp", "sal", etc.). While the "time" variable is a coordinate variable with dimension "time" as I described above, it does not also have the "timeseries" dimension in the "orthogonal" format. The fact that we had "time(timeseries

[2017-01-31 20:21] #469 closed

[2017-01-31 20:22] lukecampbell commented on #469
no problem, this same thing gave me much grief too. I'm glad that it's not a bug though.

[2017-02-01 21:17] lukecampbell commented on #457
Just a continuation, I didn't forget about this, but I wanted to batch all these changes together with some of the recent fixes and the Glider DAC changes.

[2017-02-01 21:18] #466 closed

[2017-02-01 21:22] #454 closed

[2017-02-02 17:41] #465 closed

[2017-02-02 19:59] #462 closed

[2017-02-06 14:05] lukecampbell opened #476 "Error getting time_coverage attributes as non-ISO"
The attached dataset gets an error from ACDD 1.3
[b5km_baa-max-7d_20160101.nc.zip](https://github.com/ioos/compliance-checker/files/754780/b5km_baa-max-7d_20160101.nc.zip)

[code]

[2017-02-27 15:32] lukecampbell opened #477 "Improve clarity and understanding that the priority values correspond to high, med, low"

[2017-03-07 20:29] bobfleming commented on #448
Note: #1 corresponds to issue #464 submitted later, https://github.com/ioos/compliance-checker/issues/464  can disregard.

[2017-03-16 14:02] lukecampbell opened #478 "Download/Permalink report for compliance checker web"
It would be nice as a user to be able to download and/or generate a permanent link to the results.

[2017-03-21 18:18] jbosch-noaa commented on #478
I think that is a great idea, @lukecampbell

[2017-04-10 20:27] ocefpaf commented on #451
See #479

[2017-04-11 00:54] #451 closed

[2017-04-13 02:22] mhidas opened #484 "CF featureType attribute check should be case-insensitive"
According to CF ([9.4](http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#featureType)) the value of the `featureType` global attribute is case-insensitive. This was allowed for in version 2.3, but in 3.0 it is not. So e.g. `featureType = "timeseries"` is no longer allowed, but it should be.

[2017-04-13 12:32] lukecampbell commented on #484
This is a duplicate of #461

[2017-04-13 12:33] lukecampbell commented on #461
@mhidas reports

[2017-04-13 12:33] #484 closed

[2017-04-26 14:48] lukecampbell opened #490 "3.0.3 Release on Conda Forge"
Hey Filipe, could you do a release on conda-forge for compliance-checker? I think you made some changes to the build meta so I don't know that I know how to bundle that into an appropriate conda release.

[2017-04-26 14:48] ocefpaf commented on #490
See https://github.com/conda-forge/compliance-checker-feedstock/pull/16

[2017-04-26 14:49] lukecampbell commented on #490
... I have no words

[2017-04-26 14:50] ocefpaf commented on #490
(Don't tell anyone but I have a few bots working for me :wink:)

[2017-04-27 18:33] ocefpaf commented on #490
I guess it is safe to close this one: https://anaconda.org/conda-forge/compliance-checker/files

[2017-04-27 18:33] #490 closed

[2017-05-02 02:04] mhidas opened #491 "CF check on number of cf_role variables has been removed in v3"
CF ([section 9.5](http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#coordinates-metadata), second paragraph) says:

Until v2.3, the CF checker used to check this. In v3 this got refactored. It still checks the values of the `cf_role` attribute, but doesn't check the number of variables that have it.

[2017-05-08 19:18] ocefpaf opened #493 "Tight requirements are checked at load time and break compliance-checker"
The two tight constraints in `compliance-checker`,  `isodate==0.5.4` and `pygeoif==0.6`, are checked at load time and prevent `compliance-checker` from running. Are those really needed? Both `conda` and `pip` will constantly break `compliance-checker` when updating envs because of that.

@daf and @lukecampbell I propose to use at least a `>=` constraint. We can improve the test coverage, if that i

[2017-05-08 19:21] daf commented on #493
I'm all for relaxing requirements, but why would updating envs break this?  The requirements state the dep, the package manager should respect that.  Looking at the conda recipe, it seems those requirement versions aren't replicated there, so I can see this breaking from a conda point of view.

[2017-05-08 19:23] ocefpaf commented on #493
Even if we specify, which I tried, updating always break the pinning b/c conda does not know about each individual pinning. That works only in a new installation. I believe that `pip` does the same but I am not sure.

[2017-05-08 19:26] daf commented on #493
I think pip handles this, but I'm fine with relaxing them.  I'm not sure why they got locked, though, so maybe we need more eyeballs on this.

[2017-05-08 19:28] ocefpaf commented on #493
No problem. I can use the pinning for now. I guess that only a `conda update --all` will break things.

[2017-05-12 19:41] #493 closed

[2017-05-16 15:25] piotrflorek opened #495 "CFBaseCheck::check_cell_measures() failing"
Hi,

There are 2 small bugs in the CF suite (`check_cell_measure()` method), which eluded detection because corresponding [unit test](https://github.com/ioos/compliance-checker/blob/master/compliance_checker/tests/test_cf.py#L352) doesn't really test the right thing.

1. netcdf4's [get_variables_by_attributes](https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L2579

[2017-05-16 16:17] lukecampbell commented on #495
Thanks for the catch, I have a PR in that should fix this and adds a unit test to check it.

[2017-05-17 14:15] mwengren opened #497 "JSON output issue in 3.0.3 with ERDDAP URLs"
I've been testing the new Compliance Checker release with ERDDAP (on Windows), and I see some different results in the output when using ERDDAP URLs with the JSON output format than OPeNDAP.

I made a test script that illustrates the issue: https://gist.github.com/mwengren/68f61b0e70868a57336b81f863d7dbc9

Or, I think you can see the same issue (in my environment at least) by running these command

[2017-05-17 15:37] #497 closed

[2017-05-17 15:49] daf commented on #495
I noticed a code issue when running the test script from #497 about variables used before they are assigned.  I've got the code fix, but the new tests fail, so I'm investigating/fixing those.  This is not quite finished.

[2017-05-17 16:50] #495 closed

[2017-05-18 13:16] mwengren opened #500 "Can't load_remote_dataset in suite.py for OPeNDAP URL"
I recently updated my Compliance Checker to 3.0.3 and am unable to run tests against OPeNDAP URLs from PacIOOS.

Here's a few examples:
[code]
Output is similar:
[code]

Apologies is this is user error or something I'm missing about running this on Windows (Python 2.7), but it does not seem able to read these OPeNDAP URLs.  It is successful in the same environment with several NANOOS OPeNDAP servi

[2017-05-18 13:29] lukecampbell commented on #500
I was able to execute all the commands successfully on MacOS, maybe this is isolated to windows? Does anyone else have a windows machine they can confirm on?

[2017-05-18 20:57] daf commented on #500
I am able to reproduce on my Windows 10 laptop.

[2017-05-18 21:02] daf commented on #500
At this stage, it's just a passthrough to netcdf's `Dataset()` initializer - it haves the same way in ipython:

[code]

So it seems like an upstream issue.

[code]

Should we file with unidata?

[2017-05-18 21:05] ocefpaf commented on #500
Can you post the results of  `conda list`. I'm afraid that this is a
libnetcdf issue, unrelated to compliance-checker.

Try updating libnetcdf, which should have a patch that fixes this, or force
install libnetcdf=4.4.0 (last working version).

On May 18, 2017 1:57 PM, "Dave Foster" <notifications@github.com> wrote:

[2017-05-18 21:08] ocefpaf commented on #500
I  see you have build 4 of libnetcdf, that is the patched one. If version
4.4.0 works I probably need to double check that patch or upstream's
solution to the problem.

On May 18, 2017 2:02 PM, "Dave Foster" <notifications@github.com> wrote:

[2017-05-18 21:13] daf commented on #500
@ocefpaf downgrading to `libnetcdf==4.4.0` works!

[2017-05-18 21:20] ocefpaf commented on #500
I was afraid of that. Either the patch I applied is not OK or the original
solution unidata implemented upstream did not cover all cases. I'll figure
this out before the next version of libnetcdf is released.

On May 18, 2017 2:13 PM, "Dave Foster" <notifications@github.com> wrote:

[2017-05-19 12:42] mwengren commented on #500
Yep, ```libnetcdf=4.4.0``` did the trick!  Good for the moment for me, thanks.

[2017-05-21 03:22] ocefpaf commented on #500
I believe we can close this because it is not a `compliance-checker` issue.
PR https://github.com/Unidata/netcdf-c/pull/366 should have fixed this, but I did applied that as a patch in the latest `conda-forge` package. I will investigate if the patch is bad or if the issue is not really resolved upstream.

[2017-05-21 03:22] #500 closed

[2017-05-22 14:23] mwengren commented on #500
@ocefpaf @daf So, for now if we stick with ```libnetcdf=4.4.0``` as a workaround this is fixed, and if there is an issue with the conda-forge package you will resolve @ocefpaf and then at that point we can do a libnetcdf update to the latest release again?  And if not, we'll wait for the upstream issue fix to occur?

I'm also running into problems related to #497, so I'm wondering if a bug fix rel

[2017-05-22 16:05] ocefpaf commented on #500
I don't think the issue is with the package in conda-forge. I got  my hands on a Windows machine today and I test `libnetcdf 4.4.1.1 vc14_4  [vc14]  conda-forge`, on Python 3.6, and everything worked.

I can confirm that the `vc9_4` version is not working though. Not sure why... I can see that the patch was applied and the test passed at build time, so I am clueless at this time. Unfortunately ups

[2017-05-22 17:26] ocefpaf commented on #500
FYI I have a PR to add continuous integration to the unidata netcdf-c repo in https://github.com/Unidata/netcdf-c/pull/347

I added @mwengren two URLs to the test there, but you can see that the latest source does not even build on Python 2.7 (vc9) and 3.4 (vc10). Here are the results: https://ci.appveyor.com/project/ocefpaf/netcdf-c/build/1.0.23

[2017-05-23 13:12] mwengren commented on #500
@ocefpaf @daf @jbosch-noaa who can/should handle a Compliance Checker release at this point?  Is everything resolved from the PRs/commits since the [last release](https://github.com/ioos/compliance-checker/compare/3.0.3...master)?

[2017-05-23 14:03] daf commented on #500
I'm happy to do it, will get to it in an hour or so.

[2017-05-23 14:10] ocefpaf commented on #500
I'll in airports most of the day but I can update the conda package as soon
as the release is out.

On May 23, 2017 7:04 AM, "Dave Foster" <notifications@github.com> wrote:

[2017-05-23 14:55] daf commented on #500
@mwengren released 3.0.4 to pypi.  @ocefpaf got started on a bump for conda-forge, conda-forge/compliance-checker-feedstock#18

[2017-07-19 12:20] martinjuckes opened #501 "CF module: misleading and erroneous results"
I've been looking at the IOOS compliance checker cf module, and comparing against the cfchecker (available from pypi) which is a reference implementation. The comparison, using files with known errors, turned up one problem with the cfchecker (which I've raised on their discussion list) and a number of issues with the IOOS implementation listed below.

The original files I used are from the WCRP C

[2017-07-19 17:08] jbosch-noaa commented on #501
@Bobfrat  - I know a few of these issues you may be aware of.  Has it been put on a plan to update the compliance checker to fix these issues?

[2017-07-19 17:13] daf commented on #501
Hi @martinjuckes, thanks for your report.  Some early comments:

The compliance checker was authored when 1.6 was the current offering and we didn't intend previous versions to be checked at the time.  Support can exist for them, they just haven't been built yet.

The compliance checker has a mechanism for updating the standard names table at run-time and caching it locally.  See the [command line

[2017-07-19 17:23] jbosch-noaa commented on #501
Thanks for your quick response, @daf .  Please let me know once you have found a solution to these errors.

[2017-07-20 09:11] martinjuckes commented on #501
@daf Thanks. For the conventions flag, could you change the message issued to reflect the fact that it is an unsupported version, rather than giving the misleading message labelling it as an error in the file? I appreciate that there are limits to what can be usefully done with backward compatibility, but the information given out could be improved.

[2017-07-22 03:11] lukecampbell commented on #501
§4.1 of CF-1.6 States
The recommended unit of latitude is degrees_north. Also acceptable are degree_north, degree_N, degrees_N, degreeN, and degreesN.

Regardless of the standard_name table defining `degree` as the base unit, the CF-Checker regards any variable that it identifies as the latitude coordinate variable as falling under the specifications for §4.1.

If the variable is part of a rotated

[2017-07-22 03:19] lukecampbell commented on #501
The IOOS Compliance Checker's semantics for priorities are not a direct mapping with concepts of error, warning or info. We simply mean, priority 3 being the highest priority, and 1 being the lowest. There is no pass/fail with the IOOS Checker because standards are not defined clearly enough where they can be programmed in a logical and reasonable way. Because of this, we decided to use ordinals f

[2017-07-22 03:20] lukecampbell commented on #501
That's a bug and we'll need to create a separate issue to track this.

[2017-07-22 03:21] lukecampbell commented on #501
§ 1.3 of CF-1.6 states

Therefore the attributes are recommended and part of the checker as designed.

[2017-07-22 03:35] lukecampbell commented on #501
Thank you for bringing these issues to our attention. It's really helpful to see example files like you provided and to get good feedback like this.

[2017-07-22 06:55] martinjuckes commented on #501
@lukecampbell On (6): the point is that "grid_latitude" is a different variable to "latitude", it refers to a grid with arbitrary orientation, so using degree_north is an error here. The standard name table is part of the standard, and the information it is providing is correct and consistent with the section of the standard you quote once you recognise the crucial difference between latitude and

[2017-07-22 14:02] lukecampbell commented on #501
You are correct that's a bug.

[2017-07-22 14:07] lukecampbell commented on #501
When I was working on version 3, I did engage with CF indirectly through the NOAA netCDF group. I even made corrections to the standard via pull-requests.

[2017-07-22 14:39] lukecampbell commented on #501
I'll try to take a look at these at some point. In the mean time, I'd like to break them up into individual issues and continue conversations about them separately.

[2017-07-24 12:14] Bobfrat opened #505 "The variable “aps” is referred to in a formula_terms attribute but not defined"
Stems from this issue: https://github.com/ioos/compliance-checker/issues/501

https://drive.google.com/open?id=0B6AWgiTrQ0xFQ1J0bFVDNlpyV1k
(2) The variable “aps” is referred to in a formula_terms attribute but not defined: IOOS misses this;

[2017-07-24 12:20] Bobfrat opened #506 "CF checker treats omission of both standard and long name as an error"
Originally part of https://github.com/ioos/compliance-checker/issues/501

(4) IOOS records the omission of both a standard name and long name for a variable as an error, the CF standard states that use of at least one of these as “highly recommended” (the IOOS error message give the wrong section for this: 3.3 instead of 3.2)

[2017-07-24 12:24] Bobfrat opened #507 "CF checker cell_methods error reported as warning"
Originally part of #501

https://drive.google.com/open?id=0B6AWgiTrQ0xFX2hQMW9VTUtCQ1k
(5) Cf-checker lists one error in the cell_methods string, IOOS has this as a priority 2 message -- which is usually associated with a warning.

[2017-07-24 12:27] Bobfrat opened #508 "CF checker raises error on rlat units"
Originally part of #501

(6) The IOOS checker has a message that “latitude variable 'rlat' should define valid units for latitude” which is incorrect: the ‘rlat’ variable has standard name grid_latitude, and the definition of grid_latitude specifies that “degree”, as used in the above file, is correct.

"The point is that "grid_latitude" is a different variable to "latitude", it refers to a grid w

[2017-07-24 12:29] Bobfrat opened #509 "CF checker not catching units error in cell_methods comment"
Originally part of #501

https://drive.google.com/open?id=0B6AWgiTrQ0xFbXhXTlgzS0MwU3M
(7) There is an error in the units declared in the cell_methods comment string -- only picked up by the cf-checker.

[2017-07-24 12:31] Bobfrat opened #510 "CF Checker records omission of “reference” global attribute as an error"
Originally part of #501

(8) IOOS checker records omission of “reference” global attribute as an error: use of this attribute is neither required nor recommended.

[2017-07-24 12:35] Bobfrat opened #511 "CF checker needs better error message for unsupported CF versions"
Originally part of #501

https://drive.google.com/open?id=0B6AWgiTrQ0xFMHBEUVNXYzc3YUE
(1) The IOOS checker records use of Conventions=CF-1.4 as an error: this was the current version of the conventions at the time the file was written, so should not be considered as an error. Rather, it is an indication that the compliance checker should check the metadata against version 1.4 of the standard.

[2017-07-24 12:45] lukecampbell commented on #507
My recommendation is that this is closed as no-action. I'll leave that up to the compliance-checker team but we've debated the merits of changing the priority system several times and we've always returned to the same answer that it's better than the alternatives.

In order to remain flexible for multiple standards and support the complexities of parsing datasets with little or no metadata, the pr

[2017-07-24 12:45] lukecampbell commented on #510
Not a bug.

CF 1.6 Section 1.3

[2017-07-24 12:47] lukecampbell commented on #506
The only issue I here is the incorrect reference.

If the standard labels "at least one of them as highly recommended", the checker looks for at least one, if it can't find at least one it creates a message indicating as such. This check is priority 3 because of the language "highly recommended".

[2017-07-24 13:21] Bobfrat opened #512 "Need more automated way to get updates to the web version"
A recommendation from @daf.
The web version shouldn't lag behind this repo. We could implement continuous integration to deploy new web version on pushes to master.

[2017-07-24 13:26] lukecampbell commented on #512
If you want to take a shot at using Jenkins for it, it would be good. Just make sure the build versions use snapshot or dev or some suffix to indicate that it's not a formal tested release, just a snapshot build.

[2017-07-24 13:30] lukecampbell commented on #512
If you patch the Dockerfile on the web project to use an environment variable for the compliance-checker version, it should be automatable.

The build workflow would look something like this:

1. clone ioos/compliance-checker
2. clone ioos/compliance-checker-web
3. install ioos/compliance-checker (pip or whatever)
4. install py.test
5. Run compliance-checker tests
6. Go to compliance-checker-web d

[2017-07-24 13:30] lukecampbell commented on #512
My recommendation for the semantic versioning is that builds be labeled as `3.x.x-NIGHTLY` or something like that.

[2017-07-24 13:37] ocefpaf commented on #512
Question: from @Bobfrat comments I had the impression that only tagged releases would be pushed. But from @lukecampbell's comments it seems that a latest master version would be pushed. If the former I am 100% in agreement, if the latter than the website itself need to be labeled as "unstable/unreleased" or something similar and we should maintain two endpoints, one with the unstable and another o

[2017-07-24 17:21] lukecampbell commented on #512
I am just referring to the docker build. The website should only reflect actual releases.

[2017-07-25 11:59] martinjuckes commented on #510
It is an erroneous interpretation of the CF convention as it stands.

[2017-07-26 17:42] kwilcox commented on #510
@martinjuckes Do you have any suggestions to go along with your comment above? It would be much more helpful if you would provide a solution and reasoning. I'm interpreting the standard the same way @lukecampbell is.

[2017-07-27 16:01] lukecampbell commented on #501
@Bobfrat, I recommend we close this issue in favor of the issues we opened. That way we don't introduce cross-talk on different issues.

[2017-07-27 16:03] lukecampbell commented on #510
@rsignell-usgs @mbiddle-bcodmo could you weigh in on this?

[2017-07-27 16:04] Bobfrat commented on #501
Closing in favor of the individual issues created

[2017-07-27 16:04] #501 closed

[2017-07-27 16:17] mbiddle-bcodmo commented on #510
Is it an erroneous interpretation because the reference attribute exists as a variable level attribute? I haven't looked at the file in question, but according to [CF](http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#description-of-file-contents):

Maybe there should be a check in place to see if it exists at the variable level or the global level and pass the test if it exists i

[2017-07-27 16:52] lukecampbell commented on #510
So your take is that it still _should_ exist, but we can be more liberal to check if it exists at either the global level or as a variable attribute?

[2017-07-28 13:22] dpsnowden commented on #33
@kwilcox @rsignell-usgs It looks like this is scheduled again in Release 3.1.  Can you tell me the status of the SGRID checker?  Are those two things both mature enough to include in the same release or is SGRID somehow less mature?

ping @Bobfrat @kknee @jbosch-noaa

[2017-07-28 13:38] kwilcox commented on #33
I implemented (6) SGRID checks in the initial plugin and hoped someone would find it useful enough to add the rest. I haven't needed it and thus haven't dedicated any additional spare time to it.

The architecture of compliance-checker allows plugins (ugrid/sgrid/glider/etc) to release on different schedules and carry different versions from this repo. Releasing compliance-checker won't affect the

[2017-07-28 14:27] lukecampbell commented on #33
I can't remember exactly but I thought we were waiting on a formal review or approval of the standards UGRID/SGRID before finishing plugins for them. It's been a while so I can't recall if that's entirely accurate.

[2017-07-28 15:17] daf commented on #33
Also my previous comment still stands:

Meaning it's not necessary to ship them alongside the base compliance-checker itself, unless it makes more sense here.  I see arguments on both sides.

[2017-07-29 06:21] martinjuckes commented on #510
My point is that in the convention the attributes are not required (for backwards compatibility with COARDS, as clearly stated in the quote above). The text quoted is ambiguous about whether they are recommended or not as it is a statement about how they should be used, not whether they should be used. The requirements document (http://cfconventions.org/Data/cf-documents/requirements-recommendatio

[2017-07-31 13:19] lukecampbell commented on #510
My recommendation is to leave the check as it is, and as a follow-on add type checking.

[2017-08-08 22:29] benjwadams commented on #501
@martinjuckes, I realize this issue is closed, but I am not able to access the links to the files you mentioned.  Being able to access these files would expedite things a great deal.  Is it possible to convert the data over to CDL format and upload them to GitHub Gists?

[2017-08-09 13:12] #464 closed

[2017-08-15 14:59] Bobfrat commented on #491
Closing, addressed in #503

[2017-08-15 14:59] #491 closed

[2017-08-18 17:19] Bobfrat commented on #511
Addressed in https://github.com/ioos/compliance-checker/pull/502

[2017-08-18 17:19] #511 closed

[2017-08-18 17:36] benjwadams commented on #510
I think that the proposed scoring overhaul would help address this.  It's obviously not an error to not have references per the earlier quoted parameter, but merely recommended.

[2017-09-08 13:17] Bobfrat opened #515 "Create a checker for the CF 1.7 release"
http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html

[2017-09-08 19:55] lukecampbell commented on #515
oh, look at that. 1.7 is no longer in draft phase. I guess all of that knowledge I accumulated in 1.6 is now useless -_-.

[2017-09-13 12:55] martinjuckes commented on #501
Sorry, the wiki formatting of the links was incorrect ... they should work now (giving you access to the NetCDF files)

[2017-09-18 19:58] benjwadams commented on #515
This really isn't suited for just a single issue -- perhaps it should be a milestone instead?

[2017-09-18 21:28] benjwadams commented on #478
Feature was implemented in merged PR: https://github.com/ioos/compliance-checker-web/pull/51.  Closing issue as resolved.

[2017-09-18 21:28] #478 closed

[2017-09-19 16:22] #509 closed

[2017-09-19 17:01] benjwadams commented on #501
@martinjuckes, thanks, they are working again.

[2017-09-19 17:05] benjwadams commented on #508
Unfortunately, I don't see the rlat variable in the file provided.  I'm trying to see if I can find another rotated latitude NetCDF file.

[2017-09-19 22:13] benjwadams commented on #508
@martinjuckes, the `zsatcalc_Omon_exAA07_abrupt4xCO2_r1i1p1_013601-014012_box.nc` you originally referenced in #501 does not appear to have rlat, rlon variables.

I do have a question pertaining to [http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#grid-mappings-and-projections](), namely this paragraph:

If I'm reading this correctly, the standard names of grid_latitude/grid_long

[2017-09-20 13:11] lukecampbell commented on #508
degree and derived units from degree are technically ok. I've never seen radians, but it should technically be allowed.

[2017-09-20 13:57] Bobfrat opened #519 "ACDD 1.3 date_issued and date_modified question"
These attributes are suggested and hence their presence is checked as BaseCheck.LOW. However if it does exist, the [check](https://github.com/ioos/compliance-checker/blob/master/compliance_checker/acdd.py#L607-L627) that tests if the string is ISO compliant is a BaseCheck.MEDIUM.

So in this case you'd get a better compliance score if you omitted the attribute rather than provided a non ISO date s

[2017-09-20 15:29] benjwadams commented on #508
I would think since latitude/longitude are expressed in degrees, radians or other units not exactly equal to one degree would not be OK.  The way I currently have things is to check the 'origin' units and if it matches with degrees and is not one of the east/north associated degree units, then it is OK.

http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#units

Also, are these chec

[2017-09-20 15:35] benjwadams commented on #515
The revision list added to the new CF document would probably be the best place to start picking out updates.
http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#revhistory

[2017-09-22 12:21] Bobfrat commented on #476
time_coverage_extents_match is no longer getting flagged as not valid ISO-8601 date format in this dataset.

[2017-09-22 12:21] #476 closed

[2017-09-22 12:31] Bobfrat commented on #460
@lukecampbell do you recall which tests you were running? I was able to run this dataset against CF and ACDD without crashing.

[code]

[2017-09-22 17:01] lukecampbell commented on #460
I remember, that file was corrupted, you can close this issue if it works for generic file with groups.

[2017-09-22 17:01] #460 closed

[2017-09-27 16:58] benjwadams commented on #505
This appears to be occurring because the `standard_name` value of "hybrid_sigma_is not contained in Appendix D:  http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#parametric-v-coord
I also don't see it in the standard name table:
http://cfconventions.org/Data/cf-standard-names/46/build/cf-standard-name-table.html

There is logic present to check that variables in

[2017-09-27 20:19] benjwadams commented on #468
I'm assuming `valid_range` also falls under this same category, as well as the `actual_min`, `actual_max`, and `actual_range` attributes added in CF-1.7.

[2017-09-28 16:34] lukecampbell commented on #468
`valid_range` is an array attribute but the data type of the array should match the parent variable.

Example:
[code]

[2017-09-28 21:35] benjwadams commented on #455
This appears to be due the use of `netCDF4.num2date` here: https://github.com/ioos/compliance-checker/blob/d17a9c54a2c37e85959a11562c9acc4e2753780b/compliance_checker/acdd.py#L474-L484

Documentation for `num2date` says:

[2017-09-29 16:35] benjwadams commented on #455
Appears related to https://github.com/Unidata/netcdf4-python/issues/685

[2017-09-29 17:25] benjwadams commented on #455
Issue was a combination of trying to subtract a naive datetime from a timezone aware datetime like object along with an improper algorithm in `num2date` that got the wrong offset for non-UTC timezones.

[2017-09-29 17:57] benjwadams commented on #444
From the CF 1.7 spec:

I'm confused because netCDF4 definitely does support variable length types, the most commonly used of which appears to be variable length strings.  I don't know where CF stands on their usage, but informally I have seen many files using these types.

[2017-09-29 18:01] benjwadams commented on #505
Closing for now unless further objections raised.

[2017-10-03 21:51] Bobfrat commented on #444
@lukecampbell is the thinking here that string wasn't an accepted type in CF1.6 (or 1.7) because  NetCDF did not support string datatypes, but now it does, so we should accept it?

In my opinion it's ok to fail on this. I think (don't hold me to this) some services like ncSOS require station name as an array of characters based on this data type spec.

[2017-10-06 12:44] lukecampbell commented on #444
Could someone output the ncdump?

[2017-10-06 12:48] Bobfrat commented on #444
[code]

[2017-10-06 16:22] benjwadams commented on #508
Closing unless further objections are raised.

[2017-10-06 16:22] #508 closed

[2017-10-06 16:27] benjwadams commented on #448
1/#464 was fixed by #514

[2017-10-06 21:35] lukecampbell commented on #444
Ah yes, now I remember. `string` is not a valid data type for CF. `string` is a netCDF4 feature and CF-1.6 is targeting netCDFv3. That's why you don't see groups supported by CF, or variable length arrays. Underneath the covers string is a vlen char array in HDF5, or it might be something else these days.

If a data type is shown as a string, it should fail a CF check as the data type is invalid,

[2017-10-09 12:42] Bobfrat commented on #444
Ok can this issue be closed then? Compliance checker will catch and throw an error for string datatypes:

[code]

[2017-10-09 12:44] Bobfrat commented on #506
addressed in #523

[2017-10-09 12:44] #506 closed

[2017-10-09 20:54] Bobfrat commented on #358
@jbosch-noaa are you aware of any "gold standard" example files for the IOOS profile 1.1 recommendations? I have a checker in place but would like a 100% compliant dataset to test on.

[2017-10-10 14:55] jbosch-noaa opened #524 "Running checker w/o glider QC flags"
A request of GCOOS regarding running glider data through the Compliance Checker before submitting files to the Glider DAC without QC flags:

From Matt Howard and @fgayanilo:
Can Compliance Checker be tweaked to accommodate lack of QC flags present in netCDF files per the Glider DAC SOP to only perform QC on data if no QC flags already present?  Perhaps by including a flag to disable checks for QC

[2017-10-10 15:00] jbosch-noaa commented on #358
@Bobfrat - You should have an invite to the site.  You can also access the templates for both v2.0 and v1.1 [here](https://www.nodc.noaa.gov/data/formats/netcdf/v2.0/).

[2017-10-10 15:07] jbosch-noaa opened #525 "Compliance Checker REST API"
GCOOS requested if it is possible to provide a REST API that would allow RA websites to link to CC score reports directly from dataset landing pages.

@fgayanilo - I think this warrants discussion here.  Do you want to do this for all your files or just example files? We are working on refining the functionality to export reports from the command line compliance checker and the compliance checker

[2017-10-10 15:13] Bobfrat commented on #358
@jbosch-noaa I see the ncei gold standard templates and files in there, but are there any IOOS examples? This IOOS netcdf profile checker I'm implementing is based off [this document](https://ioos.github.io/ioos-netcdf/ioos-netcdf-metadata-description-v1-1.html#ioos-netcdf-metadata-profile-attributes) which is similar to NCEI 2.0 but has some differences.

[2017-10-10 16:37] jbosch-noaa commented on #358
@mbiddle-bcodmo  - Do you have an idea? What RA has v1.1 example files that would be good for Bob to use.

[2017-10-10 16:45] mbiddle-bcodmo commented on #358
Have a look at https://data.nodc.noaa.gov/thredds/dodsC/ioos/glos/45028/glos_45028_2015_10_26/45028_air_pressure.nc.html. I don't recall if it was 100% compliant, but they are using v1.1 of the templates.

[2017-10-10 16:48] mbiddle-bcodmo commented on #358
No data in that file, how about this one https://data.nodc.noaa.gov/thredds/dodsC/ioos/glos/leorgn/glos_leorgn_2017_09_01/leorgn_ysi_blue_green_algae.nc.html

[2017-10-10 16:51] mbiddle-bcodmo commented on #358
You can also find the example template files at https://data.nodc.noaa.gov/thredds/catalog/example/catalog.html.

[2017-10-10 20:26] fgayanilo commented on #525
Thanks for all efforts to expand the features of CC; and yes, the CC is very useful to us -- great utility to have. I hope you can expand that to accommodate data bigger than 16MB to start with. Average monthly data for a station with the QA/QC flags is about 30MB.

As we receive data from various sources and reformat these collections to be in compliance with community standards, we can automate

[2017-10-10 20:59] Bobfrat commented on #358
Thank you @mbiddle-bcodmo

[2017-10-10 21:10] Bobfrat commented on #525
We do have an API for compliance checker web as documented here:

https://github.com/ioos/compliance-checker-web/wiki/API

I just tried using it but I'm getting timeout errors, so I'll troubleshoot why it's not working as advertised.

[2017-10-10 21:16] fgayanilo commented on #525
This is great! Thanks a lot and I never knew about this URL to the API .

[2017-10-11 12:24] jbosch-noaa commented on #525
I didn't either!  Thanks guys.  :)

[2017-10-11 15:41] Bobfrat commented on #524
I think this has been addressed in this PR: https://github.com/ioos/cc-plugin-glider/pull/14

[2017-10-11 17:23] #444 closed

[2017-10-11 17:33] Bobfrat commented on #448
2) has been moved to the NCEI plugin [here](https://github.com/ioos/cc-plugin-ncei/issues/38)
3) and 4) are handled as part of the new [IOOS 1.1 checker](https://github.com/ioos/compliance-checker/issues/358)

[2017-10-11 19:07] lukecampbell commented on #525
The CHL example didn't work because CHL's THREDDS is usually inaccessible.

[2017-10-11 19:08] lukecampbell commented on #525
It's worth mentioning that the API has the same limitations that the web checker has in terms of database size and processing timeout. I don't recall the limits off the top of my head, but if an external source takes longer than 60s I believe it will just error out.

[2017-10-12 15:02] fgayanilo commented on #525
Are there plans to host this on bigger and faster servers to overcome the (resource) limitations? Overcoming the 16MB file size limit will be a big plus!

[2017-10-13 15:57] Bobfrat commented on #358
This checker has been added in this PR: https://github.com/ioos/compliance-checker/pull/526

[2017-10-13 15:57] #358 closed

[2017-10-13 15:58] brianmckenna commented on #33
Initial version checking required topology attributes.

We need to aquire or define datasets with "optionally required" attributes to push forward on additional checks.

https://github.com/ioos/cc-checker-ugrid

[2017-10-13 17:06] #505 closed

[2017-10-13 17:07] Bobfrat commented on #505
The dataset provided now fails with the following error message:
[code]

[2017-10-13 19:36] Bobfrat commented on #447
New documentation is available in the project [README](https://github.com/ioos/compliance-checker) and the complementary [Installation wiki](https://github.com/ioos/compliance-checker/wiki/Installation). I welcome any feedback anyone has.

[2017-10-13 19:40] Bobfrat commented on #525
@fgayanilo that is something we are looking into. Will keep you posted.

[2017-10-13 21:07] #448 closed

[2017-10-17 04:57] mhidas opened #534 "Incorrect return value when running multiple check suites"
When a single call to the checker requests multiple check suites, the final True/False return value is determined by just one of the suites, while the others are effectively ignored.

E.g. this if a file passes the CF checks:
[code]
... but fails ACDD:
[code]

However, if I run both check suites at once,
[code]
I get the text correct output for both suites, but the final result is `True`, i.e. com

[2017-10-20 01:33] mhidas opened #535 "CF dimension order check incorrect for some dimensions"
I have a file with the following structure:
[code]
and I get
[code]
Which is incorrect according to CF-1.6 [section 2.4](http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#dimensions).

This error is _not_ reported if I remove the `INSTRUMENT` dimension from `DEPTH_TEMP`, or add it to `station_name`.

I suspect the checker is being fooled by the fact that `INSTRUMENT` is the only d

[2017-10-23 16:44] mwengren opened #536 "The 'ioos_sos' test doesn't return any results, needs better error handling"
I have the latest Compliance Checker installed via Conda Forge.  When I try to run the 'ioos_sos' test I get an unhelpful stdout response, then and XML response parsing error message.  I've tested this with a couple different active SOS services from the IOOS Catalog.

Error:
[code]

Also, if I mistakenly feed the 'ioos_sos' test an OPeNDAP URL, the error message response isn't very useful (indica

[2017-10-23 16:58] Bobfrat commented on #536
I'll check conda in a minute (I use virtualenv + pip) but I had success by wrapping the URL in quotes. I'm showing text output here for brevity but json worked too.
[code]

I can verify the second issue here, we can create a better error message for that situation.

[2017-10-23 16:59] ocefpaf commented on #536
Just tested it locally and it seems to be working:

[code]

Here is my env:
[code]

[2017-10-23 17:00] ocefpaf commented on #536
That may be it. I always do that automatically when copying-n-pasting URLs that I did not even notice this difference.

[2017-10-23 17:49] mwengren commented on #536
Yes, wrapping URL in quotes works here as well.

I've never done that in all the other tests I've run with CC, why the difference here?  Would be great to have consistency there... and ideally I'd favor it running without the necessity to wrap URL params in quotes, seems awkward.

[2017-10-23 17:53] ocefpaf commented on #536
You probably had simpler URLs before without the `&`, for example.

I don't know of any shell where that is possible. But I am only versed in bash, and zsh. Usually, the standard **is** to quote URLs.

[2017-10-23 18:09] mwengren commented on #536
Yes, mostly I had only been testing OPeNDAP URLs, that probably explains the difference.  This runs up against the limit of my Python knowledge a bit, but I'm surprised you can't pass an unquoted URL string to argparse with an `&` and there be a way for it to handle and submit transparently via requests or urllib to the target.

As long as it's documented correctly what's expected, no big deal tho

[2017-10-23 18:12] ocefpaf commented on #536
It is not a Python limitation it is how the shell interpret the special characters. I don't think we can do anything and quoting is quite standard for CLI stuff that most people ends up doing it without even noticing.

With that said, if we do want more people using the CLI it would be nice to show example with the quotes.

[2017-11-02 11:42] Bobfrat commented on #447
@jbosch-noaa do you have any comments/suggestions for new README? Otherwise I'll close this.

[2017-11-02 15:14] jbosch-noaa commented on #447
@Bobfrat  - This README file looks good, however, I have gotten some feedback on the Compliance Checker Web documentation.  I will take that up in that repo.

[2017-11-02 15:17] Bobfrat commented on #447
Sounds good, I'll close this one then

[2017-11-02 15:17] #447 closed

[2017-11-15 15:37] cehbrecht opened #539 "Accessing OpenDAP on ESGF thredds services"
I want to use the compliance-checker to run CF checks on ESGF data services using the OpenDAP protocol. ESGF services are access restricted with X509 certificates ... but if you configure an `.dodsrc` file the NetCDF library will handle the authentication ... so, the compliance-checker will work for ESGF/OpenDAP.

But ... the ESGF OpenDAP service needs to be recognized.

This issue was fixed in a

[2017-11-15 21:56] Bobfrat commented on #539
Your suggestion passes all the tests... I agree it's not the prettiest. I'll see if I can come up with something else but otherwise I'll implement your solution

[2017-11-20 18:09] benjwadams opened #541 "Fix test file generation errors when using latest ncgen"
Currently, most test data is generated from CDL files outputting to NetCDF files.  It appears that newer versions of `ncgen` bundled with the NetCDF 4.5.0 library will fail to generate a number of the files which were generated specifically for testing.
E.g. this snippet from `tests/data/bad_missing_data.cdl`, which contains intentionally problematic data will cause ncgen to fail in newer versions

[2017-11-21 12:57] Bobfrat commented on #37
Hey guys, I'd like to resurrect this discussion and begin work on overhauling the scoring system in the next Milestone. It seems that in general folks are leaning towards the demerit style approach. Does anyone have any other suggestions or concerns about this approach? Or any ideas on how they would like the results presented?

@daf @lukecampbell @mhidas @kwilcox @benjwadams @brianmckenna @mwengr

[2017-11-21 17:30] daf commented on #37
Thanks for revisiting.  Thinking about this on and off for the last few years, plus seeing it used in the wild, I think @mhidas really hits the crux of the issue above:

I fully agree.  Trying to come up with a "score" is too difficult - checks that only run when certain conditions exist or checks that are conditional eg "does this attribute exist, is it in this set of values?" make this concept v

[2017-11-21 17:52] kwilcox commented on #37
I'll chime in as a heavy user of the CC.

I agree with everything @daf says above. Keep in mind that someone won't always want to know exactly _what_ is wrong with a dataset but just that _something_ is wrong. I would not be opposed to another run option to "fail quick" in cases that a check has failed at or below the failure threshold of `--criteria`.

The return format of the checker should also

[2017-11-22 04:25] mhidas commented on #37
:+1: Excellent, I'm glad everyone seems to be thinking the same way.

@kwilcox I had a play with your `check_dataset` function. I agree that it's more or less what we need. However I think the's a misunderstanding behind your exception handling. `ComplianceChecker.run_checker` returns `errors == True` only if *exceptions* occur during checking. It is NOT an indication of compliance issues with the

[2017-11-22 15:06] Bobfrat commented on #37
One thing I've found that frustrates users is when they fix an issue in their file and rerun the checker only to find that the fix just created another failed check.

An example would be any of the date attributes in ACDD. If they omit the attribute they get docked for the fact its missing. So then they add the attribute to the file but now it is checked against the ISO format. It's best if they u

[2017-11-22 18:10] drf5n opened #542 "Checker crashes on files non-string standard_name"
I had a file with this bad bit of CDL in it and the compliance checker crashed on the mis-configured standard_name with the integer type:

[code]

[code]
I realize the problem is within my file, (now fixed,) but perhaps the compliance checker should check types and report the error in the input rather than hard faulting.

Thanks

[2017-11-22 19:47] kwilcox commented on #541
`libnetcdf 4.4` is the most recent availabe on `conda-forge` so I can't test or verify this.... can you try creating using the a python library and `libnetcdf 4.5`? I'm curios if its an `ncgen` regression/feature or an issue with the acutal C library. The below works in `4.4`.

[code]

[2017-11-27 14:33] jbosch-noaa opened #543 "Documentation Clarification"
@Bobfrat  - @mwengren recently reviewed the checker options on the command line checker and found that the options are quite confusing.  Would you please update the README file for clarification on checker options? Please see his email:

So here is the output of `compliance-checker -l` on the fresh IOOS conda environment I just set up today with Jhamal.  There are quite a few more checker options

[2017-11-28 19:11] Bobfrat commented on #37
Some more thoughts:

Let's make sure we don't break backwards compatibility. This will allow us to roll out a solution for the compliance checker first, then work on updating all the plugins.

Here's 2 other compliance checker web versions. I recommend taking a few minutes to check them out if you haven't already. I think there are elements we can take from each.

https://podaac-uat.jpl.nasa.gov/m

[2017-11-28 19:26] #524 closed

[2017-11-29 02:00] mhidas commented on #37
True, but this can be documented in a static way elsewhere. It doesn't need to be repeated in the output every time a file is checked. The simplest thing to do is add a link to a site/document describing the relevant convention (#154 and https://github.com/ioos/compliance-checker/issues/186#issuecomment-153511916). As you suggest, details of the actual checks applied by the checker, would be even

[2017-12-07 22:58] benjwadams commented on #541
Closing due to fix in #544.

[2017-12-07 22:58] #541 closed

[2017-12-11 17:04] benjwadams commented on #33
@rsignell-usgs, we're going to move further UGRID related issues to the repo above: https://github.com/ioos/cc-plugin-ugrid

[2017-12-11 17:04] #33 closed

[2017-12-11 17:10] benjwadams commented on #543
@jbosch-noaa,  `<checker_name>` and `<checker_name>:latest` refer to the same checker version, namely the last version in the sorted version options:
https://github.com/ioos/compliance-checker/blob/master/compliance_checker/suite.py#L65-L70

[2017-12-11 17:14] Bobfrat commented on #543
@benjwadams do we need either of these? Can we drop the :latest version in the output to ease some of the confusion?

[2017-12-11 18:47] jbosch-noaa commented on #543
@Bobfrat  - I agree.  Perhaps, if it isn't already the case, the default should have the checker run the latest version.  This way we can get rid of <checker_name>:latest to clear up any confusion.  It should be noted in the documentation that the default is the latest version.

[2017-12-11 19:17] daf commented on #543
I would suggest that the internal version number (the `(2.3.0)` at the end of a line) also not be displayed in this basic listing unless some sort of verbose flag (`-v`) is used.  It's probably just visual clutter to the typical user.  It's more useful to a developer or a developer instructing a user to get an advanced listing to help troubleshoot issues.

[2017-12-20 17:49] benjwadams commented on #543
Related: #546

[2018-01-17 03:17] ggalibert commented on #510
Still a shame to see the checker "failing" because of missing attributes that are not recommended.
[CF1.6](http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#description-of-file-contents) says:

[2018-02-07 19:35] benjwadams commented on #450
Nou

[2018-02-07 19:35] #450 closed

[2018-03-05 18:43] Bobfrat commented on #109
this will be addressed as part of the scoring overhaul:

https://github.com/ioos/compliance-checker/issues/37

[2018-03-06 20:59] Bobfrat commented on #315
I think this is a valuable feature but updating the JSON output to support it would break backwards compatibility. I know some folks have applications that use the json output so they would need to be  adjust accordingly, including the compliance checker web application. As part of the scoring overhaul I was hoping not to break backwards compatibility but I don't see anyway around it if we were to

[2018-03-07 02:32] Bobfrat commented on #477
Corrective Actions table is separated into High, Medium, and Low Priority tables [here](https://github.com/ioos/compliance-checker-web/pull/66)

[2018-03-07 10:09] cehbrecht commented on #315
@Bobfrat
Thanks for looking into this :) I lost a bit the focus because I'm just partly involved in compliance checking of our climate data (CMIP5, CMIP6, ...). @agstephens is working on the "next generation" compliance checker (... CMIP7) based on the IOOS one (which has a good and understandable design). Ag may have more appropriate comments on this.

So, here are the uses case I'm aware of:
* r

[2018-03-07 17:35] benjwadams commented on #305
The output for stdout isn't really conducive to using something like a jinja template. In #551, I have created a tabular style output with the help of the `tabulate` library.  I'm going to close this as the tabular output and associated stdout refactors should clean up some of the presentation logic.

[2018-03-07 17:35] #305 closed

[2018-03-07 17:36] benjwadams commented on #313
This would get pretty confusing.  How would one invoke compliance checker to do this from the command line, for example?

[2018-03-07 17:39] benjwadams commented on #109
Yeah, there's a lot of duplicate discussion between here and #37.  I am going to close this and further discussion can be moved there.

[2018-03-07 17:39] #109 closed

[2018-03-07 17:40] Bobfrat opened #553 "Update README to show new output"
The README shows example output. This needs to be updated to reflect the new output.

[2018-03-08 04:42] mhidas commented on #477
Would it be even more helpful to use similar terminology to (some of) the conventions documents, e.g. "required", "recommended" and "suggested", instead of "high", "med", "low"?

[2018-03-08 04:43] mhidas commented on #477
That might help with other issues, like #510

[2018-03-08 07:44] agstephens commented on #315
Hi @Bobfrat and @cehbrecht, I agree with the set of use cases above. We have thought about this issue but we haven't written any code.

One way to break down the problem could be:
 - If you need a summary of results (for multiple *datasets*):
   - you must select JSON output
   - the summary tool/option will always read in a set of JSON records and generate the summary from that.

That would rule

[2018-03-08 09:48] cehbrecht commented on #313
One could add a list of wanted output formats on the command line:
[code]

https://docs.python.org/3.5/library/argparse.html#nargs

I would see the json output as the essential result document of the compliance-checker. Other formats are more optional and for display (HTML). If one could produce the other output formats (HTML) from the json (or yaml) document then it would not be necessary to run

[2018-03-08 16:50] benjwadams commented on #477
I can't assign @daltonkell to this issue (maybe because he's not in IOOS org, which I also can't add people to), but he's handling this issue.

[2018-03-08 18:11] Bobfrat commented on #477
@mhidas I like that suggestion but do you think by getting close to the same terminology it will confuse users more?

For example, ACDD uses Highly Recommended, Recommended, and Suggested, while NCEI uses the terminology you are referencing. I imagine someones going to report a bug saying that we're calling ACDD Highly Recommended attributes Required.

Anyone else have an opinion? I suppose the be

[2018-03-08 22:47] mhidas commented on #477
@Bobfrat Yes, I suppose using similar but not quite the same terms could could be confusing for some. I agree the best solution would be to use the right terminology for each check suite.

I guess the high/med/low values defined within the `BaseCheck` class could remain as defaults. You could add another class attribute (dict) to store to store names for these levels to be used in results. This co

[2018-03-08 23:26] Bobfrat commented on #477
That’s what I was thinking too so we’ll give it a go. Thanks for the input @mhidas.

[2018-03-09 17:26] benjwadams opened #557 "Moving to Python3"
Back when compliance checker was first written, scientific library support was rather mixed for Python 3.  Nowadays, almost all (or maybe all?) the libraries used by compliance checker have Python 3 support.  We currently support Python 2.x series, but it is a major nuisance in some categories, i.e. shoehorning unicode support and all the differences between how 2 and 3 handle unicode.  There are

[2018-03-09 22:09] Bobfrat commented on #477
Addressed here:
https://github.com/ioos/compliance-checker/pull/556

[2018-03-09 22:09] #477 closed

[2018-03-13 01:31] mhidas opened #562 "CF duplicate axis check fails incorrectly"
For a file with the following structure:
[code]
I get a failing CF check with the message:
[code]
This is referring to the section of [CF](http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#coordinate-system) (6th paragraph) that says:

However in this case the `ABSIC1` variable has _no_ associated coordinate variables of either kind that define an axis="Z" attribute, so I think th

[2018-03-13 05:27] mhidas commented on #562
Here is a sample of the file demonstrating this issue: [imos_duplicate_axis.zip](https://github.com/ioos/compliance-checker/files/1805568/imos_duplicate_axis.zip)

[2018-03-13 13:38] Bobfrat commented on #562
Makes sense to me. The file doesn't get flagged for this in the [UK Met office CF checker](http://puma.nerc.ac.uk/cgi-bin/cf-checker.pl) either.

@lukecampbell FYI

[2018-03-13 15:47] benjwadams commented on #103
Has been addressed in ACDD by #561 by breaking out groups/issues into separate entries with corresponding importances.  As of now, it's still possible to group, but none of the core checkers are using grouping and it should be considered deprecated behavior.  I'm going to close this issue with the caveat that grouping still exists, but should not be used going forward.

[2018-03-13 15:47] #103 closed

[2018-03-13 18:10] benjwadams commented on #315
#555 implements the ability to run compliance checker reports for multiple files with input to one output source for the 'text', 'html', and 'json_new' (new) formats.  It's not supported for 'json' format at the moment as it would break the expected output for clients using the format as part of a program.  Going to close this issue since the features requested have been added.

[2018-03-13 18:10] #315 closed

[2018-03-13 20:31] Bobfrat commented on #313
@cehbrecht i'm a little confused. Are you saying if you can produce the other formats from JSON then we can close this issue? One can produce the other formats from JSON. Here's how we do that in the web version:

[Text](https://github.com/ioos/compliance-checker-web/blob/master/cchecker_web/processing.py#L46-L78) that we produce for text downloads

[HTML](https://github.com/ioos/compliance-checke

[2018-03-13 21:28] #313 closed

[2018-03-13 21:48] #553 closed

[2018-03-13 21:49] Bobfrat commented on #37
@daf @lukecampbell @mhidas @kwilcox @benjwadams @brianmckenna @mwengren
@jbosch-noaa  @abirger @ocefpaf

Hey guys, we have been working on the scoring overhaul and would like your feedback. All of the code for the new scoring output is on the ```refactor-scoring``` branch. Please pull it down and take it for a test drive. Here are some of the new features:

- Removal of the scoring section for eac

[2018-03-13 22:33] benjwadams commented on #70
May be worthwhile to profile the code execution for these larger datasets where there is a problem.  There should, to my knowledge, only be attribute access and possibly checking the first/last element of variable data.

[2018-03-14 01:11] #525 closed

[2018-03-14 12:28] Bobfrat commented on #539
@cehbrecht how can I test that this works on one of those endpoints? Can I get access?

[2018-03-14 14:21] cehbrecht commented on #539
@Bobfrat To make a real test you need an ESGF account. You can get one for example at DKRZ:
https://esgf-data.dkrz.de/   (look for register)

To be able to download a file from ESGF you also need to register for a specific group. For example if you want to have CORDEX files then you need to register for the CORDEX group. The simplest way is to download a file and you will be directed to the group

[2018-03-14 15:59] #286 closed

[2018-03-14 16:25] benjwadams commented on #542
This is definitely one reason I am in favor of type-checking features in Python 3.

[2018-03-14 16:30] Bobfrat commented on #536
@mwengren the README has been updated with urls in quotes

[2018-03-14 16:30] #536 closed

[2018-03-19 05:32] mhidas opened #570 "CF integration tests failing"
All of the tests in [test_cf_integration.py](https://github.com/ioos/compliance-checker/blob/master/compliance_checker/tests/test_cf_integration.py) are failing. Are they supposed to be passing? Are they just out of date?

[2018-03-19 06:18] mhidas opened #571 "Next release?"
Just wondering if there is a plan to release a new version sometime soon?

How frequent are future releases likely to be?

We ([IMOS/AODN](http://imos.org.au/facilities/aodn/)) are using the compliance checker as part of our automated data publication software. We have been running it off our own fork of the repo. We are finally moving towards installing it straight off PyPI. However, there are a

[2018-03-19 13:45] Bobfrat commented on #571
@mhidas glad to here you guys are using the compliance checker. We were planning on a release in the next 2-4 weeks. We've been working on the [scoring overhaul](https://github.com/ioos/compliance-checker/milestone/11) in the refactor-scoring branch and were hoping to get some feedback over the next few weeks. I will work on the bugs you mentioned above so those can get into the next release as we

[2018-03-19 14:03] Bobfrat commented on #562
Interestingly I get the same error message when I run the CF checker from [NASA](https://podaac-uat.jpl.nasa.gov/mcc/):

[code]

I wonder if the leveraged this code base or made the same assumptions.

[2018-03-19 14:24] #562 closed

[2018-03-19 23:33] wckoeppen commented on #519
Are any dates actually being checked for ISO compliance?

I had some dates as "March 2014" and no errors were reported by compliance_checker.__version__ = 3.1.1 We figured out there was an issue when they got stuck going into the IOOS catalog.

[2018-03-20 05:22] mhidas commented on #562
Thanks @Bobfrat !

[2018-03-20 06:23] mhidas commented on #571
:+1: Thank you!

[2018-03-20 17:01] #461 closed

[2018-03-20 17:04] benjwadams commented on #461
I'm going to make this for featureType only and close this issue.  If there are other places where case insensitivity is needed, then new issues should be opened for those individual cases.

[2018-04-02 14:01] #535 closed

[2018-04-11 15:39] Bobfrat commented on #539
@cehbrecht I was able to get an ESGF account, download the CORDEX file in your example and get all the way through the iPython notebook until this line:
[code]
where I still get this error:
[code]
I have what seems like a valid .dodsrc file in my home directory.

Can I make the pull request and have you test it out? I'm just going to add what we had in the previous version that worked.

[2018-04-11 23:12] cehbrecht commented on #539
@Bobfrat
I will review your PR tomorrow. Thanks for adding this.

[2018-04-12 16:13] cehbrecht commented on #539
@Bobfrat I have reviewed your PR and it works on my side.

I haven't checked issues with the ipython notebook ... you only need the "esgf logon" which prepares a `.dodsrc`  file. Then you can run `cchecker --test cf "opendap_url"`

[2018-04-12 16:24] #539 closed

[2018-04-12 19:57] Bobfrat commented on #37
The refactor-scoring branch was merged into master. I'll be creating a new release tomorrow unless anyone has any issues they want to raise.

[2018-04-12 20:00] kwilcox commented on #37
Is there any documentation of the changes? Can we get a full version bump to `4.0.0` so I have some time to port over existing processes and stay on `3.x` for awhile?

[2018-04-12 20:09] Bobfrat commented on #37
Yeah I'll make sure we bump to 4.0.0. Summary below (README has some examples and info as well):
- Removal of the scoring section for each output format. Left with only the corrective actions based on the criteria level passed in
- High, Medium, Low Priority headers have been replaced with the terminology for each check (i.e. Highly Recommended, Recommended, and Suggested for ACDD)
- Added ability

[2018-04-13 13:16] jbosch-noaa commented on #37
Great! I plan on announcing this in the next Eyes on the Ocean newsletter.  @Bobfrat - Is the bulleted summary above a complete list of version updates to include in the announcement?

[2018-04-13 20:03] Bobfrat commented on #571
Just released [4.0.0](https://github.com/ioos/compliance-checker/releases/tag/4.0.0)

https://pypi.python.org/pypi/compliance-checker/4.0.0

[2018-04-13 20:03] #571 closed

[2018-04-13 20:05] Bobfrat commented on #37
Just released 4.0.0 with the scoring (or lack thereof) updates. Release notes [here](https://github.com/ioos/compliance-checker/releases/tag/4.0.0)

https://pypi.python.org/pypi/compliance-checker/4.0.0

[2018-04-13 20:05] #37 closed

[2018-04-16 05:48] lbesnard opened #577 "Compliance Checker v4; CF -> _Netcdf4Dimid att warning"
Hi

I'm testing today the new version of the checker with the CF (latest) convention.

The checker, with following tested file:
[code]

complained about ```_Netcdf4Dimid should begin with a letter and be composed of letters, digits, and underscores```.  I have struggled to find what this attribute is really about, however, I found many references of it online, such as this page
https://github.com/

[2018-04-17 14:02] Bobfrat commented on #577
@lbesnard I'll do a little research on this. It's failing the ```check_naming_conventions``` check from this interpretation:

[code]

But we do have exceptions to this rule such as _FillValue. I could add _Netcdf4Dimid to the exceptions if needed.

[2018-04-17 15:07] benjwadams commented on #570
A lot of these have to do with the old deprecated scoring -- certain parts of the checks changed and the "scored/out of" ratios changed.  We're doing away with the numeric scores and opting instead to report failing tests, so it's pretty likely we'll remove the checks for score in the integration tests as well.

[2018-04-17 15:09] Bobfrat commented on #570
Yeah we should update those in the next minor release

[2018-05-10 05:34] mhidas opened #578 "Text output is hard to read"
I'm looking at the new text output format from version 4, and often find it hard to read. Individual reasoning messages blend into a column of solid text, and sometimes the names do too, so it takes extra concentration to see where each new message begins. If a file has lots of errors it can look something like this:
[code]
It would be nice to tweak the output formatting so that individual message

[2018-05-10 06:03] mhidas commented on #578
The simplest solution I can suggest is to separate each message with a blank line.

If we also get rid of the "name" column, we can have a simple bullet list of reasoning messages, like this:
[code]

Or if you still want to make use of the name field (minus variable names) to group similar error messages together and (at least for CF) provide a reference to the relevant section in the convention d

[2018-05-10 17:32] Bobfrat commented on #578
@mhidas thanks for the feedback. I like the 2nd option better so we can keep the relevant CF section in the report.

[2018-05-15 01:19] lwgordonimos opened #579 "PyPI install broken due to NetCDF4 1.4.0 package"
Something has changed in "NetCDF==1.4.0" which causes a basic "out of the box" install of compliance-checker from PyPI to fail due to the "netcdftime" module. Since the package is not pinned with a maximum version, any new installs of "compliance-checker" will be broken by default.

Not sure which is the most appropriate solution for this package, but I've included two actions which resolve the is

[2018-05-15 13:01] ocefpaf commented on #579
The new `netcdf4` uses `cftime` instead of the old bundled `netcdftime`. I'll send a PR finxing this in a moment...

[2018-05-15 14:53] ocefpaf commented on #579
There was no testing since the latest release for the CI to fail.
See PR #581 for the current failures and #580 for a fix.

[2018-05-15 23:44] mhidas commented on #577
Thanks @kwilcox. @lbesnard was accessing a THREDDS server that is beyond our control.
In any case, it's not a checker problem, so this issue can be closed.

[2018-05-16 00:35] #577 closed

[2018-05-16 01:47] mhidas commented on #578
@benjwadams Thanks for the info.
If you like my suggested format, do you still need tables at all?
If the options to output LaTeX tables is important, I guess you could still use `tabulate` to create single-column tables. But maybe in that case this output format could be called "table" (or "latex") rather than "text"?

For a plain text output format, I would prefer the simplest possible output.

[2018-05-18 20:31] Bobfrat commented on #579
@lwgordonimos we just released the bug fix. https://github.com/ioos/compliance-checker/releases/tag/4.0.1

[2018-05-21 14:31] fgayanilo opened #586 "Time Out Error"
I get 'Error while processing the job. Job Timed Out' error when I submit a small netCDF file (e.g. http://data.gcoos.org/data/waf/nc_by_platform/atm/ldn/2017/gcoos_ioos_station_DISL_PPTA_2017_09_atm.nc) on the web version.

[2018-05-22 18:16] Bobfrat opened #587 "Include link to standards in report"

[2018-05-24 17:47] benjwadams commented on #579
I just downloaded the current version (4.0.1) from PyPI and was able to run against a file, so it looks like this is fixed.  I'm going to close this issue.

[2018-05-24 17:47] #579 closed

[2018-05-24 17:54] ocefpaf commented on #579
@benjwadams the current fix only pinned to older `netcdf4`, see https://github.com/ioos/compliance-checker/pull/581, but now that `cf_units 2.0` was released we can do better. I'll send a PR in a moment.

[2018-05-24 18:23] Bobfrat commented on #586
@fgayanilo Are you pasting that URL into the "provide a remote OPeNDAP Data URL here" form or browsing to that file in your local file system? The file processes fine, but the url doesnt appear to be an OPeNDAP url so it will timeout if you try to process it like that.

[2018-05-25 20:02] benjwadams commented on #586
Nonetheless, the error ought to be a little clearer if it's not a proper OPeNDAP endpoint and should throw an error more quickly to the aforementioned effect, rather than taking a long time to time out and returning a timeout error.

[2018-06-06 03:16] mhidas opened #589 "No option to skip only medium/low-level checks within a check method"
Sometimes a file will fail a specific check and it isn't practical or doesn't make sense to "fix" the file. Conveniently, the `skip_checks` option allows a specific check method to be skipped, allowing such a file to still pass the checker overall.

However, many check methods apply several individual checks, and in particular some return results with different weight/priority levels. For example

[2018-06-06 03:35] mhidas commented on #589
Possible solutions:
1. Provide an alternative `allow_fail` option, which could specify a check method _and_ a maximum priority level of failing checks (within that method) to allow (unlike `skip_checks`, the method would be executed, but the results filtered on output);
1. Break up such complex check methods so that each method only returns results and a single priority level (would need re-writin

[2018-06-06 03:41] mhidas opened #590 "Option to output corrective actions for files that pass"
With the `criteria` and `skip_checks` options, it's possible for a file to fail some specific check methods, and still end up with an overall "pass" result. In such cases the text output is simply:
[code]
It would be helpful if the suggested corrective actions from any failed checks could still be output in such cases. This would allow useful feedback to be given to data creators even when their f

[2018-06-12 04:47] mhidas commented on #103
So is there a plan to remove the somewhat complicated grouping code, and just report all the results as is? (could still be _sorted_ by name, just not grouped)

After the changes to the text output format in v4.0 I re-named all the results returned in [our plugin](https://github.com/aodn/cc-plugin-imos) from tuples to simple strings. Then we ran into this grouping problem again, i.e. a low-priorit

[2018-06-13 01:37] kwilcox commented on #542
Real world examples: I've seen people represent units of dimensionless parameters (pH) as lots of interesting things (NaN, 1, "1", "pH"). I've also seen PPT and PPM represented as decimal numbers (0.001) and permil (‰). Should we warn when a unit is not a string?

[2018-06-13 01:53] Bobfrat commented on #542
Yeah we'll need to check that units are a string

[2018-06-13 15:33] benjwadams commented on #542
This is broadly a class of issues which apply to the data types when fetching the attributes from the netCDF files.  The standard used says the datatype should be one type or another, but it can be anything inside the netCDF file proper.   I'm considering overriding `__getattr__` for the netCDF4.Dataset through subclassing to check the type based upon the particular spec being used.

[2018-06-13 15:59] kwilcox commented on #542
`compliance-checker` should just implement what the CF spec says regarding the `units` attribute. The values should all be strings and the checker should report errors if they are not.

http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#units

You can already check the type of a retrieved attribute value... why do you need to subclass anything?

[2018-06-14 18:22] akrishnan1 opened #591 "coverage_content_type"
The ACDD 1.3 check currently does not validate the coverage_content_type attribute values against the controlled codelist at
https://geo-ide.noaa.gov/wiki/index.php?title=ISO_19115_and_19115-2_CodeList_Dictionaries#MD_CoverageContentTypeCode

Some of the files that I tested had the coverage_content_type listed as "auxiliaryInformation" and those still passed the check

[2018-06-14 18:35] Bobfrat commented on #591
Great catch. We do actually check that but we probably created that list from here, where there is the same misspelling you're reporting:

http://wiki.esipfed.org/index.php/Attribute_Convention_for_Data_Discovery_1-3#coverage_content_type

For reference
https://github.com/ioos/compliance-checker/blob/master/compliance_checker/acdd.py#L699-L712

[2018-06-14 19:01] Bobfrat commented on #591
Or is the misspelling is actually on the ISO end? I don't think auxillary is a word.

[2018-06-14 19:09] akrishnan1 commented on #591
That's right. How should this be resolved, then? Personally, I think we should keep it the way it has been spelled in the ISO document.

[2018-06-14 19:23] Bobfrat commented on #591
I suppose it would be prudent to let someone know of the misspelling and inconsistency between ESIP site and the ISO document. Not sure exactly who to talk to. @jbosch-noaa any ideas?

One option is we could accept both spellings in the compliance checker.

[2018-06-14 19:38] akrishnan1 commented on #591
I have sent an email to the ESIP mailing list. Will wait for folks to weigh in.

[2018-06-14 20:49] mwengren commented on #591
Maybe @amilan17 has some insight into it.  Most NOAA metadata seems to refer to the ISO Codelists hosted at NCEI (formerly NGDC at these URLs: https://www.ngdc.noaa.gov/emma/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_CoverageContentTypeCode ) as linked from the GEO-IDE wiki, but I know these are in the process of moving to a new home/URL.

But perhaps this error is in the official ISO codel

[2018-06-14 20:58] akrishnan1 commented on #591
I found an official copy of the ISO 19115-1 document and I see the typo in it as well.

[2018-06-21 00:13] Bobfrat commented on #590
I think this is by design. Maybe the action here to to be more clear about what these options do in the README?

[2018-06-21 01:17] mhidas commented on #590
Sorry, maybe I wasn't clear enough. What I'm suggesting is to leave the default behaviour as it is, but add an optional parameter to enable the output of corrective actions even if the file is considered a "pass". This could even be the existing `verbose` parameter, which is currently only used to determine whether a stack trace is printed when an exception occurrs.

[2018-06-21 01:20] mhidas commented on #590
To be even more specific, how about this for the verbosity levels?
0 = current default behaviour
1 = always print corrective actions for any failed checks (independent of `criteria` parameter)
2 = also print stack trace for exceptions

[2018-06-22 14:49] mwengren commented on #591
Maybe @amilan17 has some insight into it.  Most NOAA metadata seems to refer to the ISO Codelists hosted at NCEI (formerly NGDC at these URLs: https://www.ngdc.noaa.gov/emma/xsd/schema/resources/Codelist/gmxCodelists.xml#MD_CoverageContentTypeCode ) as linked from the GEO-IDE wiki, but I know these are in the process of moving to a new home/URL.

But perhaps this error is in the official ISO 19115

[2018-06-25 16:32] jbosch-noaa opened #595 "Checker Result Disclaimer Needed"
While the latest version of the compliance checker replaced the High, medium and low priority warnings with the terminology from each of the standards, the warning message simply means you haven’t met our interpretation of that check.  A disclaimer is needed in the documentation letting users know that the warnings are the IOOS (via RPS) interpretations of the standards.   Perhaps in future iterat

[2018-06-27 21:00] benjwadams commented on #595
Would you be OK with the disclaimer being added to the README file?
Could you expound a bit upon the last sentence?  A lot of folks complained if we nominally considered some aspect of their metadata "failing" through the checker.  The recent overhaul of the scoring concept is supposed to show where possible issues are, as opposed to creating a scoring system.

[2018-07-02 13:32] benjwadams commented on #542
Closing out this issue in light of the recently merged commit.  Please reopen if there are any additional difficulties with non-string units/standard_name.

[2018-07-02 13:32] #542 closed

[2018-07-05 13:57] MBARIMike commented on #557
I'm running compliance-checker in Python 3.6 and haven't see any issues. So maybe all is O.K. ?

One of the other features is asyncio which could greatly improve the speed of walking large OPeNDAP directories. Is there any comment on the possibility of asyncio working with compliance-checker?

[2018-07-05 14:09] kwilcox commented on #557
Hey Mike - have you tried using xarray/dask to crawl a large directory of datasets? I usually crawl though a nested directory structure for netCDF files like so but would be interested in some comparisons if you have an `asyncio` or `concurrent.futures` (https://docs.python.org/3.6/library/concurrent.futures.html) solution implemented.

[code]

[2018-08-15 12:01] daltonkell commented on #570
With the merge of #599, is it now appropriate to close this issue?

[2018-08-15 12:05] daltonkell commented on #586
Closing this issue as PR #70 fixes the time-out error

[2018-08-15 12:05] #586 closed

[2018-08-15 12:16] daltonkell opened #602 "Release 4.1.0 Proposal"
After merging PR #600, I think it's appropriate for a new minor release to 4.1.0 with the following description:
# Compliance Checker 4.1.0
## Performance Increase, MetaData References, and Bug Fix

### Functionality
Pull Request #600 enhances compliance checker speed with the use of an lru-cache (Least Recently Used) from `functools`. It also allows backwards-compatibility with the lru-cache for

[2018-08-20 18:03] benjwadams commented on #602
Overall looks good, but should fix the error message which occurs when the memoized subclass of `netCDF4.Dataset` is deleted.

[2018-08-27 00:28] mhidas commented on #602
Could you please also include PR #603 in this release?

[2018-08-27 12:17] Bobfrat commented on #602
@mhidas yes, everything in master to date will get in this next release.

[2018-08-28 22:36] benjwadams commented on #602
Could you create a milestone instead?

[2018-08-28 23:00] benjwadams commented on #445
#600 took care of much of this.  Checking execution profiles revealed that much of the time was spent running `netCDF4.Dataset.get_variables_by_attributes`, so I among others opted to memoize that function since we are opening netCDF files in a read-only fashion

Comparing the last tagged version (4.0.1) runtime against current master indicated signifcant improvements in performance for datasets r

[2018-08-28 23:00] #445 closed

[2018-08-28 23:01] benjwadams commented on #557
I should open a milestone instead.

[2018-08-29 20:46] Bobfrat commented on #602
New release is on PyPi
https://pypi.org/project/compliance-checker/

[2018-08-29 20:46] #602 closed

[2018-08-30 15:46] daf opened #607 "Running compliance-checker with no arguments results in"

[2018-08-30 15:47] daf commented on #607
It should act just like `--help` was specified.  I'll make a PR.

[2018-08-30 16:13] daf opened #609 "Return value of run_checker/exit code of CC depends on last combination of output format/dataset/checker run"
While investigating #607, the UnboundLocalError is the variable `groups` inside each of the output methods - [`standard_output()`](https://github.com/ioos/compliance-checker/blob/833de218609179d7d23160381989170041144a1b/compliance_checker/runner.py#L136-L142), [`json_output()`](https://github.com/ioos/compliance-checker/blob/833de218609179d7d23160381989170041144a1b/compliance_checker/runner.py#L19

[2018-08-30 17:01] daf opened #610 "External checker plugins without either cc_spec and cc_spec_version attributes hidden from checker listing"
e.g. cc-plugin-glider, which does not yet implement `_cc_spec` attributes (but does have `_cc_spec_version`, see ioos/cc-plugin-glider#26)

Logic intended to keep `...:latest` version checkers from showing in the non-verbose list also squelches plugins that haven't switched to the latest name/version attr spec.  Verbose listing will show them.

[2018-08-31 16:51] daf commented on #609
Ah, this is a duplicate of #534.

[2018-08-31 16:51] #609 closed

[2018-10-09 16:08] benjwadams commented on #468
Appears to be already handled by https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L3036-L3056

I need to check the tests as well as with some files that have this issue.

[2018-10-09 16:11] benjwadams commented on #591
Have any conclusions been reached regarding the accepted values?

[2018-10-09 16:32] benjwadams commented on #589
I'm not entirely clear on this issue.  I believe the `-c`/`--criteria` option already does this to some extent.
'lenient' corresponds to printing/failing only on HIGH priority checks,
'normal' on HIGH-MEDIUM
'strict' on HIGH-LOW

See also:
https://github.com/ioos/compliance-checker/blob/833de218609179d7d23160381989170041144a1b/compliance_checker/runner.py#L78-L83
and
https://github.com/ioos/compli

[2018-10-10 02:56] mhidas commented on #468
Yes, but that's only within `check_packed_data`. This check  should apply to all variables.

And it should also apply to the `_FillValue` attribute (http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#missing-data).

[2018-10-10 03:19] mhidas commented on #589
Yes, that is useful, but it only allows you to ignore _all_ LOW and/or MEDIUM checks. We have some cases where we need finer control than that.

For example, if I generally want to apply `strict` criteria, but for whatever reason have a file with latitude  units set to "degree_n" instead of "degrees_north", this file would fail [`check_latitude`](https://github.com/ioos/compliance-checker/blob/mas

[2018-10-10 21:21] benjwadams commented on #589
I might propose -A (all) instead of -H for high to make clear that all tests are skipped

[2018-10-10 21:31] benjwadams commented on #468
Whoops, my omission.

[2018-10-10 21:56] benjwadams commented on #507
I'm going to close this, mostly echoing Luke's sentiments here.  We have typically using medium priority/level 2 as recommended for CF. Although whether or not it should be considered an "error" in the compliance checker output has been discussed, the convention we have adopted for checking CF is to output "recommended" checks as level 2 checks.  For those who may be still interested in suppressin

[2018-10-10 21:56] #507 closed

[2018-10-10 23:31] mhidas commented on #589
:+1: That sounds good to me, from the usage perspective.
`:L` to skip low-priority checks,
`:M` to skip medium _and low_,
`:A` to skip all.
Leaving the letter off should be equivalent to `:A`, for backwards compatibility, and because that will likely be the most common use case.

In terms of implementation, the complication is that currently any method specified in `sckip_checks` is not actually e

[2018-10-31 18:39] daf commented on #457
This was [released in 3.0.1](https://github.com/ioos/compliance-checker/releases/tag/3.0.1)

[2018-10-31 18:39] #457 closed

[2018-11-26 13:29] #570 closed

[2018-11-26 13:39] #589 closed

[2018-12-04 00:43] mhidas opened #617 "Remove variable names from CF result names"
Following on from #578, the formatting issue is about to be fixed (#616), but for the CF checks, I think the output could be made clearer still by reducing the redundancy between the result "names" and their messages.

E.g. after merging #616, we would have something like this (for the test file bad_missing_data.nc):
[code]
I think something like this would be a bit cleaner:
[code]

[2018-12-19 17:23] Bobfrat commented on #595
Disclaimer has been added to the README in this repo and also to the About page on the web version:
https://compliance.ioos.us/about

[2018-12-19 17:23] #595 closed

[2019-01-16 17:19] daltonkell opened #619 "Climatology Check and Test"
The `check_climatolological_statistics` [check](https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L2929) in `cf.py` has a return statement in the middle of the function, cutting off the code underneath:

[code]
Additionally, the [test](https://github.com/ioos/compliance-checker/blob/master/compliance_checker/tests/test_cf.py) for this check doesn't actually test an

[2019-01-21 19:16] daltonkell opened #620 "ACDD Check Reformat"
Currently, the ACDD checks yield output like so (running on `bad_missing_data.nc`):

[code]
etc. I believe an improvement can be made fairly easily by grouping the many one-liners by their respective priorities, resulting in something like:

[code]

This will be a similar improvement made by #618

[2019-01-28 21:08] benjwadams commented on #578
Should have been addressed by #616, closing.

[2019-01-28 21:08] #578 closed

[2019-01-28 21:10] benjwadams commented on #587
Merged in by #598

[2019-01-28 21:10] #587 closed

[2019-01-28 21:11] benjwadams commented on #619
Addressed by #621

[2019-02-06 21:36] daltonkell commented on #620
Resolved/enhanced with #624

[2019-02-06 21:36] #620 closed

[2019-02-06 21:37] #619 closed

[2019-02-07 00:56] mhidas opened #626 "check_climatological_statistics applied to non-climatology variables"
I'm just  testing the latest release (4.2.0) and getting warnings about climatological variables for a dataset that doesn't have any!

For example, [this file](http://thredds.aodn.org.au/thredds/catalog/IMOS/ABOS/SOTS/Pulse/real-time/catalog.html?dataset=IMOS/ABOS/SOTS/Pulse/real-time/IMOS_ABOS-SOTS_W_20150325T110000Z_Pulse_FV00_Pulse-11-2015-MRU-Surface-wave-height-realtime.nc) has (subset of CDL

[2019-02-07 01:01] mhidas commented on #626
It looks like the problem is [here](https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L2970), applying the climatology-specific regex to _all_ `cell_methods` attributes, not just those of identified climatology data variables.

I also note that there's a `get_climatology_variable` function in [cfutil.py](https://github.com/ioos/compliance-checker/blob/master/compli

[2019-02-07 01:08] mhidas commented on #578
Looks much better. Thank you!

[2019-02-07 01:11] mhidas commented on #617
:+1: Thanks!

[2019-02-07 17:17] daltonkell commented on #626
From the [CF 1.7 Standards](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#climatological-statistics), here's an example they give of a dataset with compliant climatology attributes:
[code]
My understanding is that, if a dataset has a variable with the `climatology` attribute, *only then* should the `cell_methods` attributes of any of the variables be checked t

[2019-02-13 01:51] mhidas commented on #626
:+1: Thanks!
(Apologies for the late review)

[2019-02-13 01:51] #626 closed

[2019-02-13 15:58] benjwadams commented on #512
This is a tooling issue on third party services, not a code issue, and should be dealt with using the appropriate web hooks for DockerHub, etc.  I'm going to close this and we can discuss elsewhere.

[2019-02-13 15:58] #512 closed

[2019-02-13 16:02] benjwadams commented on #557
@giumas: this is less about compatibility with Python 2 and 3 and more about moving to just Python 3 in some new compliance checker version.  In particular, handling Unicode in Python 2 has been fairly painful.

I think it'd be good to revisit this sometime after the CF 1.7 milestone is completed.

[2019-02-13 16:12] benjwadams commented on #446
I am unable to reproduce this using the file supplied with either the current CF or ACDD checkers, so I'm going to close this issue.

[2019-02-13 16:12] #446 closed

[2019-02-13 16:23] benjwadams commented on #467
Extended discussion should occur on the repo for the NCEI plugin checks: https://github.com/ioos/cc-plugin-ncei

Maybe related: https://github.com/ioos/cc-plugin-ncei/issues/37

Going to close and the issue/discussion can continue on that repo.

[2019-02-13 16:23] #467 closed

[2019-02-13 17:10] benjwadams commented on #70
@mbiddle-bcodmo @mhidas, I've revisitied this issue with a > 1GB glider file and am getting about a 5 second maximum runtime on the ACDD checker.  Further investigation with `cProfile` reveals that the bulk of the runtime was for `check_lon_extents` and `check_lat_extents`, both of which ran data access against the lon and lat min/max respectively.  Running the CF checker took 1.34 seconds.

One m

[2019-02-13 18:08] giumas commented on #557
@benjwadams got it! Given the coming [Py2 EOF](https://pythonclock.org/), it makes total sense.

[2019-02-13 22:45] mhidas commented on #70
Thanks @benjwadams . I haven't encountered any such issues in a while. I have also just done a quick CF & ACDD check on a few  1+ Gb files and they all ran in a couple of seconds. So as far as I'm concerned, this issue can be closed.

[2019-02-14 14:03] mbiddle-bcodmo commented on #70
This is great! Thanks @benjwadams! Unfortunately I haven't used the check in quite a while. But, I just tested it with a 2.4 GB gridded file from NCEI (https://www.ngdc.noaa.gov/thredds/catalog/regional/catalog.html?dataset=regionalDatasetScan/chesapeake_bay_M130_2017.nc) and it ran in seconds. This performance is much better.

[2019-02-20 14:50] daltonkell commented on #515
The current updates to the checker reside on the [cf_1_7 branch](https://github.com/ioos/compliance-checker/blob/cf_1_7_dev) (it'll have to be rebased before merging).

There are two changes I am unsure about:

1. Ticket 87: After reviewing, I believe that the change indicated on [Ticket 87](https://cf-trac.llnl.gov/trac/ticket/87) is already accounted for here https://github.com/ioos/compliance-c

[2019-02-20 16:49] daltonkell commented on #610
Is this good to close as [ioos/cc-plugin-glider#26] (https://github.com/ioos/cc-plugin-glider/pull/26) has been merged?

[2019-03-20 13:42] #70 closed

[2019-03-29 14:15] daltonkell opened #636 "Add format field to `_check_formula_terms` missing variables string"
The value supplied to the format argument for missing variables refers to the coordinate variable (`coord`), not the actual missing missing variables (`missing_vars`) here https://github.com/ioos/compliance-checker/blob/master/compliance_checker/ioos.py:

[code]
This can be fixed by adding another format field.

[2019-03-29 14:21] daltonkell opened #637 "ACDD: Add coverage_content_type instead of coverage_content"
Here https://github.com/ioos/compliance-checker/blob/master/compliance_checker/acdd.py#L701, if the `coverage_content_type` is missing, `coverage_content` is added to the error message. This should be `coverage_content_type`.

[2019-03-29 16:24] daltonkell opened #638 "CF check_grid_coordinates: improve message"
If a geophysical variable defines a grid, the variables in its axis map should be associated with a true latitude or true longitude coordinate. In addition, the dimensions of the variables in its axis map should be a subset of the geophysical variable in question. The current messages are a bit obscure for someone not familiar with this particular part of CF:

[code]
A tiny bit of context would he

[2019-04-10 15:10] daltonkell opened #639 "Cast vert_min, vert_max to float in _check_total_z_extents"
In `acdd.py`, `_check_total_z_extents()` seeks to check the stated vertical extents found in the metadata to the extents of the real data. It uses `numpy` to compare the two values, but will raise a `TypeError` if one of the values is a string:

[code]
This is easily rectified by casting both `vert_min` and `vert_max` as floats.

[2019-04-11 13:53] daltonkell commented on #636
I actually supplied the wrong link to the code -- the correct location of this issue is https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L1845

[2019-04-11 15:47] benjwadams opened #641 "Add test coverage report"
It'd be nice to have a test coverage report so we could see which checks have adequate test case coverage.

[2019-04-11 15:58] benjwadams commented on #519
I don't see a BaseCheck.MEDIUM in the current result.
Could you confirm this, or point out what I'm missing?

[2019-04-12 16:28] benjwadams commented on #534
@mhidas, I've just gotten back around to revisiting some of the compliance checker results.  I'm pretty sure the above commit will fix the issues described, but I don't have any files like the one you described where all values are passing for a particular checker.  Do you still have that input file and could I use it or something similar to create a test to ensure that it works as desired?

[2019-04-12 20:13] #637 closed

[2019-04-12 20:13] #638 closed

[2019-04-12 20:14] #639 closed

[2019-04-12 20:15] #636 closed

[2019-04-15 14:45] Bobfrat commented on #519
This is where their existence is defined as LOW: https://github.com/ioos/compliance-checker/blob/6fcb4babc5ef6ab7ef2d03e77a5adccb76cda231/compliance_checker/acdd.py#L67-L78

This is where the ISO compliant check is MEDIUM: https://github.com/ioos/compliance-checker/blob/6fcb4babc5ef6ab7ef2d03e77a5adccb76cda231/compliance_checker/acdd.py#L652-L672

[2019-04-17 19:18] #468 closed

[2019-04-19 13:52] christensenmichael0 opened #650 "CF-1.6 numpy error"
When upload a .nc file (using CF-1.6) I'm seeing this error:

Error while processing the job.

AttributeError: 'numpy.ndarray' object has no attribute 'lower'

[2019-04-19 16:41] benjwadams commented on #650
Could you provide a file and run compliance checker with the `-v` argument so we can see where this error is occurring?

[2019-04-23 16:53] benjwadams commented on #519
@Bobfrat, OK to close after PR?

[2019-04-23 16:56] benjwadams commented on #650
This was due to non-string attributes being passed into the `standard_name_vocabulary` global attribute and subsequently trying to call `.lower()` on the attribute, which was obviously not implemented.

[2019-04-23 17:10] Bobfrat commented on #519
i'll give it a test drive

[2019-04-24 14:22] benjwadams commented on #534
Fixed up by combination of #644 and #652 .   Unit test and call from command line now show the appropriate behavior when running against the `ncei_gold_point_1.nc` file generated by the unit tests.  Closing.

[2019-04-24 14:22] #534 closed

[2019-04-24 14:41] benjwadams commented on #610
^ We should list those checkers anyways, but going forward prefer that a version number is supplied.

[2019-04-24 18:27] benjwadams commented on #650
Fixed by #651, closing.

[2019-04-24 18:27] #650 closed

[2019-04-28 23:49] mhidas commented on #534
:+1: Thanks @benjwadams ! Apologies for the slow response (I've been out of the office). That looks  good to me. I just ran the latest master code on the file I used in the  examples above and it now  correctly  returns a  fail for the combined result.

[2019-05-15 14:55] daltonkell opened #653 "`wmo_platform_code` check"
The IOOS Metadata Profile, v1.2 defines a new global variable in `wmo_platform_code` in the `platform` [section](https://ioos.github.io/ioos-metadata/ioos-metadata-profile-v1-2.html#platform). If the dataset uses a platform where a WMO code is appropriate, the `wmo_platform_code` is a required global attribute. Otherwise, it's not required.

Since the Compliance-Checker has no real way to discern

[2019-05-23 14:40] mstoessel opened #654 "WKT possible bad value"
" Could not parse WKT, possible bad value for WKT"
Could you please be more specific what this means.
Thank you

[2019-05-23 19:30] Bobfrat commented on #654
@mstoessel Thanks for using the compliance checker. Can you provide some more info about how you got this message? For example which attribute/variable, which test were run, and were you using the web version or command line? A url to the file or .cdl is usually helpful when posting issues here as well.

My best guess is that this error came from the geospatial_bounds attribute check in the ACDD 1

[2019-05-23 22:16] mstoessel commented on #654
Hi Bob

Well I thought I had provided a valid OGC WKT string.  I used the example provided for the " geospatial_bounds "  with different coordinates since I needed to specify spacial extent.
This message has come up several times. You were right it had to do with  " geospatial_bounds ". I finally found the culprit, a spelling error.
It would be nice if it the possible culprit could be narrow a bit

[2019-05-24 00:17] Bobfrat commented on #654
Glad you found the culprit and really happy to hear that you're using the compliance checker in your data workflow. I'll keep this ticket open and see if we can improve the messaging for this error.

[2019-05-24 14:06] fgayanilo commented on #654
I agree that a bit more details on the error will help, like printing the value itself that caused the error.

[2019-05-24 19:50] mstoessel commented on #654
Hi Nonong

I haven't seen Laura. I asked the students in the in the office was told that they haven't seen her since Monday.
Just wanted to let you know that the portable  hard drive has not been purchased jet.
I had send her two e-mails one to purchase the hard drives with cases and an other to send one hard drive to Corpus Christi and one to CS.

Have a nice Memorial Day week end
Marion
--------

[2019-05-28 18:09] benjwadams commented on #654
Hi, I assume it was an accident, but please don't use this repo issues for personal communications.  If you could send a CDL or the netCDF, it'd be more helpful to us to reproduce this issue.

[2019-06-06 17:40] mwengren commented on #653
@daltonkell Makes sense to me.  Stations are not required to have a `wmo_platform_code`, but if it exists we want to ensure it meets formatting requirements.  I believe it's a 5 digit numerical value.

cc @kbailey-noaa @kevin-obrien Can you confirm what is expected to be in a WMO identifier?

[2019-06-06 18:49] kevin-obrien commented on #653
Yes, in most cases, WMO platform codes are 5 or 7 digit numbers.   There some exceptions to this rule (notably, ship call signs), but I don't think that should be an issue with IOOS platforms...

[2019-06-06 19:01] kbailey-noaa commented on #653
There are also shore-based stations that are part of this data pipeline to the GTS that have 5-digit alphanumeric IDs.  Those IDs are technically NWS Location Identifiers, not WMO platform codes, but NDBC delivers the data to the GTS under those IDs, so they have somewhat the same purpose.  e.g. an NOS water level station, a c-man station, basically any station on a pier would qualify, as opposed

[2019-06-11 18:36] daltonkell commented on #653
Great, I'll write this one in and check it off the list. Thanks @mwengren @kbailey-noaa @kevin-obrien

[2019-07-01 19:59] benjwadams commented on #557
Going to close this out as keeping the issue open doesn't really assist with anything.  With the upcoming Python 2 EOL, I'll say that for future major versions, Python 2 will be unlikely to be supported.

[2019-07-01 19:59] #557 closed

[2019-07-02 21:16] benjwadams commented on #654
Closing until a CDL or NetCDF file demonstrating that the aforementioned error message is unclear in the context of the error report.

[2019-07-03 20:50] benjwadams commented on #654
#660 now displays the WKT value that caused the failure, and notes that the `geospatial_bounds` attribute is the global attribute in question.  Re-closing due to fix.

[2019-07-03 20:50] #654 closed

[2019-07-08 21:50] benjwadams commented on #610
Implemented by #659, closing.

[2019-07-08 21:50] #610 closed

[2019-07-30 16:42] daltonkell commented on #515
Listed here are the changes to the CF Standard from versions 1.6 to 1.7; a checked box indicates the change has been implemented in the [new branch](https://github.com/ioos/compliance-checker/tree/cf_1_7_dev_rebase) (tickets and changes for errata are not included, only substantial changes requiring modifying existing checks or creating new logic):

- [x] Adding an attribute for `actual_range` , s

[2019-07-30 18:40] benjwadams opened #664 "Checklist for CF 1.7 implementation"
# Checklist of tasks to implement for CF 1.7 milestone
*Feel free to update or make suggestions as needed*

- [x] [#31](https://cf-trac.llnl.gov/trac/ticket/31) Adding an attribute for `actual_range` , see [Section 2.5.1](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#missing-data)
- [x] [#118](https://cf-trac.llnl.gov/trac/ticket/118), Add `geoid_name` and `ge

[2019-07-30 19:09] #515 closed

[2019-08-23 17:47] daltonkell opened #671 "Value of `geospatial_vertical_positive` not checked"
When checking for the global attribute `geospatial_vertical_positive`, the ACDD checker only looks to see if the attribute is present. It should implement a check method to examine the value, where acceptable values are `up` or `down`.

See [the standard](http://wiki.esipfed.org/index.php/Attribute_Convention_for_Data_Discovery_1-3) for the full description.

[2019-08-26 21:37] mwengren opened #672 "Checker for zarr datasets?"
How challenging would it be to add the ability for CC to validate compliance of zarr datasets (local or remote/HTTP) with some of the existing checks?

Dependency would be xarray to read zarr files (and maybe some others, not sure).

* We could check attribution for ACDD compliance of attributes
* Check for relevant aspects of CF-compliance of zarr datasets
* Others?

[2019-09-03 15:41] Bobfrat opened #673 "Add remote ERDDAP examples to README"
For example:
compliance-checker -t gliderdac "https://gliders.ioos.us/erddap/tabledap/bios_jack-20170920T1928"

[2019-09-03 16:01] ocefpaf commented on #673
@Bobfrat if compliance-checker can take a remote netCDF file we can support the sliced `.nc` response too. However, I'm not sure I would like to support that b/c we never really know the size of the file users will try to inspect. Maybe that only makes sense if we add a metadata only test (`.cdl`) to cc.

[2019-09-24 14:07] daltonkell opened #674 "`geospatial_bounds_vertical_crs` should not appear when 3D CRS is already present"
According to the definition of  `geospatial_bounds_vertical_crs` in [ACDD](http://wiki.esipfed.org/index.php/Attribute_Convention_for_Data_Discovery_1-3):

Even when a 3-D `geospatial_bounds_crs` is already present, the ACDD checker still seeks the `geospatial_bounds_vertical_crs`. This should be changed to reflect the accepted definition.

[2019-10-07 16:13] neumannd opened #675 "Handling of OPeNDAP attribute containers DODS_EXTRA and EXTRA_DIMENSION when data is accessed from TDS"
# Software Version

IOOS Compliance Checker currently available via https://compliance.ioos.us/index.html (access date: 2019-10-07)

# Issue

I wanted to check a file, which is provided by a THREDDS via OPeNDAP.

When I access a NetCDF file from a THREDDS via OPeNDAP, the THREDDS might add two OPeNDAP attribute containers `DODS_EXTRA` and `EXTRA_DIMENSION` according to this text: https://www.unida

[2019-10-08 15:48] neumannd commented on #675
Update: `_ChunckSizes` did not cause the described issue `Unidentifiable feature for variable`.

[2019-10-08 16:04] neumannd opened #676 "CF1.6 checks: issues with the longitudinal coordinate variable might be printed as "§4.1 Latitude Coordinates" issues"
# Versions

IOOS compliance checker currently running at https://compliance.ioos.us .

# Problem description

The function `test_longitude` in `test_cf.py` performs some checks on the longitudinal coordinate variable. If a test fails, `§4.1 Latitude Coordinates` is prepended the the warning / error message (line 585 in `test_cf.py`). However, it should be `§4.2 Longitude Coordinate`.

Additionally

[2019-10-08 16:20] neumannd commented on #676
Created pull request #677

Additionally, replaced references to `4.1` by `4.2` in function `check_longitude` in `cf.py`.

[2019-10-09 10:19] neumannd commented on #675
Pull request #678 fixes this issue

[2019-10-09 11:53] #676 closed

[2019-10-09 12:06] neumannd commented on #675
Pull request #678 successfully merged. Closing Issue.

[2019-10-09 12:06] #675 closed

[2019-10-17 15:47] neumannd opened #679 "`Unidentifiable feature for variable {}` stored as message without throwing error/warning"
# Issue

If a feature type cannot be identified, the message `Unidentifiable feature for variable XXX` is not generally printed by the compliance checker but only under certain circumstances.

# Description of the Issue

When the feature type of a data variable cannot be identified as message is appended to a `TestCtx` object (in l. 3233 of function `check_all_features_are_same_type` in file `cf.p

[2019-10-17 15:53] neumannd commented on #679
I am not sure, whether this is behavior is intended or not. If not, I can create a pull request fixing this.

In the latter case: which priority should the failing check get (high, medium or low)? Should the failing check be counted each time it fails? Or, should it be counted the first time and subsequent fails should only append their messages (but not increment the check counters)?

[2019-10-22 15:59] neumannd opened #682 "Mixed two variables in checking of grid mapping"
In the function `check_grid_mapping` in `cf.py`(lines 2450 - 2451) the variable `grid_mapping_dict` was used instead of `grid_mapping`.

`grid_mapping_dict` is a dictionary containing all allowed grid mappings. `grid_mapping` is one of these grid mappings currently applicable. At the particular location in the code, the fourth element (with index 3) of the `grid_mapping` list should be used if it

[2019-10-23 18:51] #682 closed

[2019-10-28 15:24] benjwadams commented on #679
@neumand, sorry for taking a little while looking at this.  In the event that there are unidentifiable features, the checker should keep the high priority per CF section 9.1 .  The unidentifiable features don't need to be deducting each time.  Once is enough.  the compliance these days still keeps the "score" under the hood, but we're mostly checking whether a given check "passes" (score == possib

[2019-10-29 20:06] benjwadams opened #688 "actual_range/min/max issues"
The `actual_range` check checks whether its bounds are are not equal to the bounds of `valid_range`, or `valid_min`/`valid_max` rather than being contained within the valid values.
Additionally, `actual_min` and `actual_max` don't appear to be checked.

[2019-10-30 15:53] benjwadams commented on #688
There are more issues:

`valid_range` is still valid if all data values are have the same value.  In this case, min == max == actual_range[0] == actual_range[1].

This needs to be accounted for.

[2019-10-30 16:25] neumannd commented on #679
@benjwadams Thanks for the reply. I am not sure whether I got the last part correctly: Because the results are summarized on per-check-basis it does not matter whether I call `assert_true()` (at the particular instance of `TestCtx`) for each variable or don't call it anymore after the first `unidentifiable feature` -- right? In the case of the `standard_name`-checking the function `assert_true()`

[2019-11-06 18:14] benjwadams commented on #688
Closing due to changes implemented in #689

[2019-11-06 18:14] #688 closed

[2019-11-07 18:28] neumannd opened #691 "§5.6: when checking for required standard names for grid mappings -- error when more than one occurrence"
Grid mappings require some variables with specific `standard_name`s to exist (CF §5.6 and Appendix F). Namely, two variables with the `standard_name`s `projection_x_coordinate` and `projection_y_coordinate` have to exists. The IOOS Compliance Checker checks this in the function `check_grid_mapping` close to line 2462:

[code]

An error is thrown if there is not exactly one occurrence (`assert_true

[2019-11-07 19:40] neumannd opened #692 "Under wish conditions and where in the code is an error like `x is not associated with a coordinate defining true latitude and sharing a subset of dimensions` thrown?"
Sorry for mis-using the issue tracker for questions. I wasn't sure whom to contact. Is there a mailing list or something similar?

I get the error

[code]

In my opinion the tested file is properly structured. Now, I wanted to find out where exactly this error is thrown but I don't find the location in the code. Grepping for `not associated`, `sharing` and/or `subset` did not yield a reasonable re

[2019-11-07 19:50] daf commented on #692
Hi @neumannd, I found your string to have existed in a slightly older version of the code, specifically it was changed in this commit: cf2de3b6111cc0f36c5744b9e0c707062de8e5bc which looks to be unreleased so far.  This may be why you are having trouble with the exact wording.  The specific check you're looking for is [check_grid_coordinates](https://github.com/ioos/compliance-checker/blob/b530ab70

[2019-11-08 07:09] neumannd commented on #692
@daf Thanks for looking it up. I should have used the development version of the compliance checker to test my files ... :-) .

[2019-11-08 07:09] #692 closed

[2019-11-12 19:51] benjwadams commented on #691
I'm looking at the code and the standard, and I have to agree that having more than one `projection_x_coordinate` and `projection_y_coordinate` as in the case of this file should be fine, so long as each one corresponds to a different set of grid mapping coordinates.

[2019-11-12 19:58] benjwadams commented on #679
Ideally, a message would appear for each unidentifiable feature.  Score is somewhat irrelevant, as long as `score < out_of` for error cases.

[2019-11-14 07:59] neumannd commented on #691
Then we switch from testing `== 1` to `>= 1`? I will create a pull request when I have a confirmation.

Currently, I don't see any possiblity to check directly to which grid mapping a set of projected x/y coordinates belongs to.

[2019-11-14 22:42] #691 closed

[2019-11-15 17:56] benjwadams commented on #295
Closing due to changes implemented in #667.  SOS checker is implemented as a special case where subclasses are run, but by default, checkers do not use subclass behavior.

[2019-11-15 17:56] #295 closed

[2019-11-15 17:59] benjwadams commented on #69
SOS seems to be rather on the wane recently.  We are mainly targeting CF and ACDD in the core checker these days.  I'd recommend that if people want to support specialized SOS/MMI vocabularies that this be built as a plugin.

[2019-11-18 16:15] benjwadams commented on #69
Closing due to inactivity and current project priorities.  If a checker is desired to extend the facilities for checking SOS/MMI metadata, they should be created in a separate plugin.

[2019-11-18 16:15] #69 closed

[2019-11-18 18:10] #679 closed

[2019-11-18 18:19] Bobfrat commented on #69
Some of this could be put into a IOOS v1.2 milestone.
https://ioos.github.io/ioos-metadata/ioos-metadata-profile-v1-2.html
This references vocabulary for platforms, instruments, contributor_role etc

[2019-11-19 18:29] benjwadams commented on #664
Looks like everything has been implemented. Closing this issue.

[2019-11-19 18:29] #664 closed

[2019-11-19 20:05] benjwadams opened #705 "Fixing AppVeyor failures"
Looks like there are a couple AppVeyor failures:

On `master`, a couple packages seem to be conflicting when Conda attempts to build compliance checker:
Excerpt from https://ci.appveyor.com/project/ocefpaf/compliance-checker/builds/28942286:
[code]
On the `cf_1_7_dev_rebase` branch, changes introduced by the [CF Appendix A checks](https://github.com/ioos/compliance-checker/pull/694) caused issues

[2019-11-25 21:03] benjwadams commented on #705
I tried again using Conda and was able to replicate some of the build/test failures this time around.  It looks like the first issue may be related to versioning conflicts when building the environment under Python 2.7.  My ken at updating conda recipes is somewhat limited, so I don't immediately know how I might fix these specifications.

The second issue appears to be due to endianness compariso

[2019-11-25 21:13] benjwadams commented on #705
Related: 820006c43f3f0babfa42cb7909261d2fbda67f7d
Relaxes endianness checking on numeric types.

[2019-11-26 09:35] ocefpaf commented on #705
Looking into that.

[2019-11-26 16:02] benjwadams commented on #705
Thanks @ocefpaf.  I'll take care of the remaining failure on the CF 1.7 feature branch and then we should be hopefully be good to go for merging this in.

[2019-11-27 20:12] benjwadams commented on #705
Looks like a regression occurred with respect to the AppVeyor runs under 2.7.  I can't figure out why -- it looks like build script changes introduced by #707 are still there.

[2019-11-27 20:18] benjwadams commented on #705
Possibly due to PyProj dependency?  Looks like the pinned versions under Conda only support Python 3.  The Travis builds completed and my local Python 2.7 runs of the tests work fine though.

[2019-11-27 20:43] ocefpaf commented on #705
In #707 `pyproj` is not specified. That is a legit issue due to https://github.com/ioos/compliance-checker/commit/c39bed1cf4c839fd7d47f772246b2c6181c484a0

If that version is really needed we should drop Python 2.7 support.

[2019-12-02 02:31] benjwadams commented on #705
Thanks, I'll have a look tomorrow and come to a decision and make a release.  I've unassigned you since this was an issue brought about by a change I pushed. The updated PyProj versions were for consistent handling of the Proj4 database, which I determined was the simplest way to determine various CRS-related names.  I tried, but could not find ways to check if the CRS was valid without resorting

[2019-12-02 03:11] benjwadams commented on #705
OK, I think the DB references for WKT validation are fine, elsewhere it looks like `pyproj.CRS.from_wkt` is used.  In terms of tagged releases, that will probably require at least 2.x series for PyProj.  The latest build on conda-forge targeting both Windows x64 and Python 2.7 appears to be PyProj 1.9.6: https://anaconda.org/conda-forge/pyproj/files?sort=basename&sort_order=desc&page=1

Unless som

[2019-12-02 10:59] ocefpaf commented on #705
Yep. `Proj >=6` does not build with `vc9` (Python 2.7 on Windows).

IMO yes. We don't have any officials plans to drop Python 2.7 in IOOS but based on my assessment last DMAC we are OK dropping support in Jan 1st, 2020.

[2019-12-02 17:09] benjwadams commented on #705
We're now good after removing the Py2.7 build from AppVeyor.  Closing this issue.

[2019-12-02 17:09] #705 closed

[2020-01-17 14:28] daltonkell opened #716 "CF Grid Mapping Required Attributes"
The CF-1.7 checker incorrectly requires all attributes listed when only some are applicable.

[Appendix F](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#appendix-grid-mappings) describes the grid mapping specifications:

The operative phrase is

The checker's incorrect behavior is illustrated in the following example, testing the `lambert_conformal_conic` grid

[2020-01-17 15:07] daltonkell opened #717 "CF grid mapping error message"
The grid mapping error message found in

https://github.com/ioos/compliance-checker/blob/380e16a4f84135605632d75e398564d6885d0de1/compliance_checker/cf/cf.py#L295-L298

should contain an extra space between "exactly" and "one".

[2020-01-17 16:03] daltonkell opened #718 "cf_role check message unclear"
In the check for valid `cf_role` attribute

https://github.com/ioos/compliance-checker/blob/380e16a4f84135605632d75e398564d6885d0de1/compliance_checker/cf/cf.py#L3832-L3839

the message indicates that the *variable* is not a valid `cf_role`, when the `cf_role` attribute itself should be displayed.

[2020-01-17 17:21] daltonkell opened #719 "Unidentifiable type messages for every variable"
When checking some datasets, there are an abundance of messages indicating that no `featureType` could be found for a set of variables, e.g.

[code]

Since pull request https://github.com/ioos/compliance-checker/pull/695, the following snippet seems to cause this:

https://github.com/ioos/compliance-checker/blob/380e16a4f84135605632d75e398564d6885d0de1/compliance_checker/cf/cf.py#L3773-L3787

@neu

[2020-01-17 20:48] daltonkell opened #720 "CF computed_standard_name message needs improvement"
When checking the `computed_standard_name` of a variable, this message is ambiguous:

[code]
In the code, this message appears when the attribute does not exist. It should only appear when the attribute is incorrect; otherwise, the message should explicitly indicate its absence.

https://github.com/ioos/compliance-checker/blob/380e16a4f84135605632d75e398564d6885d0de1/compliance_checker/cf/cf.py#L4

[2020-01-17 22:50] benjwadams commented on #719
Please post file or CDL so that we can replicate the behavior.

[2020-01-20 07:40] neumannd commented on #719
In the CF Conventions the `featureType` is only defined for _non-gridded variables_ (roughly speaking; see for details CF [9.1. Features and feature types](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#_features_and_feature_types)).

The IOOS Compliance Checker tries to guess feature types for all variables and provides different feature types for gridded data

[2020-01-20 08:36] neumannd commented on #716
The usage of `false_easting` and `false_northing` (whether optional or not) is ambiguously described in the CF Conventions 1.7 (see cf-convention/cf-conventions#212). Based on the definition of individual projects it was not clear whether the `false_*` attributes were optional or not. See for example the definition of the [Lambert Conformal projection](http://cfconventions.org/Data/cf-conventions/

[2020-01-20 14:33] daltonkell commented on #716
Thanks for the input, @neumannd. That pull request certainly clears the language up, which is great. Still though, an update will need to be made to the Compliance Checker to reflect the revision, probably in Appendix F:

https://github.com/ioos/compliance-checker/blob/380e16a4f84135605632d75e398564d6885d0de1/compliance_checker/cf/appendix_f.py#L136-L149

The lines with `false_easting` and `false_

[2020-01-20 14:41] daltonkell commented on #719
@benjwadams The behavior can be replicated using this dataset: `http://tds.eds.ioos.us/thredds/dodsC/ioos/ofs/cbofs/forecast/fields/CBOFS_Forecast_Fields_best.ncd`

[2020-01-20 15:43] neumannd commented on #716
@daltonkell I fully agree

[2020-01-23 00:41] yosoyjay opened #721 "CF check for actual_range fails for packed values and if _FillValues are used"
The CF check for `actual_range` can erroneously fail under two conditions:
- If `_FillValues` is used
- If the data is packed and `valid_range` is defined

The `check_actual_range` method removes the mask exposing the `_FillValue` to be used as the basis for testing the range specified in `actual_range` [cf.py](https://github.com/ioos/compliance-checker/blob/master/compliance_checker/cf/cf.py#L399

[2020-01-27 16:40] daltonkell opened #722 "Potential Issue -- Computed Standard Names check examines variable(s) examines s_rho"
In testing this dataset http://tds.eds.ioos.us/thredds/dodsC/ioos/ofs/dbofs/forecast/fields/DBOFS_Forecast_Fields_best.ncd, the Compliance Checker yields a result for the computed_standard_name:

[code]

Both `s_rho` and `s_w` are dimensionless vertical coordinates. They each have a `formula_terms` attribute, and the variables listed there should map to a `computed_standard_name`, but *not* `s_w`

[2020-01-28 16:08] mwengren opened #723 "Sample ERDDAP datasets to test with Metadata Profile 1.2"
@ioos/compliance-checker: Listing some existing ERDDAP datasets that have been updated to be compliant with version 1.2 of the IOOS Metadata Profile that you can test with for the upcoming milestone:

PacIOOS:
- https://pae-paha.pacioos.hawaii.edu/erddap/info/AWS-HIMB/index.html

SECOORA:
- http://erddap.secoora.org/erddap/tabledap/edu_usf_marine_comps_1407d550.html

CeNCOOS:
- http://erddap.cenco

[2020-01-28 17:11] jessicaaustin commented on #723
That looks like a good starting point. Also, I am happy to help test these compliance checker updates when they are ready, just message me here!

[2020-01-28 17:42] pacioos commented on #723
PacIOOS:
- https://pae-paha.pacioos.hawaii.edu/erddap/info/AWS-HIMB/index.html
- https://pae-paha.pacioos.hawaii.edu/erddap/info/AWS-HNLPier1/index.html
- https://pae-paha.pacioos.hawaii.edu/erddap/info/WQB-04/index.html
- https://pae-paha.pacioos.hawaii.edu/erddap/info/WQB-05/index.html

[2020-02-03 10:07] neumannd commented on #716
The issue cf-convention/cf-conventions#212 has been solved and the corresponding pull request cf-convention/cf-conventions#225 has been accepted. The modification will be included in the CF Conventions v1.8.

[2020-02-04 20:00] neumannd commented on #716
I updated the file `appendix_f.py` and created a pull request. Hope that is OK.

[2020-02-04 20:34] neumannd opened #725 "Generate netCDF-4 format file from cdl files instead of netCDF-classic format files"
# Current situation:

When a cdl file is provided to the compliance checker, a netCDF-classic file is created via `ncgen`.

Code (`suite.py`, l.669ff):

[code]

# Problem

The cdl file might contain netCDF-4 features that do not exist in the netCDF-classic format -- e.g. additional [primitive data types](https://www.unidata.ucar.edu/software/netcdf/docs/netcdf_utilities_guide.html#cdl_data_types).

[2020-02-05 13:36] neumannd commented on #725
Alternatively, one could try to create a netCDF classic file, first, and, in case of an error, try to create a netCDF-4 file as follows:

[code]

I could also provide three new test cases to check the proper behavior.

[2020-02-05 14:49] daltonkell commented on #725
I am fully in support of adding this enhancement! It may be advantageous to try and create a NetCDF-4 file by default, as this is the newer, enhanced format, and then fall back on the NetCDF Classic format. Perhaps @benjwadams has an opinion on this.

Looking forward to the pull request.

[2020-02-05 18:04] neumannd commented on #725
Accidentally, both ncgen-calls created a netCDF-4 file. Here is a modified version (first netCDF-4; fall-back netCDF classic):

[code]

[2020-02-06 14:53] daltonkell opened #726 "Dropping Python 2.7 Support"
With the [official end-of-life of Python 2.7](https://www.python.org/doc/sunset-python-2/) behind us, is it now appropriate to drop support for Python 2.7 in the automated test suites and CI?

[2020-02-06 16:24] daltonkell opened #727 "StandardNameTable enhancement"
The CF StandardNameTable uses list comprehensions in a variety of places, e.g.

https://github.com/ioos/compliance-checker/blob/380e16a4f84135605632d75e398564d6885d0de1/compliance_checker/cf/util.py#L276-L279

More efficient data structures, such as a `set`, could be used to improve lookup performance.

[2020-02-06 19:20] benjwadams commented on #726
Yes, that'd be fine to remove from Travis and elsewhere.  I believe @ocefpaf has already removed the Python 2.7 support for the AppVeyor build.

[2020-02-10 20:49] benjwadams commented on #726
The use of Python 3 only should probably be further codified via the use of [python_requires](https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires) in `setup.py` prior to closing out this issue.

[2020-02-10 20:49] ocefpaf commented on #726
I'm working on a PR that removes a lot of Python 2 code and will do that too. PR soon...

[2020-02-17 15:13] neumannd opened #744 "Question on handling external data tables in IOOS Compliance Checker Plugins"
I am creating a Plugin for the IOOS Compliance Checker and wish to check some netCDF metadata against externally provided data tables. These externally provided data tables are update frequently. This is already the case for some existing plugins such as the CF Checker (standard names XML file) and Glider (several data tables) plugins.

I would have prefered this solution: ship the current version

[2020-02-17 15:23] daf commented on #744
You've got the right approach here - env var would have priority, then the automatic/check for updates technique.  I'd use the [XDG dirs](https://pypi.org/project/xdg/) library - probably should be stored in `XDG_DATA_HOME` somewhere.  On Linux this is typically `~/.local/share` (and you'd append `/compliance-checker` via a Path object).  Looks like this library handles Windows too, so just let it

[2020-02-17 16:28] neumannd commented on #744
@daf: Thanks for the reply and the hint to XDG.

I asked a [similar but more general question at Stackoverflow](https://stackoverflow.com/q/60264957/4612235) and just got suggested the [appdirs](https://pypi.org/project/appdirs/) package. Both packages seem to have a similar functionality and are frequently updated ([xdg at GitHub](https://github.com/srstevenson/xdg); [appdir at GitHub](https://gi

[2020-02-17 18:46] daf commented on #744
@neumannd appdirs looks quite good and follows the same spec; I appreciate how the docs show where the directories typically are for each of the major platforms.  You should likely use that.

[2020-02-17 21:54] benjwadams commented on #744
Funny, was just hacking on this a little while ago on a WIP branch:

https://github.com/benjwadams/compliance-checker/tree/external_resources_cache_wip

I don't know the full history of the Compliance Checker, but in earlier versions, we only really needed to validate against the CF Standard Name list, and possibly download newer ones.  As you mentioned, there are a couple mechanisms in the glider

[2020-02-17 22:58] benjwadams commented on #726
@ocefpaf's previously mentioned PR, #734, likely removed most, if not all vestiges of Python 2 support.  In any event, even if we are to find some omissions in places, Python 2 will probably no longer be backwards compatible with the current codebase.  I'm going to close this issue because we've essentially ported everything over to just Python 3 at this point, and further fixup commits can be mad

[2020-02-17 22:58] #726 closed

[2020-02-17 22:59] benjwadams commented on #725
Implemented by #729, closing.

[2020-02-17 22:59] #725 closed

[2020-02-24 17:40] neumannd commented on #744
That sounds to be a reasonable approach. Are you already working on this or may I support you in implementing this?

[2020-02-25 19:54] benjwadams commented on #744
@neumannd: I've pushed up a work-in-progress branch here: https://github.com/benjwadams/compliance-checker/tree/external_resources_cache_wip
Implementation details may change or I may rebase onto a new branch as the methods are currently stubs, but this represents an initial attempt at some of the caching mentioned in some of this discussion.

[2020-02-26 07:10] neumannd commented on #744
@benjwadams  Thanks for pointing at it. I will have a look and see if I can contribute.

[2020-02-26 13:33] daltonkell opened #746 "IOOS 1.2 `NamingAuthorityValidator` error"
Upon calling the `ioos:1.2` check on this [SECOORA dataset](http://erddap.secoora.org/erddap/info/edu_usf_marine_comps_1407d550/index.html), an exception is caught:

[code]

Side note: "occurred" is spelled incorrectly in the above message.

[2020-02-26 13:37] daltonkell opened #747 "IOOS:1.2 redundant messages"
When calling the `ioos:1.2` checker on this [SECOORA dataset](http://erddap.secoora.org/erddap/info/edu_usf_marine_comps_1407d550/index.html), the following messages  appear:

[code]

If a message describes what an attribute *should* be, it is redundant to also display that the attribute is not present in a second message

[2020-02-26 13:57] daltonkell opened #748 "IOOS:1.2 `platform` check"
Calling the `ioos:1.2` checker on this [SECOORA dataset](http://erddap.secoora.org/erddap/info/edu_usf_marine_comps_1407d550/index.html) yields the following messages:

[code]

This dataset is not a gridded model, and contains the attribute `platform: buoy`.

[2020-02-26 15:39] daltonkell commented on #748
__Update__

Upon further investigation, the `ncdump -h` of this dataset reveals that `platform` is actually not included in the header:

[code]
The dataset was obtained via
[code]

This may be why the checker thinks it's a gridded model.

[2020-02-26 16:16] daltonkell commented on #748
Indeed - after getting the full `.nc` file

[code]

, the check yields this result regarding the platform:

[code]

This is the desired behavior, as dimensionality of the variable containing `cf_role` suggests that multiple stations are used:

[code]

where

[code]

@mwengren this is what you expect, correct?

[2020-02-26 16:27] benjwadams commented on #746
@daltonkell, are you running off of latest master?  This was an oversight on my part and should be fixed in 0668c337e96578eaef2cc734ebd2bfe231284cc4 and 71b94963bbd1574b7517ea91ca025799119f55fd.

[2020-02-26 16:34] daltonkell commented on #746
The wonders of `git fetch`

[2020-02-26 16:34] #746 closed

[2020-02-26 20:32] mwengren commented on #748
@daltonkell Yes, that's what we expect to happen currently.

Regarding the SECOORA dataset, this an issue I raised to Axiom last week.  It gets a little tricky with ERDDAP though, because there are different netCDF representations of the same tabledap dataset.  It looks like you requested the .nc format: this actually is the 'flattened' version of the file I believe, and won't ever be CF DSG compl

[2020-02-26 20:55] daltonkell commented on #748
@mwengren I'm doing a bit of updating to that check now, and would be happy to update the message.

The first comment isn't necessarily applicable, but I think that has more to do with the format and how that subsetted the data. Apparently using the `.../index.nc` does not get the actual dataset (?)... I'm a bit unfamiliar with the plethora of ERDDAP data formats.

I'll be testing extensively with

[2020-02-27 00:04] mwengren commented on #748
@daltonkell take a look at the table of output formats/fileTypes here: https://coastwatch.pfeg.noaa.gov/erddap/tabledap/documentation.html.  There are only two that I think can be expected to be DSG-compliant: .ncCF and .ncCFMA and therefore be used for that check.

I guess we'll have to vary what output format the checker retrieves from ERDDAP if it's passed an ERDDAP URL and is performing the IO

[2020-03-07 00:13] mwengren opened #754 "Change 'standard_name_uri' to 'standard_name_url'"
Compliance Checker 4.3.3rc1 checks for `standard_name_uri`.  We've recently changed this in the profile to `standard_name_url`.  Can we update the code accordingly before next release or rc?

[2020-03-07 00:16] mwengren opened #755 "Error while running 'ioos' test on ERDDAP dataset"
When I run the following in 4.3.3rc1:

[code]
I get this error:
[code]

It works as expected on some other ERDDAP datasets, not sure what the issue might be here.

[2020-03-07 00:27] mwengren commented on #755
Update: I get this error running the `ioos` test on several datasets:

[code]
But not on the `acdd` test:
[code]
Something local within my environment or within the code?

[2020-03-09 13:34] ocefpaf commented on #755
Those are working for me. I have:

[code]

[code]

[2020-03-09 13:41] daltonkell commented on #755
I'm not getting those errors, but I seem to be encountering an ERDDAP problem when testing the latter datasets:

[code]

and

[code]
The first two datasets were free of any errors. Has this been encountered before?

[2020-03-09 14:18] mwengren commented on #755
Thanks for weighing in.  My environment is below.  @ocefpaf I'm using the CC 4.3.3rc1, so that's one difference.

I see I have some non conda-forge stuff in there, not even sure where that would have come from.  I may just scrap this environment and recreate.

Also getting weird behavior with the PacIOOS dataset: https://pae-paha.pacioos.hawaii.edu/erddap/info/AWS-HIMB/index.html.  May create anot

[2020-03-09 14:24] ocefpaf commented on #755
Sorry. You actually mentioned that above. I can reproduce that with both the conda `rc` and a pip develop install of the rc tag on GH.

[2020-03-09 14:27] ocefpaf commented on #755
@daltonkell your version indicates that this was fixed in latest master. I tested against it and everything worked. Maybe we should issue a rc2?

[2020-03-09 15:08] daltonkell commented on #755
A new RC should probably be released if this is the case. @benjwadams can you verify?

[2020-03-09 17:35] mwengren commented on #755
Ok, this is resolved in latest version of master, closing this issue.

[2020-03-09 17:35] #755 closed

[2020-03-09 18:04] mwengren opened #757 "Supress reporting on 'required, if applicable' attributes. Fix gts_ingest notification messaging."
Looking at some output from some example datasets we've listed in #723, I ran a test on PacIOOS' [AWS-HIMB](https://pae-paha.pacioos.hawaii.edu/erddap/info/AWS-HIMB/index.html) dataset.

Output is available here for reference: [HTML](https://gist.github.com/mwengren/82496d8114bab0776ae34ef70510b2a1), [JSON](https://gist.github.com/mwengren/df78535eb260133df8ac6b92e1fb72d2).

Both the `gts_ingest`

[2020-03-09 18:15] mwengren opened #758 "qartod_variable:references message: change wording to include 'not present' message"
Many of the 'recommended' attribute tests follow the pattern:

[code]

As worded currently, the `qartod_variable:references` check doesn't include a message to this effect, so it's a bit confusing:
[code]

Can we change wording to something along the lines of, for example:

[code]

[2020-03-09 18:41] mwengren opened #759 "Add a test to check whether dataset meets IOOS' Requirements for GTS Ingest?"
The IOOS Metadata Profile 1.2 has specific guidelines for complying with attribution and dataset structure to allow [ingesting datasets to the GTS](https://ioos.github.io/ioos-metadata/ioos-metadata-profile-v1-2.html#requirements-for-ioos-dataset-gts-ingest) by our partners at NDBC.

Is it possible to write a test that can do the minimal possible check of a dataset to output:

1. Whether or not a

[2020-03-09 20:49] mwengren opened #760 "Check of http://testing.erddap.axds.co/erddap/tabledap/org_cormp_sun2 produces incorrect results"
Running the following:
[code]

Produces unexpected results.

For details of the test output, see:
https://gist.github.com/mwengren/d0a921b5b83661b0098437bfefc05701

and dataset attribution can be found here:
http://testing.erddap.axds.co/erddap/tabledap/org_cormp_sun2.das

Test| Message
--------|----------
gts_ingest | gts_ingest
platform | The global attribute "platform" must be a single string c

[2020-03-09 21:01] mwengren commented on #760
Also, I believe `wmo_platform_code` can be alphanumeric.  @kbailey-noaa can you confirm this?

[2020-03-09 21:16] fgayanilo commented on #760
correct me if otherwise; wmo is purely numeric as per their syntax (https://www.wmo.int/pages/prog/amp/mmop/wmo-number-rules.html). I have seen a couple of urn implementations that use some local labels and tag them as wmo. I think this should be avoided when possible.

[2020-03-09 21:21] mwengren commented on #748
Following up with a specific example on how to check the 'Platform Variable' dimensionality in ERDDAP.  For the moment, let's hold off on making any code changes related to this check - we need to regroup with NDBC to better understand their needs for harvesting, and we may have to relax the requirement for 'Platform Variable' to have dimension=1 as a result.  TBD.

Regardless, if we were to check

[2020-03-09 21:24] mwengren commented on #760
ok, thanks @fgayanilo, I was hoping someone with better knowledge would interject.   I'm assuming Kevin O'Brien has some insight, but I lost his GitHub handle...

[2020-03-09 21:27] fgayanilo commented on #748
while in it, can you also clarify with NDBC what data qualifies to be GTS worthy?

[2020-03-10 15:47] benjwadams commented on #755
@daltonkell, feel free to go ahead and make a new release candidates once the most exigent IOOS 1.2 related PRs are merged.

[2020-03-10 15:54] kbailey-noaa commented on #760
@mwengren @fgayanilo What we're calling "WMO ID" (i.e. wmo_platform_code) for the IOOS Metadata Profile includes both the WMO ID for buoys (numeric, 5 digits), WMO ID for gliders (numeric, 7 digits), and the NWS ID (alphanumeric, 5 digits).  These IDs are all used by NDBC for delivering data to the GTS.

[2020-03-10 16:23] mwengren commented on #760
@kbailey-noaa thanks!  So therefore the Compliance Checker test should accept alphanumeric IDs of 5 digits, and numeric IDs of 7 digits only?  Just making sure we're testing with the proper criteria.

cc @daltonkell

[2020-03-10 18:56] kbailey-noaa commented on #748
@fgayanilo @mwengren In short, NDBC harvests many variables from the RAs, and only a subset are sent on to the GTS.
GTS-worthy = variables useful for weather and ocean models and forecasters.

**Variables NDBC accepts:**
Meteorological: Winds (direction, speed, gust), air temperature, dew point, relative humidity, barometer, sea surface temperature, short wave and long wave radiation
Oceanographic

[2020-03-11 17:16] mwengren opened #762 "Add syntax check for 'platform_id'"
I updated guidance for the `platform_id` attribute as follows:

- `platform_id` should be a single alphanumeric string with no blank spaces

Can we add a check to verify the attribute contents meet the restriction, similar to `wmo_platform_code` and `platform` attributes?

[2020-03-12 14:18] mwengren commented on #760
Geez, I see we discussed and decided this already, related: #653 .  Shows how useful my memory is these days.  Although, it was over 6 months ago...

[2020-03-12 18:02] ocefpaf opened #763 "Downstream plugin failures"
The following plugins are failing with the latest 4.3.3 RC release:

- glider
- ncei
- ugrid

only sgrid is passing.

I did not inspect if the API changes broke the plugins and/or if the plugins just need some updates. More info on https://travis-ci.org/github/ioos/compliance-checker/builds/650628887

cc @mwengren

[2020-03-13 16:49] daltonkell commented on #760
So alphanumeric IDs of 5 characters and numeric IDs of 7 digits only. Got it!

[2020-03-13 17:49] mwengren opened #764 "Add test for flag_values and flag_meanings"
Most likely we'll be adding the CF flagging-variables that apply to QARTOD variables per the IOOS profile - see: https://github.com/ioos/ioos-metadata/pull/16.

These attributes are `flag_values` and `flag_meanings` as in Chap 3.5: http://cfconventions.org/cf-conventions/cf-conventions.html#flags.

In anticipation of that, can we add a check for these to the IOOS 1.2 plugin?  These would be recomm

[2020-03-16 17:40] daltonkell opened #768 "netCDF4.numtodate() return type discrepancy"
In accordance with https://github.com/ioos/compliance-checker/pull/767#issuecomment-599661932, any code that was using a `datetime` instance returned by `netCDF4.num2date()` may break, as the function now returns `cftime.Datetime` objects since the `1.1.0` release of `cftime`.

This raises several questions as to why the Compliance Checker automated tests were not breaking before today, but it may

[2020-03-16 18:34] daltonkell commented on #768
Addressed by https://github.com/ioos/compliance-checker/pull/769

[2020-03-16 18:34] #768 closed

[2020-03-16 18:59] daltonkell commented on #757
The `wmo_platform_code` piece of this issue is addressed by #766

[2020-03-17 18:43] mwengren opened #771 "Change notification messaging for 'ioos_ingest' attribute"
From recent CC test results posted in #766 -  [comment](https://github.com/ioos/compliance-checker/pull/766#issuecomment-600155099), messaging for `ioos_ingest` is as follows:

[code]

We don't want to actually encourage folks to add this variable unless it's desired for their particular circumstances, so can we change wording to something like:

[code]

@daltonkell can we include a fix for this i

[2020-03-17 18:49] daltonkell commented on #771
Sure -- how about we add it for when the value is anything other than "false"? So if someone puts "true" in there, it's still valid?

[2020-03-17 19:02] #754 closed

[2020-03-17 19:13] mwengren commented on #771
Sure, makes sense. Thanks!

[2020-03-17 20:45] mwengren opened #773 "Consider adding standard_name variable mappings to IOOS Requirements for GTS Ingest test?"
Placeholder issue for future discussion.

Building off of the test to be added in #759.

NDBC maintains a list of CF `standard_name` variables and associated mappings to variables they publish to the GTS.  Some info is available here: https://github.com/ioos/compliance-checker/issues/748#issuecomment-597256009.

As an addition to the check being developed to cover the [GTS ingest dataset attributi

[2020-03-18 14:30] benjwadams commented on #763
I think some of this may have to do with changes to the class hierarchy introduced when the CF 1.7 checker was added -- the class hierarchy changed.

[2020-03-18 15:56] daltonkell opened #774 "CF utilities consolidation"
There are two modules proclaiming to be utilities for the CF specification checks:
 - `cf/util.py`
 - `cfutil.py`

Both contain functionality to help with CF checks. They should be consolidated into one module. I propose consolidation into `cf/util.py`.

[2020-03-18 19:16] daltonkell commented on #764
@mwengren I think we have the machinery necessary for this already in the CF module.

Say we're testing [org_cormp_sun2.nc](http://testing.erddap.axds.co/erddap/tabledap/org_cormp_sun2.nc). The metadata for variable `air_temperature_qc_agg` looks like this:

[code]

The spec requires the `flag_values` to be an array, so the result of the CF test is:

[code]

What do you think? I can get this into

[2020-03-18 19:34] mwengren commented on #764
Sure, let's add it.  Kudos for writing reusable code.

Like I mentioned above the IOOS 1.2 check should do the following:

- note 'not present' using the standard phrasing for both `flag_values` and `flag_meanings` attributes for any QARTOD QC variables (identified by containing a valid QC standard name listed in the `qartod_variable:standard_name` table row here: https://ioos.github.io/ioos-metad

[2020-03-19 18:14] #762 closed

[2020-03-19 18:15] #764 closed

[2020-03-19 18:15] daltonkell commented on #771
Addressed by #772

[2020-03-19 18:16] #771 closed

[2020-03-19 18:18] daltonkell commented on #653
Addressed by #766

[2020-03-19 18:18] #653 closed

[2020-03-19 18:20] #758 closed

[2020-03-19 18:36] daltonkell commented on #673
I'm a bit confused about this. Whenever I use an ERDDAP URL (e.g. from TableDap), I get an error like this:

[code]

Am I doing something wrong?

[2020-03-19 18:57] kbailey-noaa commented on #760
@daltonkell @mwengren
It's alphanumeric **OR numeric IDs** of 5 characters and numeric IDs of 7 digits only.
The 5-digit IDs can represent either a shore station (e.g. AAMC1) or a buoy (e.g. 50120)

[2020-03-19 20:01] daltonkell commented on #760
All good here @kbailey-noaa :+1:

[2020-03-19 20:01] mwengren commented on #673
Hi @daltonkell.  I asked @Bobfrat this same question not too long ago when I couldn't remember myself what to do.

The answer is to leave out the format part of the request:
[code]
will work.

This is good because it give the flexibility to pick what format to request from ERDDAP for a particular test.  We may need this for IOOS 1.2 checks, but stay tuned.

[2020-03-19 20:05] mwengren commented on #653
Two-for-one issue closing, nice!

[2020-03-19 21:02] benjwadams commented on #763
@ocefpaf, the glider plugin, does have the issue I mention above along with the referenced fix.

I can't reproduce issues for ncei and ugrid on my development virtual environment running Python 3.6.  The tests pass and the few files I tried running on seem to work OK.  Any suggestions on reproducing the test failures?

[2020-03-19 22:16] ocefpaf commented on #763
The tests are run on a git checkout of latest master of the plugin and run it against compliance-checker we are testing. Here are the CI lines:

https://github.com/ioos/compliance-checker/blob/master/.travis.yml#L73-L77

I tried, from the compliance-checker work folder,

[code]

and then, from the `cc-plugin-ncei` work folder,

[code]

I was able to reproduce the same failures with this setup.

[2020-03-20 14:39] benjwadams commented on #774
While I agree this was a confusing decision, if I recall correctly a number of plugins may rely on modules being located in certain places.  Changing the location of functions may break functionality for those existing checkers as was the case here:  https://github.com/ioos/cc-plugin-glider/pull/39

[2020-03-20 14:43] daltonkell commented on #774
Perhaps we could scope out what might need to be done for these plugins to align everything

[2020-03-20 14:47] benjwadams commented on #763
I'm not presently using conda, but I wasn't able to reproduce this when checked out against 4.3.3rc1, doing `python setup.py develop`, and running the tests.

I'll see if I can test this out under conda.

[2020-03-20 14:49] ocefpaf commented on #763
It should not matter unless we have some broken packages. I'll try the pip route too and see if I can debug that.

PS: the only reason I use `conda` is b/c that is the recommended way to get `cf_units` b/c of `udunits` and b/c it is what we use on the CIs.

[2020-03-20 15:29] daltonkell opened #777 ""ut_scale(): NULL factor argument" printed during IOOS check"
When running the IOOS checker, the following is printed out before any output:

[code]

It seems the culprit is caused by trying to initialize a `cf_units.Unit()` object with `'0'`:

[code]

In this case, the variable with units `'0'` is

[code]

from https://pae-paha.pacioos.hawaii.edu/erddap/tabledap/WQB-04.das

While the `ValueError` is correctly excepted, the message is still printed to `stdou

[2020-03-20 16:08] daltonkell commented on #763
I tried to debug using `pip` as well:

[code]

for glider, ncei, and ugrid; for sgrid:

[code]

I was able to successfully run the tests for
  - ugrid
  - sgrid

Unsuccessfully ran tests for
  - glider
  - ncei

[2020-03-20 19:04] daltonkell commented on #723
Closing with the merging of #778

[2020-03-20 19:04] #723 closed

[2020-03-20 19:04] daltonkell commented on #673
Closing with the merging of #778

[2020-03-20 19:04] #673 closed

[2020-03-23 19:39] daltonkell commented on #763
### Update

After the `glider` fix put forth, those tests are passing successfully. I had mistakenly not run `python setup.py develop` before conducting the `ncei` tests, so those run successfully as well.

@ocefpaf are you still having issues?

[2020-03-23 19:55] ocefpaf commented on #763
BTW I'm not having issues. These errors are reports from the CI matrix here in this repository. The [logs are from the rc release](https://travis-ci.org/github/ioos/compliance-checker/builds/650628887). I marked those as expected failures to avoid holding off merges for issues that are beyond the `compliance-checker` control but you can always use those CI failures as a guide.

BTW, the logs for t

[2020-03-25 21:13] mwengren commented on #758
Confirmed this issue resolved as of 4.3.3rc2

[2020-03-25 21:19] mwengren commented on #771
Confirmed this is resolved as of 4.3.3rc2 by testing this dataset:

http://erddap.secoora.org/erddap/tabledap/edu_usf_marine_comps_1407d550

[2020-03-25 21:28] mwengren commented on #757
Testing this dataset as of 4.3.3rc2:

http://erddap.sensors.ioos.us/erddap/tabledap/ssbn7-sun2wave-sun2w-sunset-n

Shows that the `gts_ingest` output is still appearing in results.

For both **'required, if applicable'** global `gts_ingest` and `wmo_platform_code` attributes, as mentioned above, we should skip reporting on them if they are omitted in the dataset.

Only if each attribute is present

[2020-03-25 21:44] mwengren commented on #760
Testing with dataset: http://erddap.secoora.org/erddap/tabledap/edu_usf_marine_comps_1407d550 as of 4.3.3rc2, the following issues listed above all still remain:

Test| Message|Issue
--------|----------|------
gts_ingest | gts_ingest must be a string "true" or "false" | The dataset includes: `String gts_ingest "true"`
platform | The global attribute "platform" must be a single string containing no

[2020-03-25 21:49] mwengren opened #780 "Incomplete notification message for 'qartod_variables flags' test"
Testing with dataset: http://erddap.secoora.org/erddap/tabledap/edu_usf_marine_comps_1407d550 with 4.3.3rc2, the following messages are produced for the 'qartod_variables flags' test:

Test| Message
--------|----------
qartod_variables flags | s.air_temperature_qc_agg's flag_values must be an array of values not

[2020-03-25 21:55] mwengren opened #781 "Improve formatting of message for 'gts_ingest requirements' test"
Related to #759.

Testing in 4.3.3rc2 for dataset: http://erddap.secoora.org/erddap/tabledap/edu_usf_marine_comps_1407d550

Can we change the message formatting so there are two bulleted items:
* The following variables qualifed for GTS Ingest: [list of variables]
* The following variables did not qualify for GTS Ingest: [list of variables]

Test| Message
--------|----------
gts_ingest requirement

[2020-03-25 22:21] mwengren commented on #760
Also, at some point, the wording for the gts_ingest check was this:

'If provided, the global attribute "gts_ingest" must be a string and its value must be one of "true" or "false"'

but in 4.3.3rc2, it is:

'gts_ingest must be a string "true" or "false"'.

Did I miss something?  Maybe I was testing off of master branch before, but I would expect that to have been included in the RC.   I think the

[2020-03-26 13:05] daltonkell commented on #760
@mwengren I tested both the `.nc` and `.ncCF` datasets against the RC2, but couldn't reproduce your results.

### Install steps
[code]

Here are the results:

### edu_usf_marine_comps_1407d550.nc
[code]

### edu_usf_marine_comps_1407d550.ncCF
[code]

[2020-03-26 13:11] daltonkell commented on #780
When I test against the same dataset, I get

[code]

which seem to be complete. @benjwadams can you reproduce?

[2020-03-26 13:17] mwengren commented on #760
HI @daltonkell.  I'm not sure what's going on.  Possible something amiss in my conda env after I ran the update to 4.3.3rc2, but also another possibility is I'm running it by passing in the ERDDAP dataset URL directly, rather than download in advance like you are.  Here's what I did to produce those results:
[code]
Please try that to see if results are different for you.

[2020-03-26 13:20] mwengren commented on #780
@daltonkell check my comment in #760 for different usage approaches.

Also, I'm looking at the HTML output while testing these, it's possible the results there are different than in the JSON output.

[2020-03-26 13:27] daltonkell commented on #757
@mwengren it seems that the text output (default) doesn't output this message, but the HTML output and JSON output do... strange. I think I'll open a new issue for this.

[2020-03-26 17:53] ancillary opened #782 "check_child_attr_data_types error from cf tests"
We are getting the following error message from the cf:1.7 and cf:1.6 tests run on this [netcdf file](https://gyre.umeoce.maine.edu/ncei/neracoos/A01/A0142.ocean.001m.merged.nc) (and all of our other netcdf files).

Running Compliance Checker on the datasets from: ['A0101.ocean.001m.merged.nc']
WARNING: The following exceptions occured during the cf:1.7 checker (possibly indicate compliance checke

[2020-03-27 14:58] benjwadams commented on #782
Curious.  For some reason the string-like value `_FillValue` is getting side as `bytes` here.  In pretty much all string-like attributes, `str` is returned under Python 3.

In the offending variable, `missing_value` is also "0", but is a `str` type when read through netCDF4-Python:

[code]

[2020-03-27 16:28] benjwadams opened #784 "JSON/HTML output renders results with messages even if result passes (result display rendering logic discrepancies)"
The HTML and JSON formats will output any result objects which contain messages, even if the result itself passes.  This behavior is different than the plaintext output, which does not appear to output results when a given result passes.   Ideally the rendering of all results should use consistent rules.

Related to, and probably causing issues in #780, #757, #760.

[2020-03-30 15:13] daltonkell opened #785 "CF actual_range float comparison"
There is an attempted float comparison in the `actual_range` check:

https://github.com/ioos/compliance-checker/blob/5cab47362d80ebf9dc9afcf7c1cf2c3c4a97edcb/compliance_checker/cf/cf.py#L4006-L4017

Should look into using float comparison testing methods from `numpy`, or else precision nuances may indicate failures when datasets are compliant.

[2020-03-30 15:20] benjwadams commented on #785
Use `numpy.isclose` and similar methods.

[2020-03-30 19:58] benjwadams commented on #782
Since merging #783, unhandled exceptions no longer occur when a `bytes` value is input to `_FillValue`, among others.  Closing.

[2020-03-30 19:58] #782 closed

[2020-03-31 14:22] mwengren commented on #748
@daltonkell I think after last week's webinar, we've settled on the modified rules for CF featureType checking for the 'Platform' check here.  If this doesn't make sense, please let me know.

Can we adapt this check to vary depending on the value of the `featureType` attribute for a dataset (including different warning messages for each)?  Reason is that we decided to allow multiple features (dime

[2020-03-31 15:20] daltonkell commented on #780
Related to #784; there seems to be an issue rendering the `type` representation -- the issue being that the `type` string is not printed out, yielding a cut-off message

[2020-03-31 15:25] daltonkell commented on #760
@mwengren After the most recent commits, I've tested the text, JSON, and HTML output and it's looking clean. Could you verify?

[2020-03-31 21:07] mwengren commented on #760
@daltonkell It looks good.  I tested both:
[code]

This is a little nit-picky, and I may be flip-flopping what I requested somewhat, but I actually liked how at one point when the `gts_ingest` attribute was either missing or not `true` presumably, the following message appeared in the output:

Test | Message
-- | --
gts_ingest requirements | Dataset not flagged for GTS Ingest; skipping variable ch

[2020-04-01 13:14] daltonkell commented on #760
@mwengren Some context: the problem we were running into was that, on the HTML/JSON output, the messages were being displayed on checks even if they passed, while the text output on the CLI only displayed messages if the check failed. To make the behavior you describe above consistent across all output formats--that is, display a message on failure and on passing--we might have to fail the check a

[2020-04-01 14:48] daltonkell commented on #748
@mwengren Looking into this now, are there a few datasets you have in mind I could test on?

[2020-04-01 16:18] daltonkell commented on #748
@mwengren additionally, is the same messaging and logic intended for `featureType==trajectory` as `featureType==trajectoryProfile` above?

[2020-04-01 16:23] mwengren commented on #748
@daltonkell Based on what you said in https://github.com/ioos/compliance-checker/issues/760#issuecomment-607241827, for the `timeSeries` case above, we might have to fail the check in order to display the message, even though it would technically be passing (it's more of a warning message, which I don't think we have the concept of in CC).  For all the others, these would be actual test failures.

[2020-04-01 16:26] daltonkell commented on #748
Cool. I'm thinking that for the instances where the `timeSeries` check "fails", we can use a lower-priority message so it appears more as a warning than as an explicit failure. Depending on which strictness criteria is specified when invoking the test, the message might not even show up -- how does that sound?

[2020-04-01 16:47] daltonkell commented on #748
So, the way I have the logic set up right now is:

[code]

It seems that both http://testing.erddap.axds.co/erddap/tabledap/sun2wave_timeseries_profile and http://testing.erddap.axds.co/erddap/tabledap/sun2wave_timeseries_micah don't have the `platform` global attribute -- at least, it doesn't look like it from the DAS. Does that check out with you?

[2020-04-01 17:12] mwengren commented on #748
Actually, this specific check is pretty critical to this system design, so I'd want it to appear as a 'high priority' message.

Now that I think of it, we really need this to be part of the GTS ingest test and associated metadata profile guidance.  NDBC will be harvesting ERDDAP datasets based on the assumption they all represent one 'platform'.  If a provider puts multiple platforms in a single d

[2020-04-01 17:42] daltonkell commented on #748
A far as
[code]

goes, my logic was this:

If the dataset doesn't have a platform global attribute but has platform variable(s), it should fail the check regardless of variable dimensions, `featureType`, or `cf_role`.

If we want to check the platform variables for dimensions, featureType, and cf_role like stated above *regardless* of whether the dataset has a `platform` global attribute or not, I

[2020-04-01 18:09] mwengren commented on #748
Yes, let's test each separately (existing platform checks and platform dimension).  I think that will be less confusing.

I can think of three:

1. global attribute `platform`
1. variable attribute(s) `platform` - point to single 'Platform Variable' name
1. dimension of CF DSG station|profile|trajectory variable (aka 'Platform Variable') - name of this should match value of # 2, but may not (this

[2020-04-01 18:40] daltonkell commented on #748
Those are great -- I'm all for smaller, more compact checks. I'll even toss some pseudo-code in here so we can work through that if it looks strange

[2020-04-02 14:37] daltonkell commented on #748
I think this pseudo-code summarizes the strategy of what we're looking for:

[code]

Shout out any questions or inputs you may have